<route lang="yaml">
meta:
    neededAccess: 'uc' #UserControl
</route>
<script lang="ts">
import { useNotyf } from '/@src/composable/useNotyf'
import { useViewWrapper } from '/@src/stores/viewWrapper';
import { createApi } from '/@src/composable/useApi';
import { useHead } from '@vueuse/head';
import { AccessRoles, User } from '/@src/models/users';
import { useUserSession } from '/@src/stores/userSession';
export default {
    data() {
        return {
            // @ts-ignore
            requestedId: <String>this.$route.params.id,
            userSession: useUserSession(),
            editPassword: true,
            api: createApi(),
            viewWrapper: useViewWrapper(),
            user: ref<User>(),
            notyf: <any>undefined,
        };
    },
    methods: {
        async onSubmit(user: User, userImage: File) {
            this.user = user
            let { '_id': _, ...sendUser } = this.user
            let putData: any
            if (this.userSession.user?.roles?.includes(AccessRoles.UserControl))
                putData = sendUser
            else
                if (user.password)
                    putData = { password: user.password }
            this.api.post(`api/users/`, putData).then((resp) => {
                console.log({putData})
                try {
                    if (resp.status == 201) {
                        let imagePutData = new FormData()
                        imagePutData.append('username', `${resp.data.username}`)
                        imagePutData.append('image', userImage)
                        this.api.put(`api/users/${resp.data._id}`, imagePutData, { headers: { 'Content-Type': 'multipart/form-data' } }).catch((e) => this.notyf.error(e.response))
                        this.notyf.success('Your user was created!')
                        this.$router.push('/app/settings/users/list')
                    } else
                        typeof resp.data.message == 'string'
                            ? this.notyf.error(resp.data.message)
                            : resp.data.message.map((e: string) => this.notyf.error(e))
                } catch (err) {
                    console.error(err)
                }
            })
                .catch((err) => {
                    let resp = err.response
                    typeof resp.data.message == 'string'
                        ? this.notyf.error(resp.data.message)
                        : resp.data.message.map((e: string) => this.notyf.error(e))
                });
        },
    },
    watch: {
    },

    mounted() {
        this.notyf = useNotyf();
        this.viewWrapper.setPageTitle(`Add a new Team Member`);
        useHead({
            title: `Razhman - Add a new Team Member`,
        });
        this.notyf = useNotyf()
    },
}
</script>
<template>
    <div class="page-content-inner">
        <UserForm :userProp="user" :on-submit-callback="onSubmit" />
    </div>
</template>
    
<style lang="scss">
@import '/@src/scss/abstracts/all';

button.filepond--file-action-button {
    background-color: var(--danger);
}

.account-box {
    @include vuero-s-card;

    &.is-navigation {
        .media-flex-center {
            padding-bottom: 20px;

            .flex-meta {
                span {
                    &:first-child {
                        font-size: 1.3rem;
                    }
                }
            }
        }

        .account-menu {
            .account-menu-item {
                display: flex;
                align-items: center;
                padding: 12px 16px;
                border: 1px solid transparent;
                border-radius: 8px;
                margin-bottom: 5px;
                transition: all 0.3s; // transition-all test

                &.router-link-exact-active {
                    box-shadow: var(--light-box-shadow);
                    border-color: var(--fade-grey-dark-3);

                    span,
                    i {
                        color: var(--primary);
                    }

                    .end {
                        display: block;
                    }
                }

                &:not(.router-link-exact-active) {
                    &:hover {
                        background: var(--fade-grey-light-3);
                    }
                }

                i {
                    margin-right: 8px;
                    font-size: 1.1rem;
                    color: var(--light-text);

                    &.fas,
                    .fal,
                    .far {
                        font-size: 0.9rem;
                    }
                }

                span {
                    font-family: var(--font-alt);
                    font-size: 0.95rem;
                    color: var(--dark-text);
                }

                .end {
                    margin-left: auto;
                    display: none;
                }
            }
        }
    }

    &.is-form {
        padding: 0;

        &.is-footerless {
            padding-bottom: 20px;
        }

        .form-head,
        .form-foot {
            padding: 12px 20px;

            .form-head-inner,
            .form-foot-inner {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .form-head {
            border-bottom: 1px solid var(--fade-grey-dark-3);
            transition: all 0.3s; // transition-all test

            &.is-stuck {
                background: var(--white);
                padding-right: 80px;
                border-left: 1px solid var(--fade-grey-dark-3);
            }

            .left {
                h3 {
                    font-family: var(--font-alt);
                    font-size: 1.2rem;
                    line-height: 1.3;
                }

                p {
                    font-size: 0.95rem;
                }
            }
        }

        .form-foot {
            border-top: 1px solid var(--fade-grey-dark-3);
        }

        .form-body {
            padding: 20px;

            .fieldset {
                padding: 20px 0;
                max-width: 480px;
                margin: 0 auto;

                .fieldset-heading {
                    margin-bottom: 20px;

                    h4 {
                        font-family: var(--font-alt);
                        font-weight: 600;
                        font-size: 1rem;
                    }

                    p {
                        font-size: 0.9rem;
                    }
                }

                .v-avatar {
                    position: relative;
                    display: block;
                    margin: 0 auto;

                    .edit-button {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }

                .setting-list {
                    .setting-form {
                        text-align: center;

                        .filepond-profile-wrap {
                            margin: 0 auto 10px !important;
                        }
                    }

                    .setting-item {
                        display: flex;
                        align-items: center;
                        margin-bottom: 24px;

                        .icon-wrap {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 50px;
                            min-width: 50px;
                            height: 50px;
                            border-radius: var(--radius-rounded);
                            background: var(--fade-grey-light-2);
                            border: 1px solid var(--fade-grey-dark-3);
                            color: var(--light-text);

                            &.has-img {
                                border-color: var(--primary);

                                img {
                                    width: 36px;
                                    min-width: 36px;
                                    height: 36px;
                                }
                            }

                            i {
                                font-size: 1.4rem;
                            }
                        }

                        img {
                            display: block;
                            width: 50px;
                            min-width: 50px;
                            height: 50px;
                            border-radius: var(--radius-rounded);
                            border: 1px solid transparent;
                        }

                        .meta {
                            margin-left: 10px;

                            >span {
                                font-family: var(--font);
                                display: block;

                                &:first-child {
                                    font-family: var(--font-alt);
                                    font-weight: 600;
                                    color: var(--dark-text);
                                    font-size: 0.9rem;
                                }

                                &:nth-child(2),
                                &:nth-child(3) {
                                    font-size: 0.85rem;
                                    color: var(--light-text);

                                    i {
                                        position: relative;
                                        top: -2px;
                                        font-size: 4px;
                                        margin: 0 6px;
                                    }
                                }

                                &:nth-child(3) {
                                    color: var(--primary);
                                }

                                span {
                                    display: inline-block;
                                }
                            }
                        }

                        .end {
                            margin-left: auto;
                        }
                    }
                }
            }
        }
    }
}

.is-dark {
    .account-box {
        @include vuero-card--dark;

        &.is-navigation {
            .account-menu {
                .account-menu-item {
                    &.router-link-exact-active {
                        background: var(--dark-sidebar-light-8);
                        border-color: var(--dark-sidebar-light-12);

                        i,
                        span {
                            color: var(--primary);
                        }
                    }

                    &:not(.router-link-exact-active) {
                        &:hover {
                            background: var(--dark-sidebar-light-10);
                        }
                    }

                    span {
                        color: var(--dark-dark-text);
                    }
                }
            }
        }

        &.is-form {

            .form-head,
            .form-foot {
                border-color: var(--dark-sidebar-light-12);
            }

            .form-head {
                &.is-stuck {
                    background: var(--dark-sidebar);
                    border-color: var(--dark-sidebar-light-6);
                }

                .left {
                    h3 {
                        color: var(--dark-dark-text);
                    }
                }
            }

            .form-body {
                .fieldset {
                    .fieldset-heading {
                        h4 {
                            color: var(--dark-dark-text);
                        }
                    }

                    .setting-list {
                        .setting-item {

                            >img,
                            >.icon-wrap,
                            >.icon-wrap img {
                                border-color: var(--dark-sidebar-light-12);
                            }

                            >.icon-wrap {
                                background: var(--dark-sidebar-light-2);
                            }

                            .meta {
                                >span {
                                    &:nth-child(3) {
                                        color: var(--primary);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
</style>
    