<route lang="yaml">
    meta:
        neededAccess: 'uc' #UserControl
</route>
<script lang="ts">
import { useHead } from '@vueuse/head'

import { useViewWrapper } from '/@src/stores/viewWrapper'

import VButton from "/@src/components/base/button/VButton.vue";
import { createApi } from "/@src/composable/useApi";
import { useNotyf } from "/@src/composable/useNotyf";
import { User } from '/@src/models/users';
const api = createApi();
export default {
    components: {},
    data() {
        // defining empty table data
        return {
            isDeleteModalOpen: false,
            page: 1,
            totalPages: 0,
            limit: 5,
            totalItems: 0,
            filterText: "",
            users: <User[]>[],
            notyf: useNotyf(),
            isLoading: true,
        };
    },
    watch: {
        async filterText() {
            await this.fetchUsers();
        },
        async limit() {
            await this.fetchUsers();
        },
        async page() {
            await this.fetchUsers();
        },
    },
    methods: {
        async fetchUsers() {
            this.isLoading = true;
            // Fetching Users from api
            try {
                let resp = await api.get("api/users", {
                    params: {
                        limit: this.limit,
                        page: this.page,
                        query: this.filterText != '' ? {
                            $or: [
                                { "first_name": { $regex: ".*" + this.filterText + ".*", $options: 'i' }, },
                                { "last_name": { $regex: ".*" + this.filterText + ".*", $options: 'i' }, },
                                { "username": { $regex: ".*" + this.filterText + ".*", $options: 'i' }, },
                            ]
                        } : {},
                    },
                });
                this.users = resp.data.result.result.map((u: any) => new User(u));
                this.page = resp.data.result.pagination.page;
                this.limit = resp.data.result.pagination.limit;
                this.totalItems = resp.data.result.pagination.total;
            } catch (err) {
                console.log(err);
            }
            this.isLoading = false;
        },
        async deleteSelected() {
            this.isLoading = true;
            this.isDeleteModalOpen = false;
            try {
                let resp = await api.delete("api/users", {
                    params: {
                        ids: this.users.filter((r) => r.selected).map((r) => r["_id"]),
                    },
                });
                if (resp.status == 200) {
                    this.notyf.success("Selected users has been removed!");
                    await this.fetchUsers();
                } else this.notyf.error(resp.data.message);
            } catch (err) {
                console.log(err);
            }
            this.isLoading = false;
        },
    },
    computed: {},
    created() {
        // Fetch data for table as soon as component mounts
        this.fetchUsers();
    },
    mounted() {
        this.notyf = useNotyf();
        useViewWrapper().setPageTitle(`Team Members`);
        useHead({
            title: `Razhman - Team Members`,
        });
    },
};
</script>
<template>
    <div class="container my-6">

        <div class="columns mb-1">
            <div class="column columns py-0 mb-0">
                <div class="column is-3">
                    <VField>
                        <VControl>
                            <VLoader v-if="isLoading" translucent grey size="small" />
                            <VAction grey :active="!users.find((e) => !e.selected)" rounded dark="5" @click="users.forEach(
                                (v, k) => (users[k]['selected'] = !users[k]['selected'])
                            )
                                " elevated class="pr-5 py-5">
                                <VCheckbox class="px-0 ml-2" :checked="!users.find((e) => !e.selected)" color="info" circle
                                    outlined @click="users.forEach(
                                        (v, k) => (users[k]['selected'] = !users[k]['selected'])
                                    )
                                        " />
                                {{
                                    users.find((e) => !e.selected)
                                    ? users.find((e) => e.selected) && !isLoading
                                        ? "Reverse Selection"
                                        : "Check All"
                                    : "Uncheck All"
                                }}
                            </VAction>
                        </VControl>
                    </VField>
                </div>
                <div class="column columns is-justify-content-end pt-2 mt-2">
                    <VModal :open="isDeleteModalOpen" size="small" actions="center" noscroll title=""
                        @close="isDeleteModalOpen = false">
                        <template #content>
                            <i class="iconify mx-auto is-block is-size-1 has-text-danger" data-icon="feather:alert-octagon"
                                aria-hidden="true"></i>
                            <h2 class="is-size-3 has-text-centered">Are you sure?</h2>
                            <p class="has-text-centered">
                                You're about to delete
                                {{ users.filter((r) => r.selected).length }} user(s).<br />
                                Click on delete to confirm. <br />
                                <span class="has-text-weight-bold has-text-danger">Note: </span>This action
                                is undoable
                            </p>
                        </template>
                        <template #action>
                            <VButton type="button" @click.prevent="deleteSelected" color="danger" icon="feather:trash-2"
                                raised>Delete</VButton>
                        </template>
                    </VModal>
                    <VButton class="mr-2" @click="isDeleteModalOpen = true"
                        :disabled="users.filter((r) => r.selected).length < 1" rounded raised color="danger"
                        icon="fad fa-trash">
                        Delete
                    </VButton>
                </div>
            </div>
            <div class="column py-0 is-3">
                <div class="columns">
                    <div class="column is-10 pl-0">
                        <VControl icon="feather:search">
                            <VInput v-model="filterText" class="is-rounded is-elevated" rounded placeholder="Filter"
                                aria-autocomplete="none" autocomplete="none" />
                        </VControl>
                    </div>
                    <div class="column is-1 px-0 mr-3">
                        <VIconButton v-tooltip.bubble="'New User'" color="info" icon="fad fa-plus"
                            @click="$router.push('create')" circle raised elevated>
                        </VIconButton>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="!isLoading">
            <VCard class="my-1 has-background-dark" radius="rounded" v-for="user in users" :key="user['_id']" elevated
                @click="user.selected = !user.selected" :selected="user.selected">
                <div class="columns is-align-items-center">
                    <div class="column p-0">
                        <VField>
                            <VControl>
                                <VCheckbox v-model="user['selected']" color="info" circle outlined
                                    @click="user.selected = !user.selected" />
                            </VControl>
                        </VField>
                    </div>
                    <div class="column p-0 is-flex is-justify-content-start">
                        <VAvatar color="primary" size="medium" :picture="`${user.image}`"
                            :initials="`${user.first_name?.charAt(0) || ''}${user.last_name?.charAt(0) || ''}`">
                        </VAvatar>
                    </div>
                    <div v-tooltip="user.username"
                    
                        class="column is-2 is-flex is-flex-direction-column is-align-items-center">
                        <small> Username </small>
                        <span id="username">
                            {{ user.username?.slice(0, 10) }}
                        </span>
                    </div>
                    <div class="column is-3 is-flex is-flex-direction-column is-align-items-center has-text-centered">
                        <small> Name </small>
                        <span id="name">
                            {{ user.first_name }}
                            {{ user.last_name }}
                        </span>
                    </div>
                    <div class="column is-1 is-flex is-flex-direction-column is-align-items-center has-text-centered">
                        <small> Filters </small>
                        <span id="filters">
                            {{ user.filters.ases?.length ? `${user.filters.ases?.length} AS` : '' }}
                            {{ user.filters.isps?.length ? `${user.filters.isps?.length} ISP` : '' }}
                            {{ user.filters.ips?.length ? `${user.filters.ips?.length} IP` : '' }}
                        </span>
                    </div>
                    <div v-if="false" class="column is-2 p-0 is-flex is-flex-direction-column is-align-items-center">
                        <small>Position</small>
                        <span>
                            <VTag rounded elevated color="info" :label="user['position']?.toUpperCase()" />
                        </span>
                    </div>
                    <div class="column is-3 p-0 is-flex is-flex-direction-column is-align-items-center">
                        <small>Access</small>
                        <span style="flex-wrap: wrap;">
                            <VTag v-for="role in user.roles" size="tiny" rounded elevated color="purple"
                                class="pt-1 mr-1 mb-1" :label="role.toUpperCase()" />
                        </span>
                    </div>
                    <div class="column is-flex is-justify-content-end">
                        <VIconButton v-tooltip.bubble="'Edit'" class="ml-3" elevated circle color="warning"
                            icon="fad fa-edit" @click="$router.push(`edit/${user['_id']}`)" />
                    </div>
                </div>
            </VCard>
            <VFlexPagination v-if="totalItems > limit" :item-per-page="limit" :total-items="totalItems" :current-page="page"
                :max-links-displayed="2" no-router @update:current-page="(p: any) => (page = p)" />
        </div>
        <VCard rounded elevated v-if="users.length < 1 && !isLoading" class="mt-5">
            <h1 class="has-text-centered">No results were found</h1>
            <h4 class="has-text-centered mt-2">
                <span class="is-inline-block mt-1 mr-2">Try to create a</span>
                <VAction id="add" class="mb-5" @click="$router.push('create')" size="tiny" color="info" rounded active>
                    <i class="iconify" data-icon="fad fa-plus"></i> New User
                </VAction>
            </h4>
        </VCard>
        <VPlaceloadWrap v-if="isLoading" class="is-flex-direction-column is-align-items-center">
            <VPlaceload :key="x" v-for="x in limit" class="my-2" height="65px" />
        </VPlaceloadWrap>
        <VPlaceloadWrap v-if="isLoading" class="is-justify-content-space-between">
            <VPlaceloadWrap class="is-flex-direction-row">
                <VPlaceloadAvatar :key="x" v-for="x in 4" class="mx-1" />
            </VPlaceloadWrap>
            <VPlaceloadWrap class="is-flex-direction-row">
                <VPlaceload width="70px" height="35px" class="mx-2" :key="x" v-for="x in 2" />
            </VPlaceloadWrap>
        </VPlaceloadWrap>

    </div>
</template>
<style scoped lang="scss">
.l-card[selected="true"] {
    border-color: var(--info);
    box-shadow: var(--info-box-shadow);
}

span,
small {
    overflow-wrap: anywhere;
}
</style>
