<route lang="yaml">
    meta:
        neededAccess: 'uc' #UserControl
</route>
<script lang="ts">
import { useHead } from '@vueuse/head'

import { useViewWrapper } from '/@src/stores/viewWrapper'

import VButton from "/@src/components/base/button/VButton.vue";
import { createApi } from "/@src/composable/useApi";
import { useNotyf } from "/@src/composable/useNotyf";
import { User } from '/@src/models/users';
import dayjs from 'dayjs';

import * as faLocale from 'dayjs/locale/fa';

const api = createApi();
export default {
    components: {},
    data() {
        // defining empty table data
        return {
            isDeleteModalOpen: false,
            page: 1,
            totalPages: 0,
            limit: 10,
            totalItems: 0,
            filterText: "",
            logs: <any[]>[],
            notyf: useNotyf(),
            isLoading: true,
            dayjs: dayjs,
            faLocale: faLocale,
        };
    },
    watch: {
        async filterText() {
            await this.fetchLogs();
        },
        async limit() {
            await this.fetchLogs();
        },
        async page() {
            await this.fetchLogs();
        },
    },
    methods: {
        async fetchLogs() {
            this.isLoading = true;
            // Fetching Users from api
            try {
                let resp = await api.get("api/users/logs/fetch", {
                    params: {
                        limit: this.limit,
                        page: this.page,
                        query: this.filterText != '' ? {
                            $or: [
                                { "message": { $regex: ".*" + this.filterText + ".*", $options: 'i' }, },
                                { "module": { $regex: ".*" + this.filterText + ".*", $options: 'i' }, },
                                { "username": { $regex: ".*" + this.filterText + ".*", $options: 'i' }, },
                            ]
                        } : {},
                    },
                });
                this.logs = resp.data.result.result;
                this.page = resp.data.result.pagination.page;
                this.limit = resp.data.result.pagination.limit;
                this.totalItems = resp.data.result.pagination.total;
            } catch (err) {
                console.log(err);
            }
            this.isLoading = false;
        }
    },
    computed: {},
    created() {
        // Fetch data for table as soon as component mounts
        this.fetchLogs();
    },
    mounted() {
        this.notyf = useNotyf();
        useViewWrapper().setPageTitle(`Users Logs`);
        useHead({
            title: `Razhman - Users Logs`,
        });
    },
};
</script>
<template>
    <div class="container">
        <div class="columns">
            <div class="column py-0 is-3">
                <VControl icon="fad fa-search">
                    <VInput v-model="filterText" style="text-align:left;" class="is-rounded is-elevated" rounded
                        placeholder="Filter" aria-autocomplete="none" autocomplete="none" />
                </VControl>
            </div>
        </div>
        <div v-if="!isLoading">
            <VCard v-tooltip.left="log.url" class="my-1 has-background-dark py-3" radius="rounded" v-for="log in logs"
                :key="log['_id']" elevated>
                <div class="columns is-align-items-center is-justify-content-space-between">
                    <div class="column is-2 px-0 is-flex is-flex-direction-column is-align-items-center">
                        <small> Date </small>
                        <span>
                            {{ dayjs(log.createdAt).locale(faLocale).format('YYYY/MM/DD hh:mm A') }}
                        </span>
                    </div>
                    <div class="column is-2 is-flex is-flex-direction-column is-align-items-center">
                        <small> Username </small>
                        <span>
                            {{ log.username?.slice(0, 10) }}
                        </span>
                    </div>
                    <div class="column is-2 is-flex is-flex-direction-column is-align-items-center has-text-centered">
                        <small> Module </small>
                        <span>
                            {{ log.module }}
                        </span>
                    </div>
                    <div class="column is-6 p-0 is-flex is-flex-direction-column is-align-items-start">
                        <small>Details</small>
                        <span style="flex-wrap: wrap;">
                            {{ log.message }}
                        </span>
                    </div>
                </div>
            </VCard>
            <VFlexPagination v-if="totalItems > limit" :item-per-page="limit" :total-items="totalItems" :current-page="page"
                :max-links-displayed="2" no-router @update:current-page="(p: any) => (page = p)" />
        </div>
        <VCard rounded elevated v-if="logs.length < 1 && !isLoading" class="mt-5">
            <h1 class="has-text-centered">No results were found</h1>
            <h4 class="has-text-centered mt-2">
                <span class="is-inline-block mt-1 mr-2">Try to create a</span>
                <VAction class="mb-5" @click="$router.push('create')" size="tiny" color="info" rounded active>
                    <i class="iconify" data-icon="fad fa-plus"></i> New User
                </VAction>
            </h4>
        </VCard>
        <VPlaceloadWrap v-if="isLoading" class="is-flex-direction-column is-align-items-center">
            <VPlaceload :key="x" v-for="x in limit" class="my-2" height="65px" />
        </VPlaceloadWrap>
        <VPlaceloadWrap v-if="isLoading" class="is-justify-content-space-between">
            <VPlaceloadWrap class="is-flex-direction-row">
                <VPlaceloadAvatar :key="x" v-for="x in 4" class="mx-1" />
            </VPlaceloadWrap>
            <VPlaceloadWrap class="is-flex-direction-row">
                <VPlaceload width="70px" height="35px" class="mx-2" :key="x" v-for="x in 2" />
            </VPlaceloadWrap>
        </VPlaceloadWrap>

    </div>
</template>
<style scoped lang="scss">
span,
small {
    overflow-wrap: anywhere;
}
</style>
