.is-dark {
  --background-grey: #030618;
  // --background-grey: #030618;
  --text-color: #f0f2f5;
  --border: var(--dark-sidebar-light-12);

  // override primary dark HSL (#41b883) // hsl(100, 43%, 62%)
  --primary-h: 159;
  /* Hue        */
  --primary-s: 85%;
  /* Saturation */
  --primary-l: 43%;
  /* Lightness  */

  // override dark-text dark HSL (#a2a5b9) // hsl(232, 14%, 68%)
  @include colorHsl('dark-text', 232, 14%, 68%);

  // override red HSL (#f92b60) // hsl(345, 94%, 57%)
  @include colorHsl('red', 324, 100%, 63%);
}