:root {
  --font: "IranYekan", 'Roboto', sans-serif;
  --font-alt: 'Montserrat', "IranYekan", sans-serif;
  --font-monospace: 'Fira Code', monospace;
  --font-size: 14px;
}

@import '../../assets/fonts/fontawesome/scss/fontawesome';
@import '../../assets/fonts/fontawesome/scss/fontawesome';
@import '../../assets/fonts/fontawesome/scss/duotone';
@import '../../assets/fonts/fontawesome/scss/_duotone-icons';
@import '../../assets/fonts/fontawesome/scss/solid';