$shadow-colors: 'primary', 'secondary', 'danger', 'warning', 'info', 'success', 'purple',
  'blue', 'red', 'orange', 'yellow', 'green', 'github', 'invision', 'facebook', 'amazon',
  'twitter', 'angular', 'linkedin';


:root {
  --neumorphic-shadow-inset: inset 4px 4px 15px #00000085,
    inset -4px -4px 15px #ffffff2a;
  --neumorphic-box-shadow: 10px 10px 30px #b0b5c1, -10px -10px 30px #fff;


  &.is-dark {
    --neumorphic-box-shadow: 10px 10px 20px hsla(var(--dark-sidebar-h), var(--dark-sidebar-s), calc(var(--dark-sidebar-l) + 2%), .5), -10px -10px 20px hsla(var(--dark-sidebar-h), var(--dark-sidebar-s), calc(var(--dark-sidebar-l) - 5%), .5);
  }

  --base-shadow: rgb(0 0 0 / 12%);
  --light-box-shadow: -1px 3px 10px 0 rgb(0 0 0 / 6%);
  --light-box-shadow-md: -1px 3px 10px 0 rgb(0 0 0 / 12%);

  @each $color in $shadow-colors {
    --#{$color}-shadow-from: hsl(var(--#{$color}-h) var(--#{$color}-s) var(--#{$color}-l) / 42%);
    --#{$color}-shadow-to: hsl(var(--#{$color}-h) var(--#{$color}-s) var(--#{$color}-l) / 20%);
    --#{$color}-box-shadow: 0 14px 26px -12px var(--#{$color}-shadow-from),
    0 4px 23px 0 var(--base-shadow),
    0 8px 10px -5px var(--#{$color}-shadow-to) !important;
  }
}