/*! _charts.scss | Vuero | Css Ninja 2020-2022 */

/*
    1. Apex Charts
*/

/* ==========================================================================
1. Apex Charts
========================================================================== */

.apexcharts-title-text {
  font-family: var(--font-alt) !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  color: var(--dark-text);
}

.apexcharts-legend {
  .apexcharts-legend-text {
    font-family: var(--font) !important;
  }
}

.apexcharts-xaxis,
.apexcharts-yaxis {

  .apexcharts-xaxis-texts-g,
  .apexcharts-yaxis-texts-g {
    .apexcharts-text {
      font-family: var(--font) !important;
    }
  }
}

.apexcharts-datalabels-group {
  .apexcharts-text {
    font-family: var(--font) !important;
    font-weight: 600;
  }
}

.is-dark {
  .apexcharts-ycrosshairs {
    stroke: var(--dark-sidebar-light-12) !important;
  }

  .apexcharts-title-text {
    fill: var(--dark-dark-text) !important;
  }

  .apexcharts-subtitle-text {
    fill: var(--primary);
  }

  .apexcharts-yaxis {
    .apexcharts-yaxis-texts-g {

      .apexcharts-text,
      .apexcharts-yaxis-label {
        fill: var(--dark-dark-text);
      }
    }
  }

  .apexcharts-svg {

    .apexcharts-inner,
    .apexcharts-graphical {
      .apexcharts-xaxis {
        .apexcharts-xaxis-texts-g {

          .apexcharts-text,
          .apexcharts-xaxis-label {
            fill: var(--dark-dark-text);
          }
        }

        line {
          color: var(--dark-sidebar-light-12) !important;
          stroke: var(--dark-sidebar-light-12) !important;
        }
      }

      .apexcharts-grid {
        .apexcharts-gridlines-horizontal {
          .apexcharts-gridline {
            color: var(--dark-sidebar-light-12);
            stroke: var(--dark-sidebar-light-12);
          }
        }
      }
    }
  }

  .apexcharts-gridlines-vertical {
    .apexcharts-gridline {
      color: var(--dark-sidebar-light-12);
      stroke: var(--dark-sidebar-light-12);
    }
  }

  .apexcharts-series-markers,
  .apexcharts-series-bubble {
    .apexcharts-marker {
      color: var(--dark-sidebar-light-2);
      stroke: var(--dark-sidebar-light-2);
    }
  }

  .apexcharts-pie-area,
  .apexcharts-pie-slice-0 {
    color: var(--dark-sidebar-light-12);
    stroke: var(--dark-sidebar-light-12);
  }

  .apexcharts-radialbar-area {
    // color: var(--dark-sidebar-light-2);
  }

  .apexcharts-datalabels-group {

    .apexcharts-text,
    .apexcharts-datalabel-value {
      fill: var(--dark-dark-text);
    }
  }

  .apexcharts-legend {
    .apexcharts-legend-series {
      .apexcharts-legend-text {
        color: var(--white) !important;
      }
    }
  }

  .apexcharts-yaxis,
  .apexcharts-xaxis-inversed {
    line {
      color: var(--dark-sidebar-light-12);
      stroke: var(--dark-sidebar-light-12);
    }
  }

  .apexcharts-radialbar-track,
  .apexcharts-track {
    .apexcharts-radialbar-area {
      color: var(--dark-sidebar-light-2);
      stroke: var(--dark-sidebar-light-2);
    }
  }

  .apexcharts-radar-series,
  .apexcharts-plot-series {

    >polygon,
    >line {
      fill: none !important;
      color: var(--dark-sidebar-light-12);
      stroke: var(--dark-sidebar-light-12);
    }
  }

  .apexcharts-text,
  .apexcharts-yaxis-title-text {
    fill: var(--dark-dark-text);
    font-family: var(--font);
    font-weight: 400;
  }

  .apexcharts-data-labels text {
    fill: #fff;
    font-family: var(--font);
    font-weight: 400;
  }

  .apexcharts-bar-area {
    color: var(--dark-sidebar-light-12);
  }

  .apexcharts-slices {
    .apexcharts-pie-label {
      fill: #fafafa !important;
    }
  }

  .apexcharts-tooltip {
    box-shadow: 2px 2px 6px -4px var(--dark-sidebar) !important;

    &.apexcharts-theme-light {
      border: 1px solid var(--dark-sidebar-light-12);
      background: var(--dark-sidebar-light-2);
      color: var(--dark-dark-text) !important;

      .apexcharts-tooltip-title {
        background: var(--dark-sidebar-light-2);
        border-bottom: 1px solid var(--dark-sidebar-light-12);
        color: var(--dark-dark-text);
      }

      .apexcharts-tooltip-text-value,
      .apexcharts-tooltip-text-z-value,
      .apexcharts-tooltip-series-group,
      .apexcharts-tooltip-marker {
        color: var(--dark-dark-text) !important;
      }
    }

    * {
      font-family: var(--font);
      color: inherit;
    }

    .apexcharts-yaxistooltip-text {
      color: var(--dark-dark-text) !important;
    }
  }

  .apexcharts-xaxistooltip {
    border: 1px solid var(--dark-sidebar-light-12);
    background: var(--dark-sidebar-light-2);
    color: var(--dark-dark-text) !important;

    &.apexcharts-xaxistooltip-bottom::after {
      border-bottom-color: var(--dark-sidebar-light-2);
    }

    &.apexcharts-xaxistooltip-bottom::before {
      border-bottom-color: var(--dark-sidebar-light-12);
    }

    &.apexcharts-xaxistooltip-top::after {
      border-top-color: var(--dark-sidebar-light-2);
    }

    &.apexcharts-xaxistooltip-top::before {
      border-top-color: var(--dark-sidebar-light-12);
    }

    * {
      font-family: var(--font);
      color: inherit;
    }
  }
}