<script lang="ts">
import { useHead } from "@vueuse/head";
import { useDarkmode } from "/@src/stores/darkmode";
import { useUserSession } from "/@src/stores/userSession";
import { useNotyf } from "/@src/composable/useNotyf";
import { useApi } from "/@src/composable/useApi";
import { Vue3Lottie } from 'vue3-lottie'

const api = useApi();
export default {
  data() {
    return {
      darkmode: useDarkmode(),
      isLoading: ref(false),
      notyf: useNotyf(),
      userSession: useUserSession(),
      redirect: this.$route.query.redirect as string,
      user: { username: "", password: "" },
    }
  },
  components: {
    Vue3Lottie
  },
  methods: {
    async handleLogin() {
      if (!this.isLoading) {
        this.isLoading = true;
        await this.$axios
          .post('/auth/login', {
            username: this.user.username,
            password: this.user.password,
          })
          .then(
            (userResp) => {
              this.notyf.success("ورود موفق");
              this.userSession.setToken(userResp.data.token);
              this.userSession.setUser(userResp.data.user);
              this.$socket.auth = { token: userResp.data.token }
              this.$socket.disconnect().connect()
              setTimeout(() => {
                if (this.redirect) {
                  this.$router.push(this.redirect);
                } else {
                  this.$router.push("/app");
                }
              }, 200)
            },
            (r) => {
              this.isLoading = false
              console.log(r)
              if (r.response.data.errors) this.notyf.error(r.response.data?.errors?.join("<br>"));
              else this.notyf.error(r.response.data?.message?.join("<br>"));
            }
          )


        this.isLoading = false;
      }
    },
  },
  mounted() {
    if (this.userSession.isLoggedIn) { this.$router.push(this.redirect ? this.redirect : "/app"); return }
    useHead({
      title: "Siwan - ITA Login",
    });
  }
}

</script>

<template>
  <div>
    <div class="auth-wrapper">
      <!--Single Centered Form-->
      <div class="single-form-wrap">
        <div class="inner-wrap">
          <!--Form Title-->
          <div class="column is-12 mx-auto" style="max-width:1000px">
            <!--Form-->
            <VCard class="card mt-3 p-0" style="z-index:1;overflow: hidden;background-color: var(--background-grey);">
              <div class="columns m-0">
                <div class="column is-5 is-flex has-align-contents-center" style="background-color: #0d1025;">
                  <Vue3Lottie animationLink="/animations/authAnimation.json" :height="300" :width="300" />
                </div>
                <div class="column is-7 px-5 py-6">
                  <LogoType class="is-block" style="margin:0 auto" width="200" />
                  <div class="has-text-centered my-6">
                    <h2 class="title is-2 justifyText" style="flex-direction: row-reverse;">
                      <span>سامانه</span>
                      <span class="has-text-warning">هوشمند</span>
                      <span>تحلیل</span>
                      <span>ترافیک</span>
                    </h2>
                    <h3 class="title is-3 is-bolder justifyText">
                      <span class="has-text-warning">Intelligence</span>
                      <span>Traffic</span>
                      <span>Analysis</span>
                    </h3>
                    <p>برای ورود از اطـــلاعـــات خود شـــامل نــام کــاربری و کلمــــه عبــــور استفاده کنید</p>
                  </div>
                  <form @submit.prevent="handleLogin">
                    <div class="login-form px-6">
                      <VField>
                        <VControl icon="fad fa-user">
                          <VInput v-model="user.username" type="text" placeholder="نام کاربری" autocomplete="username"
                            :class="(user.username) && 'has-text-left'" />
                        </VControl>
                      </VField>
                      <VField>
                        <VControl icon="fad fa-lock">
                          <VInput v-model="user.password" type="password" placeholder="پسورد"
                            autocomplete="current-password" :class="(user.password) && 'has-text-left'" />
                        </VControl>
                      </VField>

                      <!-- Submit -->
                      <div class="login">
                        <VButton icon="fad fa-key" :loading="isLoading" type="submit" color="primary" rounded elevated
                          bold fullwidth raised class="has-text-dark mt-3 mb-5">
                          ورود
                        </VButton>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </VCard>
          </div>
        </div>
      </div>
      <div class="bottomBar is-align-items-center is-flex is-flex-direction-column">
        <div class="is-flex is-align-items-center" style="gap:5px;">
          Developed with <i class="fad fa-heart has-text-danger"></i> by <img width="30" src="/images/logos/razhman.png"
            alt="">
        </div>
        <div class="is-flex is-align-items-center">
          All Rights Reserved ® {{ new Date().getFullYear() }}
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.card {
  box-shadow: 0 0 30px #00000093;
}

.captcha {
  position: relative;

  .captcha-refresh-button {
    position: absolute;
    top: 0;
    color: var(--dark);
    padding: 10px;
    cursor: pointer;
  }
}

label.dark-mode {
  position: absolute;
  top: 5%;
  right: 5%;
}

.auth-wrapper {
  min-height: 100vh;
  padding-top: 15vh;
  background-color: #0c0d1b;
  background-image: url('/images/patterns/auth-pattern.png');
  background-size: 200px;
  background-blend-mode: multiply;
}

.bottomBar {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
}

.justifyText {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
</style>