<script setup lang="ts">
const props = defineProps<{
  light?: boolean
}>()

const router = useRouter()
const isLoading = ref(false)

router.beforeEach(() => {
  isLoading.value = true
})
router.afterEach(() => {
  setTimeout(() => {
    isLoading.value = false
  }, 200)
})
</script>

<template>
  <div class="logoHolder is-flex is-flex-direction-column is-justified-content-center ">
    <LogoType height="20px" />
  </div>
</template>

<style lang="scss" scoped>
.logoHolder {
  margin-top: 20px;

  span {
    font-weight: bold;
    font-size: 1rem;
    margin: auto;
    color: var(--primary)
  }

  .logo {
    margin: auto;
    margin-top: 5px;
  }
}
</style>
