<script lang="ts">
import { PropType } from 'vue';

export default {
  data() {
    return {
      isOpen: true,
    }
  },
  methods: {
    toggleMenu() {
      console.log('ets')
      this.isOpen = !this.isOpen
    }
  },
  props: {
    forceHide: {
      type: Boolean as PropType<Boolean>,
      default: true,
    },
    noData: {
      type: Boolean as PropType<Boolean>,
      default: false,
    },
  },
}
</script>

<template>
  <div class="circularMenuHolder">
    <div id="circular-menu" :class="[(isOpen && !forceHide) && 'active']" class="circular-menu">
      <a class="floating-btn" @click="toggleMenu">
        <i aria-hidden="true" class="fas fa-bars"></i>
        <i aria-hidden="true" class="fas fa-times"></i>
      </a>

      <div class="items-wrapper">
        <a class="menu-item is-flex has-text-light" @click="$emit('rightPanel')">
          <i class="fad fa-flag"></i>
        </a>
        <a class="menu-item is-flex has-text-light" @click="$emit('zoomIn')">
          <i class="fad fa-search-plus"></i>
        </a>
        <a class="menu-item is-flex has-text-light" @click="$emit('setHome')">
          <i class="fad fa-home"></i>
        </a>
        <a class="menu-item is-flex has-text-light" @click="$emit('zoomOut')">
          <i class="fad fa-search-minus"></i>
        </a>
        <a class="menu-item is-flex has-text-light" @click="$emit('leftPanel')">
          <i class="fad fa-fw fa-stream"></i>
        </a>

      </div>
      <LogoType class="logoType" :color="!noData ? 'primary' : 'danger'" height="50px" />
    </div>
  </div>
</template>

<style lang="scss">
.circularMenuHolder {
  position: fixed;
  bottom: -1.5vh;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.circular-menu {
  position: relative;
  z-index: 70;
  transition: transform 0.3s;

  .logoType {
    opacity: 0;
    position: absolute;
    margin-left: -15px;
    width: 80px;
    bottom: 20px;
  }

  .menu-item,
  .logoType,
  &::after {
    opacity: 0;
    transform: scale(0);
    transition: .5s;
  }

  &.active {

    .menu-item,
    .logoType,
    &::after {
      opacity: 1;
      transform: scale(1);
    }

    &::after {
      transform: scale3d(5.5, 5.5, 1);
      transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
    }

    .floating-btn {
      // box-shadow: 0 4px 8px 0 hsl(0deg 0% 0% / 30%);
      box-shadow: var(--primary-box-shadow);

      i {
        &:first-child {
          display: none;
        }

        &:nth-child(2) {
          display: block;
        }
      }
    }

    .menu-item {
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:nth-child(1) {
        transform: translate3d(6em, -1em, 0);
      }

      &:nth-child(2) {
        transform: translate3d(4em, -4.5em, 0)
      }

      &:nth-child(3) {
        transform: translate3d(0, -6em, 0);
      }

      &:nth-child(4) {
        transform: translate3d(-4em, -4.5em, 0);
      }

      &:nth-child(5) {
        transform: translate3d(-6em, -1em, 0);
      }

    }
  }

  &::after {
    display: block;
    content: ' ';
    width: 3em;
    height: 3em;
    border-radius: var(--radius-rounded);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    // background-color: var(--primary-dark-5);
    // background-color: var(--secondary-dark-5);
    // background-color: var(--background-grey);
    background-color: #030618;
    box-shadow: var(--primary-box-shadow);
    transition: all 0.3s ease;
  }

  .floating-btn {
    width: 3.5em;
    height: 3.5em;
    border-radius: var(--radius-rounded);
    background-color: var(--primary-light-3);
    box-shadow: var(--primary-box-shadow);
    color: var(--smoke-white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    visibility: hidden;

    i {
      font-size: 0.9rem;
      transition: transform 0.2s;

      &:first-child {
        display: block;
      }

      &:nth-child(2) {
        display: none;
      }
    }
  }

  .items-wrapper {
    padding: 0;
    margin: 0;
  }

  .menu-item {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    z-index: -1;
    display: block;
    text-decoration: none;
    color: hsl(0deg 0% 100%);
    font-size: 1em;
    width: 3em;
    height: 3em;
    border-radius: var(--radius-rounded);
    text-align: center;
    line-height: 3;
    background-color: #61616115;
    transition: transform 0.3s ease, background-color 0.2s ease;

    &:hover,
    &:focus {
      background-color: #0000004d;
      transform: scale(1.2);
    }

    &.is-flex {
      display: flex;
      align-items: center;
      justify-content: center;

      .dark-mode {
        transform: scale(0.5);
      }

      >img {
        display: block;
        height: 24px;
        width: 24px;
        min-width: 24px;
        border-radius: var(--radius-rounded);
      }

      svg {
        height: 18px;
        width: 18px;
        color: var(--smoke-white);
        stroke-width: 1.6px;
      }
    }
  }
}
</style>
