<route lang="yaml">
  meta:
    neededAccess: 'av'
</route>
<script lang="ts">
import ApexChart from 'vue3-apexcharts'
import mapboxgl, { GeoJSONSource } from 'mapbox-gl'
import { radialChartOptions, protocolChartOptions } from '/@src/data/mapCharts'
import { useViewWrapper } from '/@src/stores/viewWrapper'
import { useHead } from '@vueuse/head'
import { type Map } from 'mapbox-gl'
import {
  type FeatureCollection,
  type LineString,
} from 'geojson'
import { useApi } from '/@src/composable/useApi'
import { type CountryCoords, countryLocations } from '/@src/data/countriesLocations'
import sleep from '/@src/utils/sleep'
import { Coordinate, Statistic, APIStatisticsResponse, ProtocolStatistics, ProtocolStatsType } from '/@src/data/mapTypes'
import { useUserSession } from '/@src/stores/userSession'
import { excludedWidgetsEnum } from '/@src/models/users'

const viewWrapper = useViewWrapper()
viewWrapper.setPageTitle('')
useHead({
  title: 'سامانه هوشمند تحلیل ترافیک سیوان',
})

export default {
  components: { ApexChart },
  data() {
    return {
      user: useUserSession(),
      excludedWidgetsEnum: excludedWidgetsEnum,
      protocolChartOptions: protocolChartOptions,
      radialChartOptions: radialChartOptions,
      map: <Map>{},
      iranLocation: countryLocations['IR'],
      api: useApi(),
      totalAtts: <number>0,
      locations: <Statistic[]>[],
      topProtocols: <Statistic[]>[],
      topZones: <Statistic[]>[],
      topSrcISPs: <Statistic[]>[],
      topDestISPs: <Statistic[]>[],
      topDestIPs: <Statistic[]>[],
      topServices: <Statistic[]>[],
      topGames: <Statistic[]>[],
      topDomains: <Statistic[]>[],
      topSrcASes: <Statistic[]>[],
      topDestASes: <Statistic[]>[],
      protocolStats: <ProtocolStatsType>{
        TCP: <ProtocolStatistics>{},
        UDP: <ProtocolStatistics>{},
        ICMP: <ProtocolStatistics>{},
      },
      filters: <{ [key: string]: boolean }>{ US: true },
      currentFilters: <any>[],
      lastFilters: <any>[],
      hasFilter: false,
      idThisRound: 0,
      filterInterval: setInterval(() => { }),
      hoveredCountry: { name: '', code: '', value: 0 },
      busy: false,
      forceStop: true,
      pause: false,
      noData: false,
      isReplaying: false,
      visibleLeftSide: <undefined | boolean>undefined,
      visibleRightSide: <undefined | boolean>undefined,
      visibleAdvancedFilters: <undefined | boolean>undefined,
      queueCounter: <string[]>[],
      countryLocations: countryLocations,
      srcISPs: <string[]>[],
      destISPs: <string[]>[],
      srciFaces: <string[]>[],
      dstiFaces: <string[]>[],
      destLayer: <any>undefined,
      selectedSourceCountry: '',
      selectedSrcIP: '',
      selectedDestIP: '',
      selectedSourceAS: '',
      selectedDestAS: '',
      selectedSourceISP: '',
      selectedDestISP: '',
      selectedProtocol: '',
      selectedSourcePort: '',
      selectedDestPort: '',
      selectedSourceiFace: '',
      selectedDestiFace: '',
      selectedTCPFlags: <string[]>[],
      selectedPacketSize: <number[]>[60, 1500],
      activeFilter: '',
      queueTime: 0,
      mapLoaded: false,
      dataLoaded: false,
    }
  },
  computed: {
    filterFieldsAreEmpty() {
      return !this.selectedSourceCountry &&
        !this.selectedSrcIP &&
        !this.selectedDestIP &&
        !this.selectedSourceAS &&
        !this.selectedDestAS &&
        !this.selectedSourceISP &&
        !this.selectedDestISP &&
        !this.selectedProtocol &&
        !this.selectedSourceiFace &&
        !this.selectedDestiFace &&
        !this.selectedSourcePort &&
        !this.selectedTCPFlags?.length &&
        !this.selectedDestPort
        ? true
        : false
    },
    hasSpecialFilters() {
      return (
        this.selectedProtocol ||
        this.selectedTCPFlags.length > 0 ||
        this.selectedSourcePort ||
        this.selectedDestPort ||
        (this.selectedPacketSize[0] != 60 && this.selectedPacketSize[1] != 1500)
      )
    },
    statisticTabs() {
      let tabs = [
        { label: 'Total', value: 'Total' },
        { label: 'TCP', value: 'TCP' },
        { label: 'UDP', value: 'UDP' },
        { label: 'ICMP', value: 'ICMP' },
      ]
      return tabs.filter((t) => {
        return t.label == 'Total'
          ? true
          : this.hasFilter
            ? this.selectedProtocol != ''
              ? t.value.toLowerCase() == this.selectedProtocol?.toLowerCase()
              : true
            : true
      })
    },
  },
  watch: {
    locations: {
      handler(r) {
        this.drawLines()
      },
    },
  },
  async mounted() {
    this.map = new mapboxgl.Map({
      container: document.getElementById('map-wrapper')!,
      accessToken: import.meta.env.VITE_MAPBOX_ACCESS_TOKEN,
      // Choose from Mapbox's core styles, or make your own style with Mapbox Studio,
      // style: useDarkmode().isDark ? 'mapbox://styles/mapbox/dark-v8?optimize=true' : 'mapbox://styles/mapbox/light-v8?optimize=true',
      style: 'mapbox://styles/nibadnote/clgw9hrlx003n01qtc69f1vt0?optimize=true',
      center: [60, -40],
      zoom: -1,
      maxZoom: 4,
      maxBounds: [
        [-500, -90], // Southwest coordinates
        [500, 90],
      ],
      renderWorldCopies: false,
      bearing: 5,
      pitch: 0,
      maxPitch: 50,
    })
    this.map.once('load', () => {
      // this.map.setPaintProperty('admin-0-boundary-bg', 'line-color', '#006f83');
      // this.map.setPaintProperty('background', 'background-color', '#062131');
      // this.map.setPaintProperty('water', 'fill-color', '#01111a');
      setTimeout((this.$refs.bottomBar as any).mapGoHome, 500)
      this.map.getStyle().layers.forEach((layer) => {
        if (
          layer.id.includes('marine') ||
          layer.id.includes('place') ||
          layer.id.includes('city') ||
          layer.id.includes('road') ||
          layer.id.includes('bridge') ||
          layer.id.includes('landcover') ||
          layer.id.includes('aeroway') ||
          layer.id.includes('state') ||
          layer.id.includes('landuse') ||
          layer.id.includes('building') ||
          layer.id.includes('water-label') ||
          layer.id.includes('bg') ||
          layer.id.includes('airport') ||
          layer.id.includes('poi') ||
          layer.id.includes('waterway') ||
          layer.id.includes('tunnel') ||
          (layer.id.includes('water') && layer.id != 'water') ||
          (layer.id.includes('admin') && !layer.id.includes('admin-0-boundary')) ||
          (layer.id.includes('label') && !layer.id.includes('country')) ||
          layer.id.includes('hillshade')
        )
          this.map.removeLayer(layer.id)
      })
      this.map.addLayer({
        id: `destination-boundaries`,
        source: {
          type: 'vector',
          url: 'mapbox://mapbox.country-boundaries-v1',
        },
        'source-layer': 'country_boundaries',
        type: 'fill',
        paint: {
          'fill-color': 'transparent',
          'fill-opacity': 0.2,
        },
      })
      this.map.setFilter(`destination-boundaries`, ['in', 'iso_3166_1', 'IR'])
      this.askForNewData()
      this.mapLoaded = true

    })
    this.$socket.on('mapData', this.handleMapData)
    this.$socket.on('userUpdated', this.handleUserUpdate)

  },
  beforeUnmount() {

    this.forceStop = true
    clearInterval(this.filterInterval)
    this.$socket.removeListener('mapData', this.handleMapData)
    this.$socket.removeListener('userUpdated', this.handleUserUpdate);
  },
  methods: {
    handleUserUpdate() {
      this.forceStop = true
      this.busy = false
      this.askForNewData()
    },
    askForNewData() {
      this.dataLoaded = false
      if (!this.pause) this.$socket.emit('getLiveData', 'av')
      else {
        this.queueCounter = []
        this.forceStop = false
        this.drawLines()
      }
    },
    handleMapData(notif: {
      countries: APIStatisticsResponse
      topDestIPs: APIStatisticsResponse
      topServices: APIStatisticsResponse
      topGames: APIStatisticsResponse
      topDomains: APIStatisticsResponse
      srcISPs: string[]
      destISPs: string[]
      srciFaces: string[]
      dstiFaces: string[]
      filters: any
    }) {
      this.queueTime = Date.now()
      if (this.visibleLeftSide == undefined)
        this.visibleLeftSide = true
      if (this.visibleRightSide == undefined)
        this.visibleRightSide = true
      if (this.busy) return
      this.queueCounter = []
      this.forceStop = false
      this.filters = {}
      this.lastFilters == this.currentFilters
      this.currentFilters = Object.assign({}, ...notif.filters.map((item: any) => ({ [Object.keys(item)[0]]: Object.values(item)[0] })))
      if (notif.countries.data.length > 0 && notif.countries.total > 0) {
        this.noData = false
        this.totalAtts = notif.countries.total

        this.locations = notif.countries.data.map((l) => {
          l.color = this.rgbFromPercentage(l.percentage)
          return l
        })


        this.topServices = notif.topServices.data
        this.topGames = notif.topGames.data
        this.topDomains = notif.topDomains.data
        this.topDestIPs = notif.topDestIPs.data

        this.srcISPs = notif.srcISPs
        this.destISPs = notif.destISPs

        this.srciFaces = notif.srciFaces
        this.dstiFaces = notif.dstiFaces

      } else {
        this.noData = true
        // const nowFilters = Object.keys(this.getFilters())
        //   .map((k) => {
        //     let obj: any = {}
        //     obj[k] = this.getFilters()[k]
        //     return obj
        //   })
        if (JSON.stringify(this.lastFilters) == JSON.stringify(notif.filters)) {
          this.isReplaying = true
          if (this.locations.length > 0)
            this.drawLines()
          // else
          // setTimeout(() => this.askForNewData(), 2000)
        } else {
          this.isReplaying = false
          // setTimeout(() => this.askForNewData(), 2000)
        }
      }
      this.dataLoaded = true
    },
    async drawLines() {
      if (this.locations.length < 1) return
      this.busy = true
      this.idThisRound = 0
      let locations = this.locations
      while (true) {
        if (this.forceStop) break
        if (this.map.getStyle().layers.length > 20) {
          await sleep(1)
          continue
        }
        let country = locations[Math.floor(Math.random() * locations.length)]
        if (this.queueCounter.includes(country.key)) {
          if (
            this.queueCounter.length >= locations.length &&
            this.map.getStyle().layers.filter((e) => e.id.includes('line-animation'))
              .length < 1
          ) {
            setTimeout(() => {
              this.askForNewData()
              this.busy = false
            }, 10)
            break
          }
          await sleep(1)
          continue
        }
        this.queueCounter.push(country.key)
        if (!country?.key) {
          continue
        }
        if (country.key == 'IR') {
          continue
        }
        let location: CountryCoords = countryLocations[country.key]
        if (countryLocations[country.key]) location = countryLocations[country.key]
        else {
          continue
        }
        let animationCounter = 0
        let geoJSON: FeatureCollection<LineString> = {
          type: 'FeatureCollection',
          features: [
            {
              type: 'Feature',
              geometry: {
                type: 'LineString',
                coordinates: [],
              },
              properties: [],
            },
          ],
        }
        // console.log(country);

        let lineId = 'line-animation' + country.key
        // let color = this.rgbFromPercentage(country.percentage)
        if (this.map.getLayer(lineId) == undefined) {
          this.map.addLayer({
            id: lineId,
            type: 'line',
            source: {
              type: 'geojson',
              data: geoJSON,
            },
            layout: {
              'line-cap': 'round',
              'line-join': 'round',
            },
            paint: {
              'line-color': country.color,
              'line-width': 2,
              'line-opacity': 0.6,
            },
          })
          await sleep(Math.random() * 200)
          let lineCoordinates = this.getCoords(
            location.lng,
            location.lat,
            this.iranLocation.lng,
            this.iranLocation.lat,
            30
          )
          // setTimeout(() => {
          this.map.addLayer({
            id: 'country-boundaries-' + country.key,
            source: {
              type: 'vector',
              url: 'mapbox://mapbox.country-boundaries-v1',
            },
            'source-layer': 'country_boundaries',
            type: 'fill',
            paint: {
              'fill-color': country.color,
              'fill-opacity': 0.1,
            },
            filter: ['in', 'iso_3166_1', country.key],
          })
          this.filters[country.key] = true
          await sleep(Math.random() * 300)
          this.animateLine(animationCounter, lineCoordinates, geoJSON, lineId, country)
        } else {
          if (
            !(this.map.getSource(lineId) as any)._data?.features[0].geometry.coordinates.length
          ) {
            this.map.removeLayer(lineId)
            this.map.removeSource(lineId)
            this.map.removeLayer('country-boundaries-' + country.key)
            this.map.removeSource('country-boundaries-' + country.key)
          }

          delete this.queueCounter[this.queueCounter.findIndex((c) => country.key)]
          await sleep(10)
          continue
        }
      }
    },
    getCoords(
      originLng: number,
      originLat: number,
      destLng: number,
      destLat: number,
      numOfPoints: number
    ): Coordinate[] {
      const curveAmount = Math.PI * (3 + Math.round(numOfPoints) / 50)

      const lineCoordinates: Coordinate[] = []
      numOfPoints = numOfPoints / 1.2
      const curveCoordinates = this.getCurvedLineBetweenPoints(
        originLat,
        originLng,
        destLat,
        destLng,
        curveAmount,
        numOfPoints
      )

      for (let i = 0; i < curveCoordinates.length; i++) {
        lineCoordinates.push([curveCoordinates[i][1], curveCoordinates[i][0]])
      }
      return lineCoordinates
    },
    getCurvedLineBetweenPoints(
      startLat: number,
      startLng: number,
      endLat: number,
      endLng: number,
      curveAmount: number,
      numOfPoints: number
    ): Coordinate[] {
      const coordinates: Coordinate[] = []

      const latDiff = endLat - startLat
      const lngDiff = endLng - startLng

      for (let i = 0; i < numOfPoints; i++) {
        const progress = i / (numOfPoints - 1)
        const curve = Math.sin(progress * Math.PI) * curveAmount

        const lat = startLat + latDiff * progress + curve
        const lng = startLng + lngDiff * progress

        coordinates.push([lat, lng])
      }

      return coordinates
    },
    async animateLine(
      animationCounter: number,
      lineCoordinates: number[][],
      geoJSON: FeatureCollection<LineString>,
      lineId: string,
      country: Statistic
    ) {
      if (this.forceStop) return
      if (animationCounter == lineCoordinates.length) {
        this.map.setPaintProperty('destination-boundaries', 'fill-color', country.color)
      }
      if (animationCounter < lineCoordinates.length) {
        geoJSON.features[0].geometry.coordinates.push(lineCoordinates[animationCounter])
        if (this.map.getSource(lineId)) (this.map.getSource(lineId) as GeoJSONSource).setData(geoJSON)
        animationCounter++
        requestAnimationFrame(() =>
          this.animateLine(animationCounter, lineCoordinates, geoJSON, lineId, country)
        )
      } else {
        var coord = geoJSON.features[0].geometry.coordinates
        coord.shift()
        if (coord.length > 0) {
          geoJSON.features[0].geometry.coordinates = coord;
          (this.map.getSource(lineId) as GeoJSONSource).setData(geoJSON)
          //-------------- Point2 Animation End ---------------
          animationCounter++
          if (this.forceStop) return
          requestAnimationFrame(() =>
            this.animateLine(animationCounter, lineCoordinates, geoJSON, lineId, country)
          )
        }
        if (animationCounter + 1 > lineCoordinates.length * 2 - 1) {
          if (this.filters[country.key] != undefined) {
            delete this.filters[country.key]
          }
          if (this.map.getSource(lineId) != undefined) {
            this.map.removeLayer(lineId)
            this.map.removeSource(lineId)
            this.map.removeLayer('country-boundaries-' + country.key)
            this.map.removeSource('country-boundaries-' + country.key)
          }
        }
      }
      await sleep(1)
    },
    rgbFromPercentage(percent: number, opacity = false) {
      if (percent > 99) {
        percent = 99
      }
      var r, g, b

      if (percent < 2) {
        // white to yellow
        percent *= 100
        r = 255
        g = 255
        b = Math.floor(255 * ((20 - percent) / 20))
      } else {
        // yellow to red
        r = 255
        g = Math.floor(255 * ((15 - percent) / 20))
        b = 0
      }

      return `rgb(${r},${g},${b}${opacity ? ',0.2' : ''})`
    },
    getFilters(filters: any = undefined): { [key: string]: string } {
      if (filters != undefined) {
        if (filters.selectedSourceCountry)
          this.selectedSourceCountry = filters.selectedSourceCountry
        if (filters.selectedSourceAS) this.selectedSourceAS = filters.selectedSourceAS
        if (filters.selectedDestAS) this.selectedDestAS = filters.selectedDestAS
        if (filters.selectedSourceISP) this.selectedSourceISP = filters.selectedSourceISP
        if (filters.selectedDestISP) this.selectedDestISP = filters.selectedDestISP
        if (filters.selectedSrcIP) this.selectedSrcIP = filters.selectedSrcIP
        if (filters.selectedDestIP) this.selectedDestIP = filters.selectedDestIP
        if (filters.selectedSourcePort)
          this.selectedSourcePort = filters.selectedSourcePort
        if (filters.selectedSourceiFace)
          this.selectedSourceiFace = filters.selectedSourceiFace
        if (filters.selectedProtocol) this.selectedProtocol = filters.selectedProtocol
        if (filters.selectedPacketSize)
          this.selectedPacketSize = filters.selectedPacketSize
        if (filters.selectedTCPFlags) this.selectedTCPFlags = filters.selectedTCPFlags
      }

      let obj: any = {}
      if (this.selectedTCPFlags && this.selectedTCPFlags?.length > 0) {
        obj['flags'] = this.selectedTCPFlags.join('|')
        this.selectedProtocol = 'TCP'
      }
      if (this.selectedSourceCountry) obj['src_country'] = this.selectedSourceCountry
      if (this.selectedSourceAS) obj['src_as'] = this.selectedSourceAS
      if (this.selectedDestAS) obj['dest_as'] = this.selectedDestAS
      if (this.selectedSourceISP) obj['src_isp'] = this.selectedSourceISP
      if (this.selectedDestISP) obj['dest_isp'] = this.selectedDestISP
      if (this.selectedSrcIP) obj['src_ip'] = this.selectedSrcIP
      if (this.selectedDestIP) obj['dest_ip'] = this.selectedDestIP
      if (this.selectedSourcePort) obj['src_port'] = this.selectedSourcePort
      if (this.selectedSourcePort) obj['dest_port'] = this.selectedSourcePort
      if (this.selectedSourceiFace) obj['src_iface'] = this.selectedSourceiFace
      if (this.selectedProtocol) obj['protocol'] = this.selectedProtocol
      if (
        this.selectedPacketSize &&
        this.selectedPacketSize?.[0] != 60 &&
        this.selectedPacketSize?.[1] != 1500
      ) {
        if (
          this.selectedPacketSize.filter(
            (item, pos) => this.selectedPacketSize?.indexOf(item) == pos
          ).length > 1
        ) {
          // between
          let filter = {
            range: {
              pkt_size: {
                gt: this.selectedPacketSize[0],
                lt: this.selectedPacketSize[1],
              },
            },
          }
          obj['raw_filter'] = filter
        } else {
          // str was equal and we removed the sign (=) from it
          obj['pkt_size'] =
            this.selectedPacketSize.filter(
              (item, pos) => this.selectedPacketSize.indexOf(item) == pos
            )[0] - 14
        }
      }
      return obj
    },
    filtersPanelSync(vars: any, funcName?: string, funcParameters?: any) {
      new Promise(
        (resolve, reject) => {
          for (var prop in vars) {
            if (Object.prototype.hasOwnProperty.call(vars, prop)) {
              (this.$data as any)[prop] = vars[prop]
            }
          }
          resolve(true)
        }
      ).then(funcName ? ((this as any)[funcName] as Function)(funcParameters) : () => { })
    },
    setFilters(filters: any = undefined) {
      this.dataLoaded = false
      let obj = this.getFilters(filters)
      this.$socket.emit('setUserFilter', obj)
      this.forceStop = true
      this.map.getStyle().layers.forEach((layer) => {
        if (
          layer.id.includes('line-animation') ||
          layer.id.includes('country-boundaries-')
        ) {
          this.map.removeLayer(layer.id)
          this.map.removeSource(layer.id)
        }
      })
      if (Object.values(obj).length > 0) {
        this.hasFilter = true
      } else {
        this.hasFilter = false
      } this.busy = false
    },
    removeSingleFilter(key: string) {
      this.dataLoaded = false
      if (key == 'src_country') this.selectedSourceCountry = ''
      if (key == 'src_as') this.selectedSourceAS = ''
      if (key == 'dest_as') this.selectedDestAS = ''
      if (key == 'src_isp') this.selectedSourceISP = ''
      if (key == 'dest_isp') this.selectedDestISP = ''
      if (key == 'src_ip') this.selectedSrcIP = ''
      if (key == 'dest_ip') this.selectedDestIP = ''
      if (key == 'src_port') this.selectedSourcePort = ''
      if (key == 'dest_port') this.selectedSourcePort = ''
      if (key == 'src_iface') this.selectedSourceiFace = ''
      if (key == 'protocol') this.selectedProtocol = ''
      this.setFilters()
    },
    clearFilters() {
      this.dataLoaded = false
      this.$socket.emit('setUserFilter', {})
      this.forceStop = true
      this.map.getStyle().layers.forEach((layer) => {
        if (
          layer.id.includes('line-animation') ||
          layer.id.includes('country-boundaries-')
        ) {
          this.map.removeLayer(layer.id)
          this.map.removeSource(layer.id)
        }
      })
      this.selectedSourceCountry = ''
      this.selectedSourceAS = ''
      this.selectedDestAS = ''
      this.selectedSourceISP = ''
      this.selectedDestISP = ''
      this.selectedSrcIP = ''
      this.selectedDestIP = ''
      this.selectedProtocol = ''
      this.selectedSourceiFace = ''
      this.selectedDestiFace = ''
      this.selectedSourcePort = ''
      this.selectedDestPort = ''
      this.selectedTCPFlags = []
      this.selectedPacketSize = [60, 1500]
      this.hasFilter = false
      this.busy = false
    },
  },
}
</script>
    
<template>
  <div class="mapHolder" style="position: absolute">
    <FiltersPanel av :hasFilter="hasFilter" :lastFilters="currentFilters" :srciFaces="srciFaces" :srcISPs="srcISPs"
      :destISPs="destISPs" :forceStop="forceStop" @filtersPanelSync="filtersPanelSync" />
    <CircularMenu :forceHide="forceStop" @rightPanel="visibleRightSide = !visibleRightSide"
      @leftPanel="visibleLeftSide = !visibleLeftSide" @zoomIn="($refs.bottomBar as any).mapZoom('in')"
      @zoomOut="($refs.bottomBar as any).mapZoom('out')" @setHome="($refs.bottomBar as any).mapGoHome()" />
    <BottomBar ref="bottomBar" :map="map" :noData="noData" />
    <div class="bottomBar is-flex is-flex-direction-column">
      <NoDataCard @clearFilters="clearFilters" :show="noData" :replay="isReplaying" />
    </div>
    <Transition name="fade-slow" mode="in-out">
      <VLoader v-if="forceStop" :active="forceStop" size="large" translucent>
        <div v-if="!mapLoaded" class="has-text-centered mt-5">
          <h4 class="title is-4 is-bolder">
            Loading Map...
          </h4>
          <span>
            Your computer's performance highly affects this loading period.
          </span>
        </div>
        <div v-else-if="!dataLoaded" class="has-text-centered mt-5">
          <h4 class="title is-4 is-bolder">
            Loading Data...
          </h4>
          <span>
            This might take a short while depending on your filter, Please stand by
          </span>
        </div>
        <div v-else>
          <h4 class="title is-4 is-bolder">
            Putting all together...
          </h4>
        </div>
      </VLoader>
    </Transition>
    <div id="map-wrapper" class="map-section"></div>

    <CountriesPane v-if="user.hasAccess(excludedWidgetsEnum.Countries_Pane)" :blur="noData && !isReplaying"
      :locations="locations" :filters="filters" :visibleRightSide="visibleRightSide" :forceStop="forceStop" />
    <DataPanel :blur="noData && !isReplaying" ref="applicationTab" :showOnLoad="visibleLeftSide"
      panel-name="application visibility" position="left" :forceHide="forceStop">
      <div style="width: 100%">
        <div style="height:100px;background:#191f2f6e" class="p-4 pt-6">
          <div class="is-flex">
            <img width="45" class="mr-1" style="margin-top:-5px;" src="/images/illustrations/dashboards/map/nv.svg"
              alt="">
            <div>
              <h5 class="has-text-white title is-5 m-0 has-text-weight-bold">Application Analysis</h5>
              <h5 class="has-text-white title is-5 m-0">Overview</h5>
            </div>
          </div>
        </div>
        <AnimatedWaves />
      </div>
      <div class="px-4" style="width: 100%;">
        <StatisticCard v-if="user.hasAccess(excludedWidgetsEnum.Top_Services)" class="mt-6" dataLabel="TOP 5 Services"
          type="heroCard" inCard :dataArray="topServices" />
        <StatisticCard v-if="user.hasAccess(excludedWidgetsEnum.Top_Games)" dataLabel="TOP 5 Games"
          :dataArray="topGames" />
        <StatisticCard v-if="user.hasAccess(excludedWidgetsEnum.Top_Websites)" dataLabel="TOP 5 Domains" type="heroCard"
          inCard :dataArray="topDomains" />
        <StatisticCard v-if="user.user?.username == 'ita'" dataLabel="TOP 5 IPs" type="heroCard" inCard
          :dataArray="topDestIPs" />
        <StatisticCard dataLabel="<yet to be developed/>" v-for="i in 1" class="has-text-centered is-12 dataCard mb-2">
          <div>
            <div class="uc"><i class="fad fa-exclamation-triangle"></i><br />&ltUC/></div>
          </div>
          <div v-for="j in 8" style="filter: blur(5px)">
            {{ Math.random() * 1000 }}%
            <VProgress :value="Math.random() * 50" size="tiny" />
          </div>
        </StatisticCard>
      </div>
    </DataPanel>
  </div>
</template>
<style lang="scss">
.mapHolder {
  --background-grey: #060a20;
}

.main-sidebar {
  // background-color: #081238 !important;
}




.uc {
  position: absolute;
  width: 100%;
  font-size: 40px;
  margin-top: 30px;
  padding-right: 20px;
  text-align: center;
  color: var(--warning);
}


.tabs-wrapper,
.tabs-content {
  width: 100%;
}

#map-wrapper {
  width: 100vw !important;
  height: 100vh !important;
  display: block;
  position: fixed;
  top: 0;
  left: 0;

  @media (min-width:900px) {
    left: 80px;
  }

}

.mapboxgl-control-container {
  display: none;
}

.tooltipBox {
  position: fixed;
  left: 325px;
  right: auto;
  background: #000000a6;
  border-radius: 10px;
  overflow: visible;
  display: inline-table;
  border: 1px solid var(--secondary);
  color: var(--secondary) !important;
  font-weight: 700;
}


.is-dark .tabs {
  margin-bottom: 5px;
  overflow: visible;

  ul {
    justify-content: space-between;
    border-color: transparent;
    background: #606cd945;
    border-radius: 15px;
    z-index: 99;

    li {
      a {
        border-radius: 15px;
        transition: 0.5s;
        border: 2px solid transparent !important;
        padding: .5rem 1rem;
      }

      &.is-active a {
        font-weight: bold !important;
        background-color: #ffffff21 !important;
        // border-color: var(--secondary) !important;
        color: var(--white) !important;
      }
    }
  }
}

.tabs-wrapper {
  padding: 0 15px;
}

.is-dark .tabs-wrapper.is-slider .tabs,
.is-dark .tabs-wrapper.is-triple-slider .tabs {
  border: none !important;
  background: none !important;
  height: inherit;
  max-width: inherit;
}

.is-dark .tabs-wrapper.is-slider .tabs .tab-naver,
.is-dark .tabs-wrapper.is-triple-slider .tabs .tab-naver {
  display: none;
}

.protocols-legend-marker {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 3px;
  border-style: solid;
}

.apexcharts-legend-series {
  line-height: 1rem !important;
}

.apexcharts-legend.apexcharts-align-center.apx-legend-position-bottom {
  background: #484c5e2e;
  border-radius: 15px;
  padding: 5px 0;
  margin: 1px;
  // justify-content: space-between !important;
  font-family: var(--font-alt);
  text-align: center;

  .apexcharts-legend-text {
    padding: 5px 0;
    margin-left: 0;
  }

  .apexcharts-legend-marker {
    padding: 2px;
  }

}

[id^="donutChart"] .apx-legend-position-bottom {
  background: transparent !important;
}

.bottomBar {
  position: fixed;
  bottom: 0;
  z-index: 1;
  user-select: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 0;
}
</style>