<script setup lang="ts">
export type VLoaderSize = "small" | "large" | "xl";
export type VLoaderWrapperRadius = "regular" | "smooth" | "rounded";
export interface VLoaderProps {
  size?: VLoaderSize;
  card?: VLoaderWrapperRadius;
  active?: boolean;
  grey?: boolean;
  translucent?: boolean;
}

const props = withDefaults(defineProps<VLoaderProps>(), {
  size: undefined,
  card: undefined,
});
</script>

<template>
  <div class="has-loader" :class="[props.active && 'has-loader-active']">
    <div class="spinnerHolder">
      <div class="gradient-border">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200.000000 700.000000"
          preserveAspectRatio="xMidYMid meet" initial="hidden" animate="visible" height="100%" width="100%">
          <g transform="translate(0.000000,1053.000000) scale(0.100000,-0.100000)" stroke="none">
            <path class="r_body" stroke-width="20" fill="none"
              d="M2907 9910 c-80 -10 -124 -33 -152 -80 -20 -35 -20 -48 -20 -950 0 -902 0 -915 20 -950 12 -19 36 -43 55 -55 35 -20 42 -20 2785 -25 2184 -4 2758 -8 2787 -18 40 -14 78 -54 78 -83 0 -32 -47 -75 -117 -107 -37 -17 -671 -256 -1408 -532 -737 -276 -1902 -713 -2590 -970 -687 -258 -1293 -484 -1346 -503 -179 -65 -236 -106 -259 -185 -8 -26 -10 -327 -8 -982 3 -924 3 -946 23 -979 35 -60 67 -76 148 -75 66 1 96 10 367 111 162 61 500 188 750 281 250 94 752 281 1115 417 363 136 793 296 955 357 1050 391 2166 812 2945 1108 316 121 449 191 658 349 433 325 726 833 813 1406 22 149 22 451 0 600 -36 235 -102 451 -200 652 -116 238 -229 397 -410 579 -287 287 -610 470 -1004 570 -285 72 -58 67 -3142 70 -1526 1 -2805 -2 -2843 -6z" />
            <path class="r_handle" stroke-width="20" fill="none"
              d="M8880 5234 c-80 -31 -496 -187 -925 -349 -917 -345 -886 -333 -904 -350 -8 -8 -11 -23 -7 -38 6 -25 223 -251 806 -840 183 -186 280 -277 315 -295 l50 -27 1226 -3 1225 -2 44 23 c53 28 100 107 100 167 0 80 41 34 -814 905 -286 292 -586 597 -666 678 -80 82 -162 157 -182 168 -60 31 -109 24 -268 -37z" />
          </g>
        </svg>
      </div>
      <slot>
      </slot>
    </div>
  </div>
</template>

<style lang="scss">
.has-loader {
  position: fixed;
  z-index: 999999;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-content: center;
  display: flex;
  top: -1px;
  left: -1px;
  width: calc(100vw + 1px);
  height: calc(100vh + 1px);
}

.spinnerHolder {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: -0.3rem;
    margin-left: -0.3rem;
  }
}

.gradient-border {
  width: 200px;
  height: 200px;

  --borderWidth: 3px;
  position: relative;
  border-radius: 50%;
  padding: 0.5rem;
}

.gradient-border:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% + var(--borderWidth) * 1);
  width: calc(100% + var(--borderWidth) * 1);
  // background: linear-gradient(60deg,
  //     var(--primary) 0%,
  //     transparent 17%,
  //     transparent 83%,
  //     var(--info)) 85%;

  z-index: -1;
  // box-shadow: 0px -1px 5px var(--primary), 0px 1px 5px var(--info);
  animation: animatedgradient 5s ease-in-out alternate infinite;
  background-size: 100% 100%;
}

@keyframes animatedgradient {
  70% {
    rotate: 500deg;
    // background-position: 0% 0%;
    box-shadow:
      inset 0px -1px 3px var(--primary),
      0px -1px 3px var(--primary),
      inset 0px 1px 3px var(--info),
      0px 1px 3px var(--info);
  }

  // 50% {
  //   rotate: 500deg;
  //   // box-shadow: 0px 0px 1px var(--primary), 0px 0px 1px var(--info);
  //   // background-position: 100% 200%;
  // }

  // 70% {
  //   rotate: 0;
  //   box-shadow: 0px -1px 5px var(--primary), 0px 1px 5px var(--info);
  //   // background-position: 0% 0%;
  // }
}

.r_handle {
  stroke: var(--primary);
  fill: transparent;
  stroke-dasharray: 10000;
  stroke-dashoffset: 10000;
  animation: handle 5s ease-in-out infinite;
  transform: translateY(10%) translateX(-10%);
  // opacity: 0;
}

.r_body {
  stroke: var(--primary);
  fill: transparent;
  stroke-dasharray: 50000;
  stroke-dashoffset: 50000;
  animation: body 5s ease-in-out infinite;
  // opacity: 1;
}

@keyframes handle {
  10% {
    // fill: transparent;
  }

  25% {
    stroke-dashoffset: 0;
  }

  50% {
    opacity: 1;
    fill: var(--primary);
    transform: translateY(0%) translateX(0%);

  }

  75% {
    fill: var(--info);
    stroke: var(--info);
  }

  85% {
    // fill: transparent;
  }

}

@keyframes body {
  10% {
    // fill: transparent;
  }

  25% {
    stroke-dashoffset: 0;
  }

  50% {
    opacity: 1;
    fill: var(--primary);
    stroke-dashoffset: 50000;
  }

  75% {
    fill: var(--info);
    stroke: var(--info);
  }

  85% {
    stroke-dashoffset: 0;
    // fill: transparent;
  }

}
</style>
