<route lang="yaml">
    meta:
    neededAccess: 'uc' #UserControl
</route>
<script lang="ts">
import { useNotyf } from '/@src/composable/useNotyf'
import { AccessRoles, User, excludedWidgetsEnum } from '/@src/models/users'
import { useViewWrapper } from '/@src/stores/viewWrapper';
import { onceImageErrored } from '/@src/utils/via-placeholder'
import { createApi } from '/@src/composable/useApi';
import { useUserSession } from '/@src/stores/userSession';
const { y } = useWindowScroll()
export default {
    props: {
        userProp: <any>{},
        onSubmitCallback: Function || undefined,
    },
    data() {
        return {
            editPassword: true,
            userSession: useUserSession(),
            api: createApi(),
            viewWrapper: useViewWrapper(),
            user: new User({ filters: { ases: [], isps: [], ips: [] }, excludedWidgets: [] }),
            userDefaultState: <any>{},
            isUploading: ref(false),
            isLoading: ref(false),
            notyf: <any>undefined,
            userNewImg: <any>undefined,
            AccessRolesEnum: AccessRoles,
            accessRoles: Object.keys(AccessRoles).reduce((ret: any, key) => {
                // @ts-ignore
                ret[AccessRoles[key]] = key;
                return ret;
            }, {}),
            asList: [],
            ispList: [],
            widgetList: excludedWidgetsEnum,
            onError: onceImageErrored,
        };
    },
    computed: {
        isScrolling: () => y.value > 30,
        submitIcon() {
            return (this.user._id) ? 'fad fa-refresh' : 'fad fa-plus'
        },
        submitLabel() {
            return (this.user._id) ? 'Update User' : 'Add User'
        },
    },
    methods: {
        resetForm() {
            this.user = new User(this.$props.userProp)
        },
        onAddFile(error: any, fileInfo: any) {
            if (error) {
                console.error(error)
                return
            }

            const _file = fileInfo.file as File
            if (_file) {
                this.userNewImg = _file
                this.user.image = ''
            }
        },
        onRemoveFile(error: any, fileInfo: any) {
            if (error) {
                console.error(error)
                return
            }

            this.userNewImg = null
            this.user.image = null
        },
        async onSave() {
            this.isLoading = true
            if (this.editPassword && !this.user.password) this.notyf.error('Password should not be empty')
            else if (this.user.username == '') this.notyf.error('Username should not be empty')
            else if (!this.user.username?.match(/^[a-zA-Z\-]+$/g)) this.notyf.error('Enter a valid Username')
            else
                if (this.onSubmitCallback) this.onSubmitCallback(this.user, this.userNewImg);
            this.isLoading = false
        }
    },
    created() {
        this.user = { ...this.user, ...this.$props.userProp }
        this.notyf = useNotyf()
        this.api.get('/ita/asList').then((resp) => {
            this.asList = resp.data
        })
        this.api.get('/ita/ispList').then((resp) => {
            this.ispList = resp.data
        })
    },
    mounted() {
        this.userDefaultState = JSON.parse(JSON.stringify({ ...this.userProp }))
    },
    watch: {
        user() {
            if (this.user._id) this.editPassword = false
        },
        "$props.userProp": {
            deep: true,
            handler(r: User) {
                this.user = new User({ ...r });
            },
        },
        "user.roles"(e) {
            if (e.includes(AccessRoles.All)) {
                let { ['All']: _, ...rolesTemp } = AccessRoles
                this.user.roles = Object.values(rolesTemp)
            }
        }
    }
}
</script>
<template>
    <!--Edit Profile-->
    <div class="column mx-auto is-7">
        <form class="form-body" autocomplete="off">
            <h4 class="title is-4 mt-3 mb-0">
                <i class="fa-duotone fa-user-shield"></i> Personal Information
            </h4>
            <VCard class="my-5">
                <div class="has-text-centered my-2">
                    <div class="avatarHolder">
                        <VField>
                            <VControl>
                                <VFilePond class="profile-filepond" name="image" :chunk-retry-delays="[500, 1000, 3000]"
                                    label-idle="<i style='font-size:2em!important;' class='fad fa-cloud-upload'></i>"
                                    :accepted-file-types="['image/jpeg']" :image-preview-height="300"
                                    :files="user.image ? [user.image] : []" :image-resize-target-width="150"
                                    :image-resize-target-height="150" image-crop-aspect-ratio="1:1"
                                    style-panel-layout="compact circle" style-load-indicator-position="center bottom"
                                    style-progress-indicator-position="right bottom"
                                    style-button-remove-item-position="left bottom"
                                    style-button-process-item-position="right bottom" @addfile="onAddFile"
                                    @removefile="onRemoveFile" />
                            </VControl>
                        </VField>
                        <!-- <VAvatar size="xl" color="primary"
                            v-bind:initials="`${user?.first_name?.slice(0, 1)} ${user?.last_name?.slice(0, 1)}`" /> -->
                    </div>
                    <div class="fieldset-heading mt-5">
                        <h4>{{ user?.first_name }} {{ user?.last_name }}</h4>
                        <p>{{ user?.position }}</p>
                    </div>
                </div>
                <!--Fieldset-->
                <div class="fieldset">

                    <div class="columns is-multiline">
                        <!--Field-->
                        <div class="column is-12">
                            <VField>
                                <VControl icon="fad fa-at">
                                    <VInput type="text"
                                        :disabled="!userSession.user?.roles?.includes(AccessRolesEnum.UserControl)" r
                                        id="username"
                                        v-model="user.username" placeholder="Username" autocomplete="off" />
                                </VControl>
                            </VField>
                        </div>
                        <!--Field-->
                        <div class="column is-5">
                            <VField>
                                <VControl icon="fad fa-user">
                                    <VInput type="text"
                                    id="firstname"
                                        :disabled="!userSession.user?.roles?.includes(AccessRolesEnum.UserControl)"
                                        v-model="user.first_name" placeholder="First Name" />
                                </VControl>
                            </VField>
                        </div>
                        <!--Field-->
                        <div class="column is-7">
                            <VField>
                                <VControl icon="fad fa-user">
                                    <VInput type="text"
                                        :disabled="!userSession.user?.roles?.includes(AccessRolesEnum.UserControl)"
                                        v-model="user.last_name" placeholder="Last Name" id="lastname" />
                                </VControl>
                            </VField>
                        </div>
                        <!--Field-->
                        <div class="column is-12">
                            <VField v-slot="{ id }">
                                <VControl icon="fad fa-briefcase">
                                    <VInput type="text"
                                        :disabled="!userSession.user?.roles?.includes(AccessRolesEnum.UserControl)"
                                        v-model="user.position" placeholder="Position" id="position" autocomplete="organization-title" />
                                </VControl>
                            </VField>
                        </div>
                        <!--Field-->
                        <div class="column is-12">
                            <VField addons class="mb-0">
                                <VControl prepend icon="fad fa-lock" :class="(!editPassword) ? 'is-disabled' : ''">
                                    <VIconBox style="height:38px;background:var(--secondary-dark-30)"></VIconBox>
                                </VControl>
                                <VControl expanded :class="(!editPassword) ? 'is-disabled' : ''">
                                    <VInput type="password" v-model="user.password" placeholder="Temp Password" id="password" />
                                </VControl>
                                <VControl v-if="!editPassword">
                                    <VIconButton class="is-rounded" @click="editPassword = true" icon="fad fa-edit">
                                    </VIconButton>
                                </VControl>
                                <VControl v-else-if="editPassword && user._id != ''">
                                    <VIconButton class="is-rounded"
                                        @click="() => { editPassword = false; user.password = undefined }" color="danger"
                                        icon="fad fa-times">
                                    </VIconButton>
                                </VControl>
                            </VField>
                            <div class="fieldset-heading my-0 pl-1">
                                <Transition name="fade-fast" mode="in-out">
                                    <p v-if="!editPassword">Only fill this if you're willing to change
                                        {{ userSession.user?._id == user._id ? 'your' : `${user.username}'s` }}
                                        password</p>
                                </Transition>
                            </div>
                        </div>
                    </div>
                </div>
            </VCard>
            <h4 class="title is-4 mt-3 mb-0"><i class="fa-duotone fa-square-dashed-circle-plus"></i> Module Access</h4>
            <VCard v-if="userSession.user?.roles?.includes(AccessRolesEnum.UserControl)" class="my-5">
                <!--Fieldset-->
                <div class="fieldset my-3">
                    <div class="fieldset-heading">
                        <h4>User Module Access</h4>
                        <p>Make sure to select needed user access</p>
                    </div>
                    <div class="columns is-multiline">
                        <!--Field-->
                        <div class="column is-12">
                            <VField v-slot="{ id }">
                                <VControl>
                                    <Multiselect v-model="user.roles" :attrs="{ id }" mode="tags" :searchable="true"
                                        autocomplete="off" :create-tag="false" :options="accessRoles"
                                        placeholder="Select Access" />
                                </VControl>
                            </VField>
                        </div>
                    </div>
                    <div class="fieldset-heading">
                        <h4>
                            User Widget Exclude
                        </h4>
                        <p>Whatever widget you select here will hide for this user
                        </p>
                    </div>
                    <small class="has-text-warning">Note: Empty can see all widgets</small>
                    <div class="columns is-multiline">
                        <!--Field-->
                        <div class="column is-12">
                            <VField v-slot="{ id }">
                                <VControl>
                                    <Multiselect v-model="user.excludedWidgets" :attrs="{ id }" mode="tags"
                                        :searchable="true" autocomplete="off" :create-tag="false" :options="Object.keys(widgetList)
                                                .filter(kee => isNaN(Number(kee)) === false)
                                                .map(
                                                    (key: string) => {
                                                        return {
                                                            label: Object.values(widgetList)[parseInt(key)].toString().replaceAll('_', ' '),
                                                            value: parseInt(key)
                                                        }
                                                    }
                                                )" placeholder="Exclude list" />
                                </VControl>
                            </VField>
                        </div>
                    </div>
                </div>
            </VCard>
            <h4 class="title is-4 mt-3 mb-0"><i class="fad fa-network-wired"></i> Network Data Access</h4>
            <VCard v-if="userSession.user?.roles?.includes(AccessRolesEnum.UserControl)" class="my-5">
                <div class="fieldset my-4">

                    <div class="fieldset-heading">
                        <h4>
                            <img src="/images/illustrations/dashboards/map/as.svg" width="30" style="filter:invert(1)">
                            User AS Access
                        </h4>
                        <p>Make sure to select needed user AS
                        </p>
                    </div>
                    <small class="has-text-warning">Note: Empty can access all ASes</small>
                    <div class="columns is-multiline">
                        <!--Field-->
                        <div class="column is-12">
                            <VField v-slot="{ id }">
                                <VControl>
                                    <Multiselect v-model="user.filters.ases" :attrs="{ id }" mode="tags" :searchable="true"
                                        autocomplete="off" :create-tag="false" :options="asList"
                                        placeholder="Select AS Access" />
                                </VControl>
                            </VField>
                        </div>
                    </div>
                </div>
                <div class="fieldset my-4">
                    <div class="fieldset-heading">
                        <h4>
                            <img src="/images/illustrations/dashboards/map/isp.svg" width="30" style="filter:invert(1)">
                            User ISP Access
                        </h4>
                        <p>Make sure to add needed user ISP
                        </p>
                    </div>
                    <small class="has-text-warning">Note: Empty can access all ISPs</small>
                    <div class="columns is-multiline">
                        <!--Field-->
                        <div class="column is-12">
                            <VField v-slot="{ id }">
                                <VControl>
                                    <Multiselect v-model="user.filters.isps" :attrs="{ id }" mode="tags" :searchable="true"
                                        autocomplete="off" :create-tag="true" :options="ispList"
                                        placeholder="Add ISP Access" />
                                </VControl>
                            </VField>
                        </div>
                    </div>
                </div>
                <div class="fieldset my-4">
                    <div class="fieldset-heading">
                        <h4>
                            <img src="/images/illustrations/dashboards/map/protocol.svg" width="30"
                                style="filter:invert(1)">
                            User IP Access
                        </h4>
                        <p>Make sure to add needed user IP
                        </p>
                    </div>
                    <small class="has-text-warning">Note: Empty can access all IPs</small>
                    <div class="columns is-multiline">
                        <!--Field-->
                        <div class="column is-12">
                            <VField v-slot="{ id }">
                                <VControl>
                                    <Multiselect v-model="user.filters.ips" :attrs="{ id }" mode="tags" :searchable="true"
                                        autocomplete="off" :create-tag="true" :options="user.filters.ips"
                                        placeholder="Add IP Access" />
                                </VControl>
                            </VField>
                        </div>
                    </div>
                </div>
            </VCard>
            <div class="my-5">
                <div class="buttons">
                    <VField addons>
                    </VField>
                    <VField addons>
                        <VControl>
                            <Transition name="fade-slow" mode="in-out">
                                <VButton
                                    v-if="userSession.user?.roles?.includes(AccessRolesEnum.UserControl) || editPassword"
                                    rounded class="px-3 py-0"
                                    @click="!userSession.user?.roles?.includes(AccessRolesEnum.UserControl) ? $router.go(-1) : $router.push('/app/settings/users/list')"
                                    icon="fad fa-arrow-left rem-100" primary dark-outlined>
                                    Go Back
                                </VButton>
                            </Transition>
                        </VControl>
                        <VControl v-if="userSession.user?.roles?.includes(AccessRolesEnum.UserControl)">
                            <VButton rounded class="px-3 py-0" raised :loading="isLoading" icon="fad fa-times" tabindex="0"
                                @click="resetForm">
                                Reset Form
                            </VButton>
                        </VControl>
                        <VControl v-if="userSession.user?.roles?.includes(AccessRolesEnum.UserControl) || editPassword">
                            <Transition name="fade-slow" mode="in-out">
                                <VButton rounded class="px-3 py-0 has-text-dark" color="secondary" raised id="submit"
                                    :loading="isLoading" :icon="submitIcon" tabindex="0" @keydown.space.prevent="onSave"
                                    @click="onSave">
                                    {{ submitLabel }}
                                </VButton>
                            </Transition>
                        </VControl>
                    </VField>
                </div>
            </div>
        </form>
    </div>
</template>
    
<style scoped lang="scss">
// @import '/@src/scss/abstracts/all';

button.filepond--file-action-button {
    background-color: var(--danger);
}

.control.has-icon {
    .v-icon {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

input:placeholder-shown {
    direction: ltr;
}

.avatarHolder {
    margin-top: -80px;
    display: inline-block;
    padding: 1rem;
    padding-bottom: 0.6rem;
    background: var(--dark-sidebar-light-2);
    border-radius: var(--radius-rounded);
    box-shadow: 0 -5px 10px var(--secondary-shadow-to);
}
</style>