<route lang="yaml">
meta:
  requiresAuth: true
</route>

<script lang="ts">
import { useNotyf } from '../composable/useNotyf'
import { useUserSession } from '../stores/userSession';


export default {
  data() {
    return {
      route: useRoute(),
      notyf: useNotyf(),
    }
  },
  computed: {
    defaultSidebar() {
      if (this.$route.fullPath.includes("pi"))
        return 'pi'
      else if (this.$route.fullPath.includes("pps"))
        return 'pps'
      else if (this.$route.fullPath.includes("settings"))
        return 'settings'
    }
  },
  created() {
    this.$socket.on('msgToClient', (notif: { message: string, status: string }) => {
      this.notyf.dismissAll()
      // @ts-ignore
      this.notyf[notif.status](notif.message)
    })
  }
}
</script>

<template>
  <SidebarLayout close-on-change :default-sidebar="defaultSidebar">
    <RouterView v-slot="{ Component }">
      <Transition name="fade-fast" mode="out-in">
        <component :is="Component" />
      </Transition>
    </RouterView>
  </SidebarLayout>
</template>
