<script setup lang="ts">
import { useHead } from '@vueuse/head'

import packageJson from '../../package.json'
import { useDarkmode } from '/@src/stores/darkmode'

type TabId = 'elements' | 'components' | 'forms' | 'plugins'
const activeTab = ref<TabId>('elements')
const darkmode = useDarkmode()

useHead({
  title: 'Siwan - ITA',
})
const router = useRouter()
router.push('app')
</script>

<template>
  <div></div>
</template>

<style lang="scss">
@import '/@src/scss/abstracts/all';
@import '/@src/scss/_demo/landing';
</style>
