<route lang="yaml">
meta:
    requiresAuth: true
</route>
    
<script lang="ts">
import { useNotyf } from '../composable/useNotyf'
import { useUserSession } from '../stores/userSession';


export default {
    data() {
        return {
            route: useRoute(),
            notyf: useNotyf(),
        }
    },
    computed: {
        defaultSidebar() {
            return 'network'
        }
    },
    created() {
        this.$socket.on('msgToClient', (notif: { message: string, status: string }) => {
            this.notyf.dismissAll()
            // @ts-ignore
            this.notyf[notif.status](notif.message)
        })
    }
}
</script>
    
<template>
    <SidebarLayout close-on-change :default-sidebar="defaultSidebar">
        <RouterView v-slot="{ Component }">
            <Transition name="fade-fast" mode="out-in">
                <component :is="Component" />
            </Transition>
        </RouterView>
    </SidebarLayout>
</template>
    
<style  lang="scss">
.view-wrapper {
    // margin-right: 0 !important;
    // margin-left: 0 !important;
    overflow-y: hidden;
    overflow-x: scroll;
}

.progress {
    background-color: #7474742f !important;

    &.is-small {
        height: 0.5rem;
    }
}

.vue-apexcharts {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#map-wrapper {
    cursor: all-scroll;
}
</style>