/*! _dark.scss | Vuero | Css ninja 2020-2022 */

/*
    1. Layout Dark mode
*/

/* ==========================================================================
1. Layout Dark mode
========================================================================== */

.is-dark {
  background: var(--background-grey);

  &.is-chat-side-collapsed {
    background: var(--dark-sidebar-light-5) !important;
  }

  &.opened {
    background: var(--dark-sidebar-light-5);
  }

  .pageloader {
    background: var(--dark-sidebar-light-10);
  }

  .infraloader {
    background: var(--dark-sidebar-light-15) !important;
  }

  .page-title {
    h1 {
      color: var(--primary-grey-light-3);
    }
  }

  .menu-toggle i {
    background: var(--secondary);
    color: var(--secondary--color-invert);
  }

  .minimal-wrapper {
    background: var(--dark-sidebar-light-10);
    border-color: var(--dark-sidebar-light-10);
  }

  .zoom-overlay {
    background: var(--dark-sidebar-light-10);
    border-color: var(--dark-sidebar-light-10);
  }
}