/*! _layout.scss | Vuero | Css ninja 2020-2022 */

/*
    1. App Layout
    2. View Wrapper
    3. Page Content
    4. Page Title / Toolbar
    5. Minimal Wrapper
    6. Media Queries
*/

/* ==========================================================================
1. App layout
========================================================================== */

body {
  background: var(--body-color);
  background: var(--background-grey);

  &.opened {
    background: var(--white);
  }

  &.is-fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
  }

  &.is-curved {
    background: #f2f2f2;
  }
}

.app-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0 0 0);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;

  &.is-active {
    opacity: 0.8;
    z-index: 9999;
  }
}

.overlay-highlight {
  position: relative;
  z-index: 99999 !important;
}

/* ==========================================================================
4. Page Title / Toolbar
========================================================================== */

.is-navbar {
  .page-title {
    display: none;
    margin-bottom: 0;
  }
}

.page-title {
  position: relative;
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;

  .title-wrap {
    margin-left: 1rem;

    h1 {
      text-align: right;
      margin-bottom: 0;
    }

    p {
      line-height: 1;
      color: var(--light-text);
      font-size: 1.1rem;
    }
  }
}

.new-indicator {
  position: absolute;
  top: 1px;
  right: 1px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: var(--radius-rounded);
  background: var(--danger);
}

.toolbar {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;

  .control {
    min-width: 280px;
    margin-right: 1rem;
  }

  .dark-mode {
    transform: scale(0.55);
  }

  .toolbar-notifications {
    margin: 0 4px;

    .dropdown {
      &:hover {
        .is-trigger {
          background: var(--white);
          border-color: var(--fade-grey);
          border-radius: var(--radius-rounded);
          box-shadow: var(--light-box-shadow);
        }
      }

      .is-trigger {
        position: relative;
        height: 34px;
        width: 34px;

      }

      .dropdown-menu {
        .dropdown-content {
          top: 2.5rem;
          line-height: 1.5;
          color: var(--dark-text);
          width: 20rem;
          background: var(--white);
          border-radius: 5px;
          box-shadow: var(--light-box-shadow);
          padding-top: 0;

          .heading {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 1rem;
            border-bottom: 0.01rem solid var(--light-grey);
            margin-bottom: 0;

            .heading-left {
              h6 {
                font-size: 0.8rem;
                font-weight: 500;
                color: var(--light-text);
                line-height: 1.6;
              }
            }

            .heading-right {
              .notification-link {
                margin: 0.4rem 0;
                color: var(--primary);
                font-weight: 500;
              }
            }
          }

          .notification-list {
            list-style-type: none;
            padding: 0.5rem 1rem;
            margin: 0;

            .notification-item {
              display: flex;
              padding: 0.65rem 0;

              .img-left {
                img {
                  display: inline-block;
                  vertical-align: middle;
                  height: 2.25rem;
                  width: 2.25rem;
                  margin: 0 0.5rem 0 0;
                  border-radius: var(--radius-rounded);
                  max-width: 100%;
                }
              }

              .user-content {
                text-align: left;
                font-family: var(--font);

                .user-info {
                  color: var(--dark-text);
                  font-size: 0.95rem;

                  span {
                    font-weight: 500;
                  }
                }

                .time {
                  margin: 0;
                  font-size: 0.85rem;
                  color: var(--light-text);
                }
              }
            }
          }
        }
      }
    }
  }

  .toolbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    border-radius: var(--radius-rounded);
    margin: 0 4px;
    transition: all 0.3s; // transition-all test

    &:hover {
      background: var(--white);
      border-color: var(--fade-grey);
      box-shadow: var(--light-box-shadow);
    }

    &:focus {
      outline-offset: var(--accessibility-focus-outline-offset);
      outline-width: var(--accessibility-focus-outline-width);
      outline-style: var(--accessibility-focus-outline-style);
      outline-color: var(--accessibility-focus-outline-color);
    }

    svg {
      height: 18px;
      width: 18px;
      stroke-width: 1.6px;
      color: var(--light-text);
      transition: stroke 0.3s;
    }

    img {
      display: block;
      height: 24px;
      width: 24px;
      min-width: 24px;
      border-radius: var(--radius-rounded);
    }
  }
}

/* ==========================================================================
5. Minimal Wrapper
========================================================================== */

.minimal-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: var(--lighter-grey);
  transition: all 0.3s; // transition-all test

  &.light {
    background: var(--white);
  }

  &.lighter {
    background: var(--smoke-white);
  }

  &.darker {
    background: var(--background-grey);
  }

  .minimal-wrap {
    min-height: calc(100vh - 60px);
  }
}

/* ==========================================================================
6. Media Queries
========================================================================== */

@media (max-width: 767px) {
  .page-title {
    .toolbar {
      .control {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .page-title {
    .title-wrap {
      margin-right: 0;
    }
  }
}