/*! _navbar.scss | Vuero | Css ninja 2020-2022 */

/*
    1. Webapp Subnavbar
    2. Webapp Subnavbar Dark mode
*/

/* ==========================================================================
1. Webapp Subnavbar
========================================================================== */

.navbar-subnavbar {
  position: fixed;
  width: 100%;
  height: 0;
  background: var(--white);
  opacity: 0;
  pointer-events: none;
  z-index: 99;
  transform: translateY(10px);
  border: 1px solid var(--fade-grey-dark-3);
  box-shadow: var(--light-box-shadow);
  transition: all 0.3s; // transition-all test
  max-width: 800px;
  top: 85px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: var(--radius-large);

  &.is-active {
    height: 320px;
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }

  .navbar-subnavbar-inner {
    position: relative;
    height: 100%;
    width: 100%;
    display: none;

    &.is-active {
      display: block;
    }

    .tabs {
      margin: 0 auto 10px;

      &.is-3 {
        max-width: 410px;
      }

      &.is-2 {
        max-width: 280px;
      }

      &.is-4 {
        max-width: 460px;
      }

      ul {
        display: flex;
        border: none !important;
        padding: 10px 0;

        li {
          flex: 1 1 0;

          &.is-active {
            a {
              font-weight: 600;
              color: var(--primary);
              background: var(--white);
              border-color: var(--fade-grey-dark-3);
              box-shadow: var(--light-box-shadow);
            }

            &:hover {
              a {
                background: var(--white);
              }
            }
          }

          &:hover {
            a {
              background: var(--fade-grey-light-4);
            }
          }

          a {
            text-transform: uppercase;
            font-family: var(--font-alt);
            font-size: 0.65rem;
            letter-spacing: 1px;
            padding: 10px 16px;
            border: 1px solid transparent;
            border-radius: 8px;
            margin: 0 10px;
            transition: all 0.3s; // transition-all test
          }
        }
      }
    }

    .tab-content {
      padding: 0 20px;

      .tab-content-inner {
        display: flex;
        align-items: stretch;
        min-height: 220px;

        .center {
          flex-grow: 2;
          max-width: 940px;
          max-height: 220px;
          margin: 0 auto;
          padding: 10px 20px 0;

          .columns {
            height: 100%;
          }

          .column {
            &:not(:last-child) {
              border-right: 1px solid var(--fade-grey-dark-3);
            }
          }

          .column-heading {
            font-family: var(--font-alt);
            font-size: 0.7rem;
            font-weight: 600;
            color: var(--dark-text);
            text-transform: uppercase;
            margin-bottom: 12px;
          }

          .column-placeholder {
            @include vuero-r-card;

            text-align: center;
            padding: 16px !important;
            margin-top: 4px;
            margin-bottom: 10px;

            &:hover,
            &:focus {
              border-color: var(--primary);
              box-shadow: var(--light-box-shadow);

              h3 {
                color: var(--primary);
              }
            }

            >img {
              display: block;
              width: 100%;
              max-width: 34px;
              margin: 0 auto 6px;
            }

            h3 {
              font-family: var(--font-alt);
              font-size: 0.85rem;
              font-weight: 600;
              color: var(--dark-text);
              transition: color 0.3s;
            }
          }

          ul {
            li {
              transition: color 0.3s, background-color 0.3s, border-color 0.3s,
                height 0.3s, width 0.3s;
              margin-bottom: 6px;

              &:hover,
              &:focus {
                a {
                  color: var(--primary);
                }
              }

              &.is-active {
                border-radius: 0;

                a {
                  color: var(--primary-dark-14);

                  svg {
                    opacity: 1;
                    fill: var(--primary);
                  }
                }
              }

              .router-link-exact-active {
                color: var(--primary-dark-14);

                svg {
                  opacity: 1;
                  fill: var(--primary);
                }
              }

              a {
                display: flex;
                align-items: center;
                color: var(--light-text-light-5);

                span {
                  font-family: var(--font);
                  font-size: 0.9rem;
                }

                .lnil,
                .lnir,
                .fas,
                .fal,
                .fab,
                .far {
                  margin-right: 10px;
                }

                .tag {
                  line-height: 1.6;
                  height: 1.7em;
                  font-size: 0.65rem;
                  margin-left: 0.25rem;
                }

                svg {
                  opacity: 0;
                  position: relative;
                  top: 0;
                  margin-right: 12px;
                  height: 6px;
                  width: 6px;
                  stroke-width: 2px;
                  fill: var(--primary);
                  transition: color 0.3s, background-color 0.3s, border-color 0.3s,
                    height 0.3s, width 0.3s;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* ==========================================================================
2. Webapp Subnavbar Dark mode
========================================================================== */

.is-dark {
  .navbar-subnavbar {
    .navbar-subnavbar-inner {
      .tab-content {
        .tab-content-inner {
          .center {
            .column {
              &:not(:last-child) {
                border-right: 1px solid var(--dark-sidebar-light-12) !important;
              }
            }

            .column-placeholder {
              @include vuero-card--dark;
            }
          }
        }
      }
    }
  }
}