@import './animations';
@import './dark';
@import './helpers';
@import './layout';
@import './navbar';
@import './responsive';
@import './right-panel';
// @import './sidebar-panel'; // lazyloaded
@import './transitions';
@import './typography';
@import './utilities';

@font-face {
    font-family: "IranYekan";
    src: url(/fonts/IranYekan/eot/IRANYekanWebThin.eot);
    src: url(/fonts/IranYekan/eot/IRANYekanWebThin.eot?#iefix) format("embedded-opentype"), url(/fonts/IranYekan/woff/IRANYekanWebThin.woff) format("woff"), url(/fonts/IranYekan/ttf/IRANYekanWebThin.ttf) format("truetype"), url(/fonts/IranYekan/svg/IRANYekanWebThin.svg#IranYekan) format("svg");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: "IranYekan";
    src: url(/fonts/IranYekan/eot/IRANYekanWebLight.eot);
    src: url(/fonts/IranYekan/eot/IRANYekanWebLight.eot?#iefix) format("embedded-opentype"), url(/fonts/IranYekan/woff/IRANYekanWebLight.woff) format("woff"), url(/fonts/IranYekan/ttf/IRANYekanWebLight.ttf) format("truetype"), url(/fonts/IranYekan/svg/IRANYekanWebLight.svg#IranYekan) format("svg");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "IranYekan";
    src: url(/fonts/IranYekan/eot/IRANYekanWebRegular.eot);
    src: url(/fonts/IranYekan/eot/IRANYekanWebRegular.eot?#iefix) format("embedded-opentype"), url(/fonts/IranYekan/woff/IRANYekanWebRegular.woff) format("woff"), url(/fonts/IranYekan/ttf/IRANYekanWebRegular.ttf) format("truetype"), url(/fonts/IranYekan/svg/IRANYekanWebRegular.svg#IranYekan) format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "IranYekan";
    src: url(/fonts/IranYekan/eot/IRANYekanWebMedium.eot);
    src: url(/fonts/IranYekan/eot/IRANYekanWebMedium.eot?#iefix) format("embedded-opentype"), url(/fonts/IranYekan/woff/IRANYekanWebMedium.woff) format("woff"), url(/fonts/IranYekan/ttf/IRANYekanWebMedium.ttf) format("truetype"), url(/fonts/IranYekan/svg/IRANYekanWebMedium.svg#IranYekan) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "IranYekan";
    src: url(/fonts/IranYekan/eot/IRANYekanWebBold.eot);
    src: url(/fonts/IranYekan/eot/IRANYekanWebBold.eot?#iefix) format("embedded-opentype"), url(/fonts/IranYekan/woff/IRANYekanWebBold.woff) format("woff"), url(/fonts/IranYekan/ttf/IRANYekanWebBold.ttf) format("truetype"), url(/fonts/IranYekan/svg/IRANYekanWebBold.svg#IranYekan) format("svg");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: "IranYekan";
    src: url(/fonts/IranYekan/eot/IRANYekanWebBlack.eot);
    src: url(/fonts/IranYekan/eot/IRANYekanWebBlack.eot?#iefix) format("embedded-opentype"), url(/fonts/IranYekan/woff/IRANYekanWebBlack.woff) format("woff"), url(/fonts/IranYekan/ttf/IRANYekanWebBlack.ttf) format("truetype"), url(/fonts/IranYekan/svg/IRANYekanWebBlack.svg#IranYekan) format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "IranYekan";
    src: url(/fonts/IranYekan/eot/IRANYekanWebExtraBlack.eot);
    src: url(/fonts/IranYekan/eot/IRANYekanWebExtraBlack.eot?#iefix) format("embedded-opentype"), url(/fonts/IranYekan/woff/IRANYekanWebExtraBlack.woff) format("woff"), url(/fonts/IranYekan/ttf/IRANYekanWebExtraBlack.ttf) format("truetype"), url(/fonts/IranYekan/svg/IRANYekanWebExtraBlack.svg#IranYekan) format("svg");
    font-weight: 900;
    font-style: normal
}

body,
button,
input,
optgroup,
select,
textarea {
    font-family: "IranYekan", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}