<!-- <route lang="yaml">
  meta:
    neededAccess: 'dashboard'
  </route> -->
<script lang="ts">
import mapboxgl from 'mapbox-gl';
import { useViewWrapper } from '/@src/stores/viewWrapper';
import { useHead } from '@vueuse/head';
import { type Map } from 'mapbox-gl'
import { env } from 'process';
import { FeatureCollection, GeoJsonProperties, Geometry, Position } from 'geojson';
import { line } from 'billboard.js';
import { appendFile } from 'fs';
import { useApi } from '/@src/composable/useApi';
import { countryLocations } from '/@src/data/countriesLocations';
import { useDarkmode } from '/@src/stores/darkmode';
import { random } from 'cypress/types/lodash';
import sleep from '/@src/utils/sleep';
import { count } from 'console';
import { useUserSession } from '/@src/stores/userSession';

import * as am5 from "@amcharts/amcharts5";
import * as am5map from "@amcharts/amcharts5/map";
import am5geodata_worldLow from "@amcharts/amcharts5-geodata/worldLow";



const viewWrapper = useViewWrapper()
viewWrapper.setPageTitle('سامانه هوشمند تحلیل ترافیک سیوان')
useHead({
    title: 'سامانه هوشمند تحلیل ترافیک سیوان',
})
const mapElement = shallowRef<HTMLElement>()
const locationsz = [[28.327450869191452, 27.222019040151075],
[65.5427716489766, 48.03674201414548],
[24.7364988641245, -4.82094764666152],
[80.55948003380217, 20.968239719477154],
[9.23011520588067, 55.490039356481724],
]
type Coordinate = [number, number];
type CountryInsight = { key: string, count: number };
let root: am5.Root;
let chart: am5map.MapChart;
let polygonSeries: am5map.MapPolygonSeries;
export default {
    data() {
        return {
            map: <Map>{},
            iranLocation: [36.1, 25.0],
            api: useApi(),
            locations: <CountryInsight[]>[],
            totalAtts: <number>0,
            filters: <any>[],
            idThisRound: 0,
            filterInterval: setInterval(() => { }),
            hoveredCountry: { name: '', code: '', value: 0 },
            busy: false,
            visibleSide: true,
        }
    },
    components: {},
    methods: {
        drawLines() {
            this.busy = true



            // chart.projection = new am4maps.projections.Orthographic();
            // chart.deltaLongitude = -60;

            // Remove Antarctica
            // polygonSeries.exclude = ["AQ"];

            // Add some data
            // chart.legend = new am4maps.Legend();
            // console.log(am4geodata_worldLow)
            polygonSeries.data.setAll(this.locations.map((country) => {
                let percentage = country.count / this.totalAtts * 100
                let color = this.hexFromPercentage(percentage)
                return {
                    "name": country.key,
                    "id": country.key,
                    "value": country.count,
                    polygonSettings: {
                        tooltipText: "{name}:{value}",
                        fill: am5.color(color)
                    }
                }
            }))
            console.log(this.locations.map((country) => {
                let percentage = country.count / this.totalAtts * 100
                let color = this.hexFromPercentage(percentage)
                return {
                    "name": country.key,
                    "id": country.key,
                    "value": country.count,
                    polygonSettings: {
                        fill: am5.color(0xFF3C38)
                    }
                }
            }))
            this.locations.forEach((country, index) => {
                let feature = am5geodata_worldLow.features.find((f: any) => country.key == f.id)
                let location: { lat: number, lng: number } = countryLocations[country.key]
                let percentage = country.count / this.totalAtts * 100
                let color = this.hexFromPercentage(percentage)
                // console.log(polygonSeries.data)
                // Add line series
                setTimeout(() => {
                    let lineSeries = chart.series.push(
                        am5map.MapLineSeries.new(root, {})
                    );
                    lineSeries.mapLines.template.setAll(
                        {
                            strokeWidth: percentage > 60 ? 5 : 1 + (.08 * percentage),
                            stroke: am5.color(color),
                            strokeOpacity: 0.5,
                            interactive: true,
                            stateAnimationDuration: 2000,
                            stateAnimationEasing: am5.ease.out(am5.ease.cubic),
                        }
                    )
                    lineSeries.pushDataItem({
                        geometry: {
                            type: "LineString",
                            coordinates: [
                                [location.lng, location.lat],
                                [countryLocations['IR'].lng, countryLocations['IR'].lat],
                            ]
                        },
                    })
                }, Math.random() * 2000)

            });

        },
        hexFromPercentage(percent: number, opacity = false) {
            // percent *
            if (percent > 99) {
                percent = 99
            }
            var r, g, b;

            if (percent < 2) {
                // green to yellow
                r = 255;
                g = 255;
                b = 255;

            } else {
                // yellow to red
                r = 255;
                g = Math.floor(255 * ((50 - (percent) % 50) / 60));
                b = 0;
            }

            return "#" + this.componentToHex(r) + this.componentToHex(g) + this.componentToHex(b);
            return `rgb(${r},${g},${b}${opacity ? ',0.5' : ''})`
        },
        componentToHex(c: number) {
            var hex = c.toString(16);
            return hex.length == 1 ? "0" + hex : hex;
        }


    },
    watch: {
        locations: {
            handler(r) {
                console.log('loaded')
                this.drawLines()
                // console.log(r.map((r) => r.key))
            }
        },
    },
    async mounted() {
        root = am5.Root.new("mapWrapper")
        console.log(root)
        chart = root.container.children.push(
            am5map.MapChart.new(root, {
                projection: am5map.geoNaturalEarth1(),
            })
        );
        // this.func()
        this.$socket.on('mapData', (notif: { countries: [CountryInsight], totalCounts: number }) => {
            if (notif.countries.length > 0 && notif.totalCounts > 0) {
                if (!this.busy) {
                    this.locations = notif.countries
                    this.totalAtts = notif.totalCounts
                }
            } else {
                // this.drawLines()
            }

            this.filters = []
        })

        // Create map polygon series
        polygonSeries = chart.series.push(
            am5map.MapPolygonSeries.new(root, {
                // Set map definition
                geoJSON: am5geodata_worldLow,
                exclude: ["AQ"],
            })
        );
        console.log(chart.series)

        // Configure series
        polygonSeries.mapPolygons.template.setAll({
            strokeOpacity: 0.2,
            fill: am5.color("#3e3e3e"),
            fillOpacity: 0.5,
            templateField: "polygonSettings"
        });


        // this.map.on('render', () => setTimeout(this.drawLines, 100))
        // this.map.on('load', () => setTimeout(this.drawLines, 100))
    },
    beforeUnmount() {
        clearInterval(this.filterInterval)
    }
}

</script>
  
<template>
    <div style="position: absolute;">
        <div class="logo is-flex">
            <h1 class="title is-4 mr-2 mb-0 mt-3">
                سامانه هوشمند تحلیل ترافیک سیوان
            </h1>
            <img src="/public/images/logos/siwan.png" alt="">
        </div>
        <div id="mapWrapper" class="map-section">
        </div>
        <div id="data" :class="visibleSide && 'visible'">
            <VButton color="dark" dark-outlined @click="visibleSide = !visibleSide" v-if="totalAtts > 0"
                class="has-text-centered dataCard totalCount title is-6 mb-3">
                <VIcon :icon="visibleSide ? 'feather:chevron-left' : 'feather:chevron-right'">
                </VIcon>
                <!-- Total: {{ totalAtts.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") }} -->
            </VButton>
            <!-- v-if="hoveredCountry.name != ''" -->
            <VCard v-if="false" class="mt-5 has-text-centered">
                <img class="flag" :src="`public/images/flags/${hoveredCountry.code.toLowerCase()}.svg`">
                <h5 class="title is-5">
                    <span>
                        {{ hoveredCountry.name }}<br>
                        {{ hoveredCountry.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") }}
                        /
                        {{ Math.round(hoveredCountry.value / totalAtts * 100) }}%
                    </span>
                </h5>
            </VCard>
            <VCard class="has-text-centered dataCard"
                :style="`background-color: ${hexFromPercentage(loc.count / totalAtts * 100)}; ${filters[loc.key] && colorForHtml(loc.count / totalAtts * 100)}`"
                v-for="(loc, k) in locations
                    // .filter(l => l.count > 40)
                    // .splice(0,10)
                    .map((l) => {
                        l.percentage = (l.count / totalAtts * 100).toFixed(2)
                        return l
                    })" :key="k" :class="(filters[loc.key]) && 'activeCard'">
                <img class=" flag" :src="`public/images/flags/${loc.key.toLowerCase()}.svg`">
                <br />
                {{ loc.key }}
                {{ loc.percentage }}%
                <!-- {{ loc.count.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") }} -->
            </VCard>
        </div>
    </div>
</template>
<style lang="scss">
.amcharts-countryLine path {
    stroke-linejoin: round;
    stroke-linecap: round;
    // stroke-dasharray: 200%;
    stroke-dasharray: 20rem;
    /* fixes IE prob */
    stroke-dashoffset: 10;
    /* fixes IE prob */
    -webkit-animation: lineAnimation 2s linear 1s infinite;
    animation: lineAnimation 2s linear 1s infinite;
}

@-webkit-keyframes lineAnimation {
    0% {
        stroke-dashoffset: 100%;
    }

    100% {
        stroke-dashoffset: 0%;
    }
}

@keyframes lineAnimation {
    0% {
        stroke-dashoffset: 100%;
    }

    100% {
        stroke-dashoffset: 0%;
    }
}


#mapWrapper {
    width: 100vw !important;
    height: 100vh !important;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
}

.main-sidebar,
.page-title {
    display: none;
}

#data {
    position: fixed;
    top: 0;
    left: -500px;
    width: 250px;
    height: 105vh;
    z-index: 1;
    transition: all 0.3s;
    overflow-y: scroll;
    padding-top: 6vh;
    padding-right: 5%;
    padding-bottom: 50px;
    padding-right: 50px;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    transition: 0.5s;
    justify-items: start;
    align-content: start;

    &.visible {
        left: 0;
    }
}

.view-wrapper {
    margin-right: 0 !important;
    margin-left: 0 !important;
    overflow-y: hidden;
    overflow-x: scroll;
}

img.flag {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 5px;
}

.dataCard {
    user-select: none;
    font-family: monospace;
    border-radius: 10px !important;
    padding: 5px;
    transition: background-color 1s, left .5s ease-in-out, opacity .5s, position 1s, height 1s;
    flex: 48%;
    left: 0;
    max-height: 70px;

    &.totalCount {
        width: 50px;
        flex: 50px;
        margin-top: -5.5vh;
        position: fixed;
        transition: .5s;
        cursor: pointer;
    }
}

.visible .totalCount {
    width: 200px;
    flex: 200px;
}

.activeCard {
    // background-color: var(--danger) !important;
    // position: absolute;
    // opacity: 0;
    // height: 0;
    // padding: 0;
    // left: -400px
}

.logo {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
    user-select: none;

    img {
        width: 50px;
        height: 50px;
    }
}

::-webkit-scrollbar {
    display: none;
}
</style>