<script setup lang="ts">
withDefaults(defineProps<{ color?: string }>(), {
    color: 'primary',
})
</script>
<template>
    <svg viewBox="0 0 508.01 177">
        <defs>
            <radialGradient id="dangerGradientAnimate" cx="0%" cy="100%" r="60%">
                <stop offset="0%" :stop-color="`var(--danger-light-36)`" />
                <stop offset="100%" :stop-color="`var(--danger)`" />
                <animate attributeName="cx" dur="3000ms" repeatCount="indefinite" values="-100%;100%;-100%" />
                <animate attributeName="cy" dur="3000ms" repeatCount="indefinite" values="-100%;100%;-100%" />

            </radialGradient>
            <radialGradient id="primaryGradientAnimate" cx="0%" cy="100%" r="60%">
                <stop offset="0%" :stop-color="`var(--primary-light-60)`" />
                <stop offset="100%" :stop-color="`var(--primary)`" />
                <animate attributeName="cx" dur="3000ms" repeatCount="indefinite" values="-100%;100%;-100%" />
                <animate attributeName="cy" dur="3000ms" repeatCount="indefinite" values="-100%;100%;-100%" />
            </radialGradient>
        </defs>
        <g :fill="`url(#${color}GradientAnimate)`" stroke="none">
            <path class="c"
                d="M272.99,176.86c7.63-28.17,15.27-56.33,22.88-84.51,3.76-13.93,7.19-27.96,11.26-41.79,6.8-23.1,20.41-39.67,45.11-44.97,4.72-1.01,9.51-1.61,14.34-1.61,35.94,.03,71.88,.02,107.82,.18,6.87,.03,13.45,1.77,19.67,4.88,7.95,3.98,11.28,11.19,13.82,19.03v14.98c-4.11,26.5-12.91,51.83-19.4,77.74-4.21,16.78-8.9,33.43-13.42,50.13-.6,2.21-.75,4.69-3.16,5.95h-49.98c-1.06-2.36-.07-4.6,.49-6.81,3.95-15.47,8.35-30.83,12.33-46.3,1.6-6.24,1.57-6.33-5.1-6.36-7.66-.03-15.32-.11-22.98,.03-4.24,.07-7.24-1.52-9.69-4.95-9.75-13.69-19.87-27.11-29.75-40.71-1.16-1.6-2.99-3.39-2.18-5.3,.97-2.31,3.71-1.82,5.81-1.83,24.65-.08,49.3,0,73.94-.06,5.2,0,6.59-1.22,7.36-5.49,.43-2.37-.33-3.5-2.73-3.57-1.17-.03-2.33-.04-3.5-.04-26.98,0-53.96,0-80.94,0-7.89,0-7.81,.05-9.8,7.49-9.72,36.32-19.45,72.64-29.26,108.93-.52,1.93-.94,3.93-2.96,4.96h-49.98Z" />
            <path class="c"
                d="M137.04,176.86c3.45-16.23,8.33-32.09,12.55-48.13,6.16-23.43,12.42-46.84,18.85-70.2,1.07-3.89,.34-4.77-3.64-4.74-21.64,.17-43.29-.03-64.94,.18-4.18,.04-4.57-1.07-3.54-4.74,3.81-13.58,7.42-27.23,10.91-40.9,.82-3.19,1.98-4.5,5.62-4.49,63.27,.14,126.55,.13,189.82,.02,4.09,0,4.63,.9,3.53,4.75-3.92,13.72-7.59,27.51-11.03,41.36-.85,3.42-2.47,3.97-5.54,3.96-21.81-.11-43.63,.02-65.44-.13-3.34-.02-4.91,.74-5.83,4.22-10.28,38.82-20.75,77.59-31.14,116.38-.21,.78-.15,1.64-.21,2.46-16.65,0-33.31,0-49.97,0Z" />
            <path class="c"
                d="M.1,174.86c4.29-10.96,6.57-22.49,9.64-33.8C21.72,96.86,33.48,52.61,45.21,8.34c.84-3.19,1.96-4.58,5.61-4.51,13.64,.26,27.3,.16,40.95,.07,3.18-.02,4.78-.02,3.62,4.24-15.23,56.2-30.25,112.47-45.32,168.71-15.68,0-31.35,.02-47.03-.03-1.26,0-3.55,1.05-2.94-1.96Z" />
        </g>
    </svg>
</template>