<script setup lang="ts">
import { useUserSession } from '/@src/stores/userSession';

const userSession = useUserSession();
</script>
<template>
  <VDropdown right spaced class="user-dropdown profile-dropdown">
    <template #button="{ toggle }">
      <a tabindex="0" class="is-trigger dropdown-trigger p-0" aria-haspopup="true" @keydown.space.prevent="toggle"
        @click="toggle">
        <VAvatar size="medium" color="primary" :picture="userSession.user?.image"
          v-bind:initials="`${userSession.user?.name?.slice(0, 1)}`" />
      </a>
    </template>

    <template #content>
      <div class="dropdown-head">
        <VAvatar size="medium" color="primary" :picture="userSession.user?.image"
          v-bind:initials="`${userSession.user?.name?.slice(0, 1)}`" />

        <div class="meta">
          <span>{{ userSession.user?.name }}</span>
          <span>{{ userSession.user?.position }}</span>
        </div>
      </div>

      <a :href="`/app/settings/users/edit/${userSession.user?._id}`" role="menuitem" class="dropdown-item is-media">
        <div class="icon">
          <i aria-hidden="true" class="fad fa-user"></i>
        </div>
        <div class="meta">
          <span>Profile</span>
          <span>View your profile</span>
        </div>
      </a>

      <hr class="dropdown-divider" />

      <div class="dropdown-item is-button">
        <VButton class="logout-button" icon="fad fa-lock" color="primary" role="menuitem" raised fullwidth
          @click="userSession.logoutUser(); $router.push('/auth/login')">
          Logout
        </VButton>
      </div>
    </template>
  </VDropdown>
</template>
<style lang="scss" scoped>
.button .icon:first-child:not(:last-child) {
  margin-left: calc(-0.5em - 1px);
  margin-right: 0.25em;
}
</style>