<script setup></script>
<template>
    <div>
        <!--Waves Container-->
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="#191f2f6e" />
                    <!-- <use xlink:href="#gentle-wave" x="48" y="7" fill="#191f2f6e" /> -->
                </g>
            </svg>
        </div>
        <!--Waves end-->
    </div>
</template>
<style scoped lang="scss">
.svg-border-rounded svg {
    color: #484c5e2e;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3rem;
    width: 100%;
}

.svg-border-waves svg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3rem;
    width: 100%;
}

.waves {
    // background-color: #191f2f6e;
    position: absolute;
    width: 100%;
    margin-bottom: -7px;
    // padding-bottom: 10px;
    height: 30px;
    transform: rotate(180deg);
}


/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 16s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

// @media (max-width: 768px) {
//     .waves {
//         height: 40px;
//         min-height: 40px;
//     }
// }
</style>