<script lang="ts">
import mapboxgl from 'mapbox-gl';
import { PropType } from 'vue';
import { countryLocations } from '/@src/data/countriesLocations'

export default {
    data() {
        return {
            iranLocation: countryLocations['IR']
        }
    },
    props: {
        map: {
            type: [Object, mapboxgl.Map] as PropType<mapboxgl.Map>,
            default: false
        },
        noData: {
            type: [Object, Boolean] as PropType<boolean>,
            default: false
        }
    },
    methods: {
        mapGoHome() {
            this.map.flyTo({
                center: [this.iranLocation.lng - 20, this.iranLocation.lat + 10],
                zoom: 1.5,
                pitch: 50,
                bearing: 0,
                duration: 1000,
            })
        },
        mapZoom(action: 'in' | 'out') {
            this.map.flyTo({
                center: [this.iranLocation.lng, this.iranLocation.lat],
                zoom: this.map.getZoom() + (action == 'in' ? +0.2 : -0.5),
                duration: 500,
            })
        },
        clearFilters() {
            this.$emit('clearFilters')
        }
    }
}
</script>
<template>
    <div v-if="false" class="logo is-flex is-flex-direction-column">
        <NoDataCard @clearFilters="clearFilters" :show="noData" />
        <div class="is-flex is-flex-direction-row">
            <a class="has-text-light" href="javascript:void(0)"><i style="font-size: 1.5rem"
                    class="fad fa-search-minus mr-3 mt-2" @click="mapZoom('out')"></i></a>
            <a class="has-text-light" href="javascript:void(0)"><i style="font-size: 1.5rem" class="fa fa-home mr-3 mt-2"
                    @click="mapGoHome()"></i></a>
            <a class="has-text-light" href="javascript:void(0)"><i style="font-size: 1.5rem"
                    class="fad fa-search-plus mr-3 mt-2" @click="mapZoom('in')"></i></a>
        </div>
        <div class="background is-flex is-flex-direction-column">
            <h6 class="title is-6 my-0 mr-1">سامانه هوشمند تحلیل ترافیک سیوان</h6>
            <span class="has-text-centered" style="font-size: 10px">
                راژمان الگوریتم هوپاد
            </span>
        </div>
    </div>
</template>
<style scoped lang="scss">
.logo {
    position: fixed;
    bottom: 0;
    z-index: 1;
    user-select: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 0;

    .background {
        display: flex;
        padding: 8px 30px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        background-color: #00000084;
    }

    img {
        width: 20px;
        height: 20px;
    }
}
</style>