<script lang="ts">
import { PropType } from 'vue';
import { Statistic } from '/@src/data/mapTypes';

export default {
    data() {
        return {
            canCountriesHolderScroll: true,
        }
    },
    computed: {
    },
    methods: {
        onCountriesHolderScroll(e: any) {
            const { scrollTop, offsetHeight, scrollHeight } = e.target
            this.canCountriesHolderScroll = !((scrollTop + offsetHeight) >= scrollHeight)
        }
    },
    props: {
        locations: {
            type: [Object, String] as PropType<Statistic[]>,
            default: [],
        },
        filters: {
            type: [Object, String] as PropType<{ [key: string]: boolean }>,
            default: [],
        },
        visibleRightSide: {
            type: [Object, Boolean] as PropType<boolean>,
            default: false,
        },
        forceStop: {
            type: [Object, Boolean] as PropType<boolean>,
            default: false,
        },
        blur: {
            type: [Object, Boolean] as PropType<boolean>,
            default: false,
        },
    },
    mounted() {
    }
}
</script>

<template>
    <DataPanel :blur="blur" class="countriesPane" :showOnLoad="visibleRightSide" position="right" :force-hide="forceStop"
        panel-name="COUNTRIES">
        <div class="paneTitle">
            <div class="is-flex is-align-items-end mb-2">
                <img class="mr-1" src="/images/illustrations/dashboards/map/trafficdispersion.svg" alt="" srcset="">
                <h2>Traffic Dispersion</h2>
            </div>
            <span>The Most Traffic Countries</span>
        </div>
        <VCard class="m-3 p-2" style="border-radius: 15px;">
            <div class="countriesHolder" ref="countriesHolder" @scroll="onCountriesHolderScroll">
                <VCard v-for="(loc, k) in locations" class="has-text-centered countriesCard" :class="k < 5 && 'top'" :style="[
                    filters[loc.key] &&
                    `border:1px solid ${loc.color};background-color:${loc.color?.replace(')', ',30%)')} !important;color:${loc.color};`,
                    k < 5 && `flex:none;width:100%;`]">
                    <div v-if="k == 0" class="is-flex">
                        <div class="columns is-flex-direction-column py-3 px-1">
                            <div class="is-flex is-align-items-center">
                                <h3 class="title is-3">
                                    {{ loc.percentage.toFixed(2) }}%
                                </h3>
                                <img class="flag highest ml-3" :src="`/images/flags/${loc.key.toLowerCase()}.jpg`" />
                            </div>
                            <small style="width:100%;display: block;">The Highest Rate of Incoming Traffic</small>
                        </div>
                    </div>
                    <div v-else-if="k < 5">
                        <div class="is-flex is-justify-content-space-between is-align-items-center">
                            <span>
                                <img class="flag top" :src="`/images/flags/${loc.key.toLowerCase()}.jpg`" />
                            </span>
                            <span class="column p-0 ml-1 mr-3">
                                <VProgress color="primary" :value="loc.percentage" size="small" />
                            </span>
                            <span class="percentage">
                                {{ loc.percentage.toFixed(2) }}%
                            </span>
                        </div>
                    </div>
                    <div v-else>
                        <span>
                            <img class="flag" :src="`/images/flags/${loc.key.toLowerCase()}.jpg`" />
                            {{ loc.key }}
                        </span>
                        <span>
                            {{ loc.percentage.toFixed(2) }}%
                        </span>
                    </div>
                </VCard>
                <Transition name="from-bottom" mode="in-out">
                    <div v-if="canCountriesHolderScroll" class="scrollBottomArrow">
                        <i class="fad fa-chevron-down fa-fw"></i>
                    </div>
                </Transition>
            </div>
        </VCard>
    </DataPanel>
</template>
<style scoped lang="scss">
.countriesPane {
    margin: 20px;
    height: calc(100vh - 40px) !important;
    border-radius: 20px;
    background-color: #ced4dd2e !important;

    .countriesHolder {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 5px;
        direction: ltr;
        height: calc(100vh - 165px);
        overflow: scroll;
        justify-content: start;
        align-content: start;
    }

    .paneTitle {
        margin: 1.5rem;
        margin-bottom: 0;
        width: 100%;
        color: #fff;

        img {
            width: 30px;
            filter: invert(1)
        }

        h2 {
            font-size: 1.2rem;
            line-height: 1.2rem;
            font-weight: 500;
            color: #fff;
        }

        span {
            font-size: 1.1rem;
        }
    }
}

.title.is-3 {
    color: var(--warning) !important;
    margin: 0;
    font-weight: 800;
}

.countriesCard {
    box-shadow: none !important;
    display: flex;
    justify-content: center;
    user-select: none;
    font-family: var(--font-alt);
    // font-size: .9rem;
    background: transparent !important;
    transition: background-color 1s, left 0.5s ease-in-out, opacity 0.5s, position 1s,
        height 1s;
    transition: 1s;
    flex: 25%;
    min-width: 25%;
    flex-direction: column;
    padding: 8px;
    border-radius: 10px !important;

    &.top:not(:nth-child(1)) {
        background-color: #606cd945 !important;
        border-radius: 25px !important;
    }

    span {
        display: flex;
        justify-content: center;
    }

    .percentage {
        width: 20%;
        color: var(--warning) !important;
        margin: 0;
        font-weight: 700;
        font-size: 1.2rem;
    }

    img.flag {
        width: 18px;
        height: 18px;
        object-fit: cover;
        border-radius: 20px;
        margin-right: 5px;

        &.top {
            width: 30px;
            height: 30px;
        }

        &.highest {
            width: 30px;
            height: 25px;
            border-radius: 5px;

        }
    }
}

.scrollBottomArrow {
    position: absolute;
    bottom: 1px;
    left: 45%;
    font-size: 1.3rem;
    background-color: var(--background-grey);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #e3e3e3;
    color: var(--warning);
    border-radius: 55px;

    .fad {
        animation: wiggleUpnDown infinite 3s alternate;
    }
}

@keyframes wiggleUpnDown {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(2px);
    }

    75% {
        transform: translateY(-1px);
    }

    100% {
        transform: translateY(1px);
    }
}
</style>