<script lang="ts">
import type { PropType } from "vue";

export default {
    data() {
        return {
            isVisible: this.$props.showOnLoad,
            // isVisible: true
        };
    },
    props: {
        position: {
            type: String as PropType<"left" | "right">,
            default: "right",
        },
        panelName: {
            type: String as PropType<string>,
            default: "OPEN",
        },
        order: {
            type: String as PropType<string>,
            default: "1",
        },
        forceHide: {
            type: Boolean as PropType<Boolean>,
            default: true,
        },
        showOnLoad: {
            type: Boolean as PropType<Boolean>,
            default: undefined,
        },
        blur: {
            type: Boolean as PropType<Boolean>,
            default: false,
        },
    },
    watch: {
        isVisible: {
            handler(r) {
                if (r && !this.forceHide) this.$emit("opened");
                else this.$emit("closed");
            },
        },
        forceHide: {
            handler(fh) {
                if (this.isVisible && !fh) this.$emit("opened");
                else this.$emit("closed");
            },
        },
        showOnLoad: {
            handler(e) {
                this.isVisible = e;
            },
        },
    },
    methods: {
        openTab() {
            this.isVisible = true;
        },
        closeTab() {
            this.isVisible = false;
        },
    },
};
</script>
<template>
    <Transition :name="`from-${position}`" mode="in-out">
        <div v-if="isVisible && !forceHide" :style="`z-index:${order}`" class="dataPanel scroll scroll-4"
            :class="[`${isVisible && !forceHide && 'visible'} ${position}`, blur && 'blur']">
            <slot> </slot>
        </div>
    </Transition>
</template>
<style lang="scss" scoped>
.dataPanel {
    position: fixed;
    top: 0;
    width: 300px;
    // width: 280px;
    height: 100vh;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    transition: 0.5s ease-in-out;
    // opacity: 0;
    justify-items: start;
    align-content: start;
    // background: #000000e6 !important;
    background: #060a20;
    // backdrop-filter: blur(10px);

    &.blur {
        filter: blur(15px);
    }

    &.left {
        left: 0;

        @media (min-width: 900px) {
            left: 80px;
        }
    }

    &.right {
        right: 0;
        left: auto;
    }
}

.collapseButton {
    position: fixed;
    // backdrop-filter: blur(25px);
    // border-top-right-radius: 20px;
    // border-bottom-right-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    background: #00000084 !important;
    z-index: 9999;
    width: 250px;
    transition: 0.5s ease-in-out 0.3s;

    span {
        display: flex;

        small {
            margin-top: 1.5px;
        }
    }

    &.visible {
        transition: 0.5s ease-in-out 0s;
        width: 300px;
    }

    &.left {
        left: -15px;

        @media (min-width: 900px) {
            left: 65px;
        }

        right: auto;
        padding-left: 10px;
    }

    &.right {
        right: -15px;
        left: auto;
        padding-right: 10px;
    }
}

.panelTitle {
    color: var(--primary);
    font-weight: 900;
}
</style>
