<script lang="ts">
import { PropType } from 'vue';

export default {
  // data() { return { show: true } },
  mounted() { },
  props: {
    show: {
      type: Boolean as PropType<Boolean>,
      default: '',
    }
  },
  methods: {
    added() {
      this.$emit('added')
    },
    removed() {
      this.$emit('removed')
    }
  }
}
</script>
<template>
  <div class="filterButtonsHolder">
    <Transition name="from-bottom" mode="in-out">
      <div class="fitlerButton" v-if="show" v-tooltip.left="`Click to add filter`" @click="added()">
        <i class="fad fa-plus"></i>
      </div>
    </Transition>
    <Transition name="from-top" mode="in-out">
      <div class="fitlerButton" v-if="false" v-tooltip.left="`Click to remove filter`" @click="removed()">
        <i class="fad fa-minus"></i>
      </div>
    </Transition>
  </div>
</template>
<style lang="scss">
.filterButtonsHolder {
  .fitlerButton {
    position: absolute;
    right: 0;
    // border: 1px solid var(--secondary);
    background-color: var(--dark);
    border-radius: var(--radius-rounded);
    width: 17px;
    height: 17px;
    vertical-align: middle;
    line-height: 14px;
    text-align: center;
    color: var(--white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
  }
}
</style>