<script lang="ts">
import { PropType } from "vue";
import { countryLocations } from "/@src/data/countriesLocations";
import { servicePorts } from "/@src/data/servicePorts";
import { useUserSession } from "/@src/stores/userSession";
import { excludedWidgetsEnum } from "/@src/models/users";

export default {
  data() {
    return {
      user: useUserSession(),
      excludedWidgetsEnum: excludedWidgetsEnum,
      servicePorts: servicePorts.map((p) => {
        return { name: p.name.toUpperCase(), value: p.port };
      }),
      visibleTop: <undefined | boolean>undefined,
      countryLocations: countryLocations,
      activeFilter: <string>"",
      selectedSourceCountry: "",
      selectedSrcIP: "",
      selectedDestIP: "",
      selectedSourceAS: "",
      selectedDestAS: "",
      selectedSourceISP: "",
      selectedDestISP: "",
      selectedProtocol: "",
      selectedSourcePort: "",
      selectedDestPort: "",
      selectedSourceiFace: "",
      selectedDestiFace: "",
      selectedTCPFlags: <string[]>[],
      selectedPacketSize: <number[]>[60, 1500],
      pause: false,
      filterButtonHovered: false,
    };
  },
  computed: {
    filterFieldsAreEmpty() {
      return !this.selectedSourceCountry &&
        !this.selectedSrcIP &&
        !this.selectedDestIP &&
        !this.selectedSourceAS &&
        !this.selectedDestAS &&
        !this.selectedSourceISP &&
        !this.selectedDestISP &&
        !this.selectedProtocol &&
        !this.selectedSourceiFace &&
        !this.selectedDestiFace &&
        !this.selectedSourcePort &&
        !this.selectedTCPFlags?.length &&
        !this.selectedDestPort &&
        !(this.selectedPacketSize?.[0] != 60 || this.selectedPacketSize?.[1] != 1500)
        ? true
        : false;
    },
    rawFilterPrint(rawFilter: any) { }
  },
  methods: {
    isMobile() {
      if (
        /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
          navigator.userAgent
        )
      ) {
        return true;
      } else {
        return false;
      }
    },
    async getServicePorts(query: string) {
      if (!query) query = "";
      return await new Promise<{ name: string; value: number }[]>((resolve, reject) => {
        resolve(
          this.servicePorts
            .filter((s) => s.name.toLowerCase().includes(query.toString().toLowerCase()))
            .splice(0, 100)
        );
      });
    },
    toggleFiltersPanel(e: any) {
      console.log("calce");
      if (this.activeFilter != "") return;
      this.visibleTop = !this.visibleTop;
    },
    toggleSelect(action: "close" | "open", refID: string | undefined) {
      if (refID) {
        if (action == "close") setTimeout(() => (this.$refs[refID] as any).close(), 20);
        else (this.$refs[refID] as any).open();
      }
    },
    setFilters(filters: any = undefined) {
      this.visibleTop = false;
      this.$emit("filtersPanelSync", this.$data, "setFilters", filters);
    },
    removeSingleFilter(key: string) {

      if (key == "src_country") this.selectedSourceCountry = "";
      if (key == "src_as") this.selectedSourceAS = "";
      if (key == "dest_as") this.selectedDestAS = "";
      if (key == "src_isp") this.selectedSourceISP = "";
      if (key == "dest_isp") this.selectedDestISP = "";
      if (key == "src_ip") this.selectedSrcIP = "";
      if (key == "dest_ip") this.selectedDestIP = "";
      if (key == "src_port") this.selectedSourcePort = "";
      if (key == "dest_port") this.selectedDestPort = "";
      if (key == "src_iface") this.selectedSourceiFace = "";
      if (key == "protocol") this.selectedProtocol = "";
      if (key == "pkt_size") this.selectedPacketSize = [60, 1500];
      if (key == "flags") this.selectedTCPFlags = [];

      this.setFilters();
    },
    clearFilters() {
      this.visibleTop = false;
      this.selectedSourceCountry = "";
      this.selectedSrcIP = "";
      this.selectedDestIP = "";
      this.selectedSourceAS = "";
      this.selectedDestAS = "";
      this.selectedSourceISP = "";
      this.selectedDestISP = "";
      this.selectedProtocol = "";
      this.selectedSourcePort = "";
      this.selectedDestPort = "";
      this.selectedSourceiFace = "";
      this.selectedDestiFace = "";
      this.selectedTCPFlags = <string[]>[];
      this.selectedPacketSize = <number[]>[60, 1500];
      this.$emit("filtersPanelSync", this.$data, "clearFilters");
    },
    openField(filter: string) {
      setTimeout(() => (this.activeFilter = filter), this.activeFilter != "" ? 50 : 0);
    },
    noActiveFilter() {
      let activeFilter = this.activeFilter;
      setTimeout(() => {
        if (activeFilter == this.activeFilter) this.activeFilter = "";
      }, 200);
    },
    syncVars(obj: any) {
      console.log("sync came");
      if (obj.selectedSourceCountry != undefined)
        this.selectedSourceCountry = obj.selectedSourceCountry;
      if (obj.selectedSrcIP != undefined) this.selectedSrcIP = obj.selectedSrcIP;
      if (obj.selectedDestIP != undefined) this.selectedDestIP = obj.selectedDestIP;
      if (obj.selectedSourceAS != undefined) this.selectedSourceAS = obj.selectedSourceAS;
      if (obj.selectedDestAS != undefined) this.selectedDestAS = obj.selectedDestAS;
      if (obj.selectedSourceISP != undefined)
        this.selectedSourceISP = obj.selectedSourceISP;
      if (obj.selectedDestISP != undefined) this.selectedDestISP = obj.selectedDestISP;
      if (obj.selectedProtocol != undefined) this.selectedProtocol = obj.selectedProtocol;
      if (obj.selectedSourcePort != undefined)
        this.selectedSourcePort = obj.selectedSourcePort;
      if (obj.selectedDestPort != undefined) this.selectedDestPort = obj.selectedDestPort;
      if (obj.selectedSourceiFace != undefined)
        this.selectedSourceiFace = obj.selectedSourceiFace;
      if (obj.selectedDestiFace != undefined)
        this.selectedDestiFace = obj.selectedDestiFace;
      if (obj.selectedTCPFlags != undefined) this.selectedTCPFlags = obj.selectedTCPFlags;
      if (obj.selectedPacketSize != undefined)
        this.selectedPacketSize = obj.selectedPacketSize;
      if (obj.pause != undefined) this.pause = obj.pause;
    },
  },
  watch: {
    pause: {
      handler() {
        this.$emit("filtersPanelSync", { pause: this.pause });
      },
    },
    selectedPacketSize: {
      handler(r) {
        console.log(r);
      },
    },
  },
  props: {
    srciFaces: {
      type: [Object, String] as PropType<String[]>,
      default: [],
    },
    srcISPs: {
      type: [Object, String] as PropType<String[]>,
      default: [],
    },
    destISPs: {
      type: [Object, String] as PropType<String[]>,
      default: [],
    },
    forceStop: {
      type: [Object, Boolean] as PropType<boolean>,
      default: false,
    },
    hasFilter: {
      type: [Object, Boolean] as PropType<boolean>,
      default: false,
    },
    av: {
      type: [Object, Boolean] as PropType<boolean>,
      default: false,
    },
    lastFilters: {
      type: [Object, Array] as PropType<any[]>,
      default: [],
    },
  },
  mounted() {
    // this.user.user?.excludedWidgets?.forEach(e => {
    //     console.log(Object.values(excludedWidgetsEnum)[e])
    // })
    // console.log(this.user.hasAccess(this.excludedWidgetsEnum.Filters_Panel))
  },
};
</script>

<template>
  <div>
    <Transition name="fade-slow" mode="in-out">
      <!-- Filter Panel Dropdowns -->

      <div v-if="visibleTop" class="filtersPanel" :activeFilter="activeFilter != ''" @click="toggleFiltersPanel">
        <div class="container is-flex is-justify-content-center is-align-items-center is-flex-direction-column"
          style="height: 100vh">
          <div class="column columns mt-0 mb-0 is-justify-content-center px-3">
            <!-- <h4 class="is-4 title">Source</h4> -->
            <div v-if="user.hasAccess(excludedWidgetsEnum.Zone_Filter)" class="msWrapper column py-0 px-0 mx-1 is-4"
              @click.stop>
              <VField v-slot="{ id }" class="is-autocomplete-select">
                <VControl class="px-0" icon="fad fa-map" @click="toggleSelect('open', id)">
                  <Multiselect :ref="id" v-model="selectedSourceiFace" class="is-curved-select" autocomplete="off"
                    :attrs="{ id }" :options="srciFaces.filter((e) => e != 'any')" placeholder="Zone" :searchable="true"
                    @select="toggleSelect('close', id)" @open="openField('selectedSourceiFace')"
                    @close="noActiveFilter" />
                </VControl>
              </VField>
            </div>
            <div v-if="user.hasAccess(excludedWidgetsEnum.Country_Filter)" class="msWrapper column py-0 px-0 mx-1 is-4"
              @click.stop>
              <VField v-slot="{ id }" class="is-autocomplete-select">
                <VControl class="px-0" icon="fad fa-flag" @click="toggleSelect('open', id)">
                  <Multiselect :ref="id" v-model="selectedSourceCountry" class="is-curved-select scroll scroll-2"
                    track-by="name" label="name" autocomplete="off" :attrs="{ id }" :options="Object.keys(countryLocations).map((k) => {
                      return { name: countryLocations[k].fullName, value: k };
                    })
                      " placeholder="Source Country" :searchable="true" @select="toggleSelect('close', id)"
                    @open="openField('selectedSourceCountry')" @close="noActiveFilter" />
                </VControl>
              </VField>
            </div>

            <div v-if="user.hasAccess(excludedWidgetsEnum.Source_AS_Filter)" class="msWrapper column py-0 px-0 mx-1 is-4"
              @click.stop>
              <VField v-slot="{ id }" class="is-autocomplete-select">
                <VControl class="px-0" icon="fad fa-sliders">
                  <VInput v-model="selectedSourceAS" class="is-curved-select" autocomplete="off" placeholder="Source AS"
                    :searchable="true" @focus="openField('selectedSourceAS')" @blur="noActiveFilter" />
                </VControl>
              </VField>
            </div>
            <div v-if="user.hasAccess(excludedWidgetsEnum.Destination_AS_Filter)"
              class="msWrapper column py-0 px-0 mx-1 is-4" @click.stop>
              <VField v-slot="{ id }" class="is-autocomplete-select">
                <VControl class="px-0" icon="fad fa-sliders">
                  <VInput v-model="selectedDestAS" class="is-curved-select" autocomplete="off"
                    placeholder="Destination AS" :searchable="true" @focus="openField('selectedDestAS')"
                    @blur="noActiveFilter" />
                </VControl>
              </VField>
            </div>

            <div v-if="user.hasAccess(excludedWidgetsEnum.Source_ISP_Filter)" class="msWrapper column py-0 px-0 mx-1 is-4"
              @click.stop>
              <VField v-slot="{ id }" class="is-autocomplete-select">
                <VControl class="px-0" icon="fad fa-server" @click="toggleSelect('open', id)">
                  <Multiselect :ref="id" v-model="selectedSourceISP" class="is-curved-select" autocomplete="off"
                    :attrs="{ id }" :options="srcISPs" placeholder="Source ISP" :searchable="true"
                    @select="toggleSelect('close', id)" @open="openField('selectedSourceISP')" @close="noActiveFilter" />
                </VControl>
              </VField>
            </div>
            <div v-if="user.hasAccess(excludedWidgetsEnum.Destination_ISP_Filter)"
              class="msWrapper column py-0 px-0 mx-1 is-4" @click.stop>
              <VField v-slot="{ id }" class="is-autocomplete-select">
                <VControl class="px-0" icon="fad fa-server" @click="toggleSelect('open', id)">
                  <Multiselect :ref="id" v-model="selectedDestISP" class="is-curved-select" autocomplete="off"
                    :attrs="{ id }" :options="destISPs" placeholder="Destination ISP" :searchable="true"
                    @select="toggleSelect('close', id)" @open="openField('selectedDestISP')" @close="noActiveFilter" />
                </VControl>
              </VField>
            </div>
            <div v-if="!av && user.hasAccess(excludedWidgetsEnum.Protocol_Filter)"
              class="msWrapper column py-0 px-0 mx-2 is-4" @click.stop>
              <VField v-slot="{ id }" class="is-autocomplete-select">
                <VControl class="px-0" icon="fad fa-th-large" @click="toggleSelect('open', id)">
                  <Multiselect :ref="id" v-model="selectedProtocol" class="is-curved-select" autocomplete="off"
                    :attrs="{ id }" :options="['TCP', 'UDP', 'ICMP']" placeholder="Protocol" :searchable="true"
                    @open="openField('selectedProtocol')" @close="noActiveFilter" @select="toggleSelect('close', id)" />
                </VControl>
              </VField>
            </div>

            <div v-if="selectedProtocol == 'TCP' &&
              user.hasAccess(excludedWidgetsEnum.TCP_Flags_Filter)
              " class="msWrapper column py-0 px-0 mx-2 is-4" @click.stop>
              <VField v-slot="{ id }" class="is-autocomplete-select">
                <VControl class="px-0" icon="fad fa-flag" @click="toggleSelect('open', id)">
                  <Multiselect :ref="id" v-model="selectedTCPFlags" class="is-curved-select" autocomplete="off"
                    :attrs="{ id }" :options="['SYN', 'ACK', 'FIN', 'RST', 'PSH', 'URG']" placeholder="TCP Flags"
                    :searchable="true" mode="tags" :hide-selected="false" @open="openField('selectedTCPFlags')"
                    @close="noActiveFilter" />
                </VControl>
              </VField>
            </div>
            <div v-if="av && user.hasAccess(excludedWidgetsEnum.Application_Layer_Filter)"
              class="msWrapper column py-0 px-0 mx-1 is-4" @click.stop>
              <VField v-slot="{ id }" class="is-autocomplete-select">
                <VControl class="px-0" icon="fa fa-code-pull-request" @click="toggleSelect('open', id)">
                  <Multiselect :ref="id" v-model="selectedSourcePort" class="is-curved-select" track-by="name"
                    label="name" autocomplete="off" :attrs="{ id }" :options="getServicePorts"
                    placeholder="Application Layer" :searchable="true" :filter-results="false" :min-chars="0"
                    :resolve-on-load="true" :delay="500" @open="openField('selectedSourcePort')" @close="noActiveFilter"
                    @select="toggleSelect('close', id)" />
                </VControl>
              </VField>
            </div>
          </div>

          <!-- Packet Size Control Button -->
          <div v-if="user.hasAccess(excludedWidgetsEnum.Packet_Size_Filter)"
            class="msWrapper column py-0 px-0 my-5 mx-2 is-4" @click.stop>
            <VField v-slot="{ id }" class="has-rounded-tooltip">
              <VLabel class="has-text-left is-flex has-justify-content-center is-align-items-center">
                <span class="fa-lg p-2">Packet Size</span>
                <Transition name="from-bottom" mode="in-out">
                  <VAction v-if="selectedPacketSize?.[0] != 60 || selectedPacketSize?.[1] != 1500
                    " v-tooltip.right.rounded="`Clear Packet Size Filter`" rounded active class="perfectCircle"
                    @click="selectedPacketSize = [60, 1500]">
                    <i class="fad fa-times pt-1"></i>
                  </VAction>
                </Transition>
              </VLabel>

              <VControl>
                <Slider :id="id" v-model="selectedPacketSize" tooltip-position="bottom" :min="60" :max="1500"
                  merge="170" />
              </VControl>
            </VField>
          </div>

          <div v-if="user.hasAccess(excludedWidgetsEnum.Packet_Size_Filter)" @click.stop>
            <Transition name="from-bottom" mode="in-out">
              <VFlex justify-content="space-between" class="mt-6 ">
                <VFlexItem class="p-2">
                  <VField v-slot="{ id }" class="has-rounded-tooltip">
                    <VControl>
                      <VInput type="text" placeholder="Start" v-model="selectedPacketSize[0]" />
                    </VControl>
                  </VField>
                </VFlexItem>
                <VFlexItem class="p-2">
                  <VField v-slot="{ id }" class="has-rounded-tooltip">
                    <VControl>
                      <VInput type="text" placeholder="end" v-model="selectedPacketSize[1]" />
                    </VControl>
                  </VField>
                </VFlexItem>
              </VFlex>
            </Transition>
          </div>

          <!-- Set Filter and Clear Filter if filters are set -->

          <div v-if="user.hasAccess(excludedWidgetsEnum.Filters_Panel)"
            class="msWrapper column py-0 px-0 mx-1 mt-6 is-6 is-flex is-justify-content-center" @click.stop>
            <!-- :class="activeFilter == '' ? 'px-0' : activeFilter == 'button' ? 'is-4 px-0' : 'px-0'" -->
            <VField addons>
              <Transition name="from-left" mode="in-out">
                <VControl v-if="!filterFieldsAreEmpty">
                  <VButton style="width: 150px" v-tooltip.bottom.left="'Filter'" class="px-3" :loading="forceStop"
                    color="warning" rounded elevated @click="setFilters()">
                    <i class="fad fa-search"></i>
                    Set Filters
                  </VButton>
                </VControl>
              </Transition>
              <VControl v-if="hasFilter">
                <Transition name="from-right" mode="in-out">
                  <VButton style="width: 150px" v-tooltip.bottom.left="'Clear Filters'" class="px-3" :loading="forceStop"
                    color="danger" rounded elevated @click="clearFilters()">
                    <i class="fad fa-times"></i>
                    Clear Filters
                  </VButton>
                </Transition>
              </VControl>
            </VField>
            <VButton v-if="visibleTop" raised rounded elevated class="text-center mx-2" color="dark"
              @click="toggleFiltersPanel">
              <i class="mr-1 fad fa-chevron-up"></i>
              <small>CLOSE</small>
            </VButton>
          </div>
        </div>
      </div>

      <!-- Filters showcase -->

    </Transition>
    <div class="topButtonsHolder" :class="visibleTop && 'active'" :style="visibleTop ? 'margin-top:30px' : ''">
      <div class="activeFiltersHolder" v-if="!visibleTop">
        <Transition name="from-top" mode="in-out" v-for="(filter, key) in lastFilters">
          <VTag rounded color="warning" elevated raised class="has-text-dark is-uppercase">
            <VIcon class="p-1 is-rounded" :icon="`fad fa-${key.toString().includes('isp')
              ? 'server'
              : key.toString().includes('as')
                ? 'sliders'
                : key.toString().includes('flag')
                  ? 'flag'
                  : key.toString().includes('country')
                    ? 'flag'
                    : 'th-large'
              }`">
            </VIcon>

            {{ key.toString().replaceAll("_", " ") }} : {{ filter }}

            <VIcon icon="fa fa-times my-2" @click="removeSingleFilter(key.toString())"></VIcon>
          </VTag>
        </Transition>
      </div>

      <!-- Filter Icon -->
      <Transition v-if="user.hasAccess(excludedWidgetsEnum.Filters_Panel)" name="from-top" mode="in-out">
        <VButton v-if="!visibleTop" rounded elevated class="text-center is-flex hint--left perfectCircle"
          data-hint="Filters Panel" @mouseover="filterButtonHovered = true" @mouseleave="filterButtonHovered = false"
          color="warning" @click="toggleFiltersPanel">
          <i class=" pt-1 has-text-black fad fa-filter"></i>
        </VButton>
      </Transition>

      <!-- Pause/Play Icon -->
      <Transition name="from-top" mode="in-out">
        <VButton v-if="!visibleTop" class="perfectCircle hint--bottom-left"
          :data-hint="pause ? 'Resume Data-fetching' : 'Pause Data-fetching'" color="info" :loading="forceStop" rounded
          elevated @click="() => {

            pause = !pause;
          }
            ">
          <i class="mx-1" :class="`fad ${pause ? 'fa-play' : 'fa-pause'} `"></i>
        </VButton>
      </Transition>

      <!-- Clear Filter Icon -->
      <Transition name="from-top" mode="in-out">
        <VButton v-if="hasFilter && !visibleTop" v-tooltip.bottom.left="'Clear Filters'"
          class="perfectCircle hint--bottom-left" :loading="forceStop" color="danger" rounded elevated
          @click="clearFilters()">
          <i class="fad fa-times"></i>
        </VButton>
      </Transition>
    </div>
  </div>
</template>
<style lang="scss">
button {
  &.perfectCircle {
    width: 35px !important;
    height: 35px !important;
    display: block;
    margin: 0 2px;
    padding: 0 !important;

    i {
      margin: 5px;
    }
  }
}

.column.columns {
  width: 100%;
  flex: none;
  flex-wrap: wrap;
  gap: 1rem;
}

.topButtonsHolder {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 10px;

  &.active {
    z-index: 3;
  }

  .activeFiltersHolder {
    position: absolute;
    top: 0;
    left: 390px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 380px;

    .tag {
      cursor: default;
    }

    i.fa-times {
      cursor: pointer;
    }
  }
}

.collapseButton {
  // border-bottom-left-radius: var(--radius-rounded);
  // border-bottom-right-radius: var(--radius-rounded);
  position: relative;
  display: block;
  top: 0;
  width: 150px;
  // margin: 10px;
  // background: #00000084;
  transition: 2s ease-in-out;
  cursor: pointer;
  padding: 0 15px;
}

.filtersPanel {
  width: 100vw;
  // max-width: 1400px;
  user-select: none;
  left: 0;
  height: 100vh;
  position: fixed;
  padding: 10px;
  margin: 0 auto;
  background: #0000005e;
  // backdrop-filter: blur(25px);
  box-shadow: var(--neumorphic-box-shadow);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 2;
  transition: 0.5s linear;
  // animation-duration: 2s;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(25px);

  &[activeFilter="true"] {
    cursor: context-menu;
  }

  input:placeholder-shown {
    direction: ltr;
  }

  .control.has-icon .form-icon {
    padding-left: 5px;
  }

  .msWrapper {
    transition: 0.5s;
    // transition: all .5s linear, padding 0s, opacity 1s linear;
    max-width: 400px;

    // .multiselect-caret {
    //     display: none;
    // }

    .multiselect-wrapper {
      height: 38px;
      overflow: hidden;
    }

    &.is-1 {
      width: 12%;
    }

    &.is-narrow {
      width: 40px;
      margin: 0 5px;

      .multiselect-clear {
        display: none;
      }

      input {
        padding-right: 0;
      }
    }
  }
}

.multiselect {
  .multiselect-clear {
    padding: 0;
    margin-right: 10px;
    width: 10px;
  }

  .multiselect-single-label {
    padding-right: 30px;
  }

  .multiselect-multiple-label,
  .multiselect-single-label,
  .multiselect-placeholder {
    white-space: nowrap;
    padding-right: 0;
    max-width: 80%;
    overflow: hidden;
  }

  .multiselect-multiple-label,
  .multiselect-tags {
    padding-left: 40px;
  }
}

.subcontrol .select {
  select {
    height: 38px;
    font-family: monospace;
    font-size: 0.8rem;
    padding: 0 2px;
    // padding-left: 0%;
    text-align: center;

    option {
      color: var(--primary);
      background-color: var(--background-grey);
    }
  }
}

.is-dark .control.has-icon .form-icon svg,
.is-dark .control.has-icon .form-icon i {
  color: var(--light-text-dark-5);
}

.has-addons .subcontrol .select,
.empty.subcontrol .select {
  &::after {
    display: none !important;
  }
}

// .empty.subcontrol .select {
//   &:after {
//     margin-top: -15px;
//   }
// }
</style>
