<script lang="ts">
import { PropType } from 'vue';

export default {
    data() {
        return {
            timerCounter: 10,
            timer: 0,
            closeTimer: false,
        }
    },
    props: {
        show: {
            type: [Object, Boolean] as PropType<boolean>,
            default: true
        },
        replay: {
            type: [Object, Boolean] as PropType<boolean>,
            default: false
        },
    },
    watch: {
        show: {
            handler(r) {
                if (r == true && !this.replay) {
                    this.closeTimer = true;
                    setTimeout(() => {
                        this.closeTimer = false
                        this.timerCounter = 10
                        this.timer = window.setInterval(() => {
                            this.timerCounter -= 1
                        }, 1000)
                    }, 2000)
                } else {
                    this.stopTimer()
                }
            }
        },
        timerCounter: {
            handler(c) {
                if (c == 1) {
                    this.$emit('clearFilters');
                    this.stopTimer()
                }
            }
        }
    },
    methods: {
        stopTimer() {
            this.closeTimer = false
            this.timerCounter = 0
            clearInterval(this.timer)
        }
    }
}
</script>
<template>
    <Transition name="from-bottom" mode="in-out">
        <div v-if="show" class="noData" @mouseenter="() => { if (timerCounter) closeTimer = true }"
            @mouseleave="closeTimer = false">
            <div class="notyf__wrapper p-3" style="direction: rtl;" :style="closeTimer ? 'cursor:pointer' : ''"
                @click="() => { if (closeTimer) stopTimer() }">
                <div style="min-width:50px;min-height: 40px;">
                    <Transition name="fade-fast" mode="in-out">
                        <i v-if="closeTimer" class="has-background-white fad fa-3x fa-times is-rounded"
                            style="position:absolute;top:.7rem;right:.6rem;width:40px;color:var(--danger);border-radius: var(--radius-rounded);"></i>
                        <i v-else-if="timerCounter" class="fad fa-3x fa-clock"
                            style="position:absolute;top:.7rem;right:.6rem"></i>
                        <i v-else class="fad fa-3x mr-2 fa-exclamation-triangle"></i>
                    </Transition>
                </div>
                <div class="notyf__message px-5">
                    <span v-if="!closeTimer">
                        داده ای با توجه به فیلتر اعمال شده پیدا نشد،<br>
                        <span v-if="replay">باز پخش داده قبلی</span>
                        <span v-else-if="timerCounter">حذف خودکار فیلتر تا {{ timerCounter }}</span>
                        <span v-else>
                            فیلتر خود را تغییر بدهید
                        </span>
                    </span>
                    <span v-else>
                        توقف تایمر حذف فیلتر
                    </span>
                </div>
            </div>
        </div>
    </Transition>
</template>
<style scoped lang="scss">
.noData {
    transition: .5s;
    position: fixed;
    top: 60px;
    z-index: 99999999999999999999999999999999999999999999999999999999999999999999;
    background: radial-gradient(var(--danger), var(--danger-dark-2));
    // padding: 0 15px;
    border-radius: var(--radius-rounded);
    box-shadow: var(--danger-box-shadow);

    .notyf__wrapper {
        min-width: 300px;
        transition: all 1s;
        justify-content: center;
    }

    i {
        color: #fff
    }

    .notyf__message {
        color: #fff;
        transition: .5s;
    }

    .timer {
        color: #fff;
        position: absolute;
        width: 50%;
        left: 25%;
        margin: auto;
        margin-top: -.5rem;
        border-radius: var(--radius-rounded);
        background: var(--danger-dark-5);
        transition: .5s;

        &:hover {
            background: var(--danger-dark-20);
        }
    }
}
</style>