<script lang="ts">
import { array } from '@amcharts/amcharts5';
import { PropType } from 'vue';
import { CountryCoords, countryLocations } from '/@src/data/countriesLocations';
import { string } from 'zod';
import { servicePorts } from '/@src/data/servicePorts';

export interface Filters {
    selectedSourceiFace: string;
    selectedSourceCountry: string;
    selectedSourceAS: string;
    selectedDestAS: string;
    selectedSourceISP: string;
    selectedDestISP: string;
    selectedProtocol: string;
    selectedTCPFlags: string[];
    selectedPacketSize: number[];
    selectedSourcePort: string;
    selectedSrcIP: string;
    selectedDestIP: string;
    selectedDestiFace: string;
    selectedDestPort: string;
}
export default {
    data() {
        return {
            isDataPaneActive: false,
            countryLocations: countryLocations,
            servicePorts: servicePorts.map(p => { return { name: p.name.toUpperCase(), value: p.port } }),
            selectedSourceiFace: <string>'',
            selectedSourceCountry: <string>'',
            selectedSourceAS: <string>'',
            selectedDestAS: <string>'',
            selectedSourceISP: <string>'',
            selectedDestISP: <string>'',
            selectedProtocol: <string>'',
            selectedTCPFlags: <string[]>[],
            selectedPacketSize: <number[]>[0, 0],
            selectedSourcePort: <string>'',
            selectedSrcIP: <string>'',
            selectedDestIP: <string>'',
            selectedDestiFace: <string>'',
            selectedDestPort: <string>'',
        }
    },
    props: {
        hasFilter: {
            type: Boolean as PropType<Boolean>,
            default: false,
        },
        type: {
            type: String as PropType<string>,
            default: 'TCP',
        },
        filters: {
            type: Object as PropType<Filters>,
            default: {},
        },
        srciFaces: {
            type: Array as PropType<string[]>,
            default: [],
        },
        srcISPs: {
            type: Array as PropType<string[]>,
            default: [],
        },
        destISPs: {
            type: Array as PropType<string[]>,
            default: [],
        },
    },
    methods: {
        toggleSelect(action: 'close' | 'open', refID: string | undefined) {
            if (refID) {
                if (action == 'close')
                    setTimeout(() => this.$refs[refID]?.close(), 20)
                else
                    this.$refs[refID]?.open()
            }
        },
        async getServicePorts(query: string) {
            if (!query) query = ''
            return await new Promise<{ name: string, value: number }[]>((resolve, reject) => {
                resolve(this.servicePorts.filter(s => s.name.toLowerCase().includes(query.toString().toLowerCase())).splice(0, 100))
            })
        },
        setFilters() {
            this.$emit('setFilters',
                {
                    selectedSourceiFace: this.selectedSourceiFace,
                    selectedSourceCountry: this.selectedSourceCountry,
                    selectedSourceAS: this.selectedSourceAS,
                    selectedDestAS: this.selectedDestAS,
                    selectedSourceISP: this.selectedSourceISP,
                    selectedDestISP: this.selectedDestISP,
                    selectedProtocol: this.selectedProtocol,
                    selectedTCPFlags: this.selectedTCPFlags,
                    selectedPacketSize: this.selectedPacketSize,
                    selectedSourcePort: this.selectedSourcePort,
                    selectedSrcIP: this.selectedSrcIP,
                    selectedDestIP: this.selectedDestIP,
                    selectedDestiFace: this.selectedDestiFace,
                    selectedDestPort: this.selectedDestPort,
                })
            this.isDataPaneActive = false
            // console.log(this.filters)
        },
        removeFilters() {
            this.$emit('removeSpecialFilters', 1)
        },
    },
    computed: {
        filterFieldsAreEmpty() {
            return (
                !this.selectedSourceCountry &&
                !this.selectedSrcIP &&
                !this.selectedDestIP &&
                !this.selectedSourceAS &&
                !this.selectedDestAS &&
                !this.selectedSourceISP &&
                !this.selectedDestISP &&
                !this.selectedProtocol &&
                !this.selectedSourceiFace &&
                !this.selectedDestiFace &&
                !this.selectedSourcePort &&
                !this.selectedTCPFlags.length &&
                this.selectedPacketSize[0] != 0 && this.selectedPacketSize[1] != 0 &&
                !this.selectedDestPort
            ) ? true : false
        },
    },
    watch: {
        selectedPacketSize: {
            handler(r) {
                console.log('range', r)
            }
        },
        filterFieldsAreEmpty: {
            handler(r) {
                console.log('empty filters', r)
            }
        },
        type: {
            handler(type) {
                console.log(type, this.selectedProtocol)
                if (type != this.selectedProtocol) {
                    if (this.type != 'Application Visibility') {
                        this.selectedProtocol = type
                        // this.removeFilters()
                        console.log('cleared')
                        this.isDataPaneActive = false
                    }
                }
            }
        },
    },
    mounted() {
        console.log('protocol mounted')
        Object.keys(this.filters).forEach((key: string) => {
            this[key] = this.filters[key]
        })
        if (this.type != 'Application Visibility') {
            this.selectedProtocol = this.type
            // this.setFilters()
        }
    },
}
</script>
<template>
    <div>
        <VButton @click="isDataPaneActive = !isDataPaneActive"
            v-tooltip.right.rounded="`${!isDataPaneActive ? 'Open' : 'Close'} ${type} Filters`" rounded color="primary"
            class="actionButton has-text-dark" elevated>
            <Transition name="from-bottom" mode="in-out">
                <i style="position:absolute;left:40%;top:30%" class="fad fa-times" v-if="isDataPaneActive"></i>
            </Transition>
            <Transition name="from-top" mode="in-out">
                <i style="position:absolute;left:35%;top:30%" class="fad fa-filter" v-if="!isDataPaneActive"></i>
            </Transition>
        </VButton>
        <Transition name="fade-fast" mode="in-out">
            <div class="filterPane" v-if="isDataPaneActive">
                <div class="columns is-flex-direction-column mt-0 mb-0 is-justify-content-center px-3">
                    <h6 class="title is-6 has-text-centered pb-2 mx-5" style="border-bottom:1px solid #3e3e3e">{{ type }}
                        Filters
                    </h6>
                    <div class="columns my-2">
                        <div class="column py-0">
                            <VField v-slot="{ id }" class="is-autocomplete-select">
                                <VControl class="px-0" icon="fad fa-map" @click="toggleSelect('open', id)">
                                    <Multiselect @select="toggleSelect('close', id)" class="is-curved-select"
                                        v-model="selectedSourceiFace" autocomplete="off" :attrs="{ id }" :ref="id"
                                        :options="srciFaces.filter(e => e != 'any')" placeholder="Zone"
                                        :searchable="true" />
                                </VControl>
                            </VField>
                        </div>
                        <div class="column py-0">
                            <VField v-slot="{ id }" class="is-autocomplete-select">
                                <VControl class="px-0" icon="feather:flag" @click="toggleSelect('open', id)">
                                    <Multiselect @select="toggleSelect('close', id)" class="is-curved-select"
                                        track-by="name" label="name" v-model="selectedSourceCountry" autocomplete="off"
                                        :attrs="{ id }" :ref="id"
                                        :options="Object.keys(countryLocations).map(k => { return { name: countryLocations[k].fullName, value: k } })"
                                        placeholder="Source Country" :searchable="true" />
                                </VControl>
                            </VField>
                        </div>
                    </div>
                    <div class="columns my-2">
                        <div class="column py-0">
                            <VField v-slot="{ id }" class="is-autocomplete-select">
                                <VControl class="px-0" icon="feather:sliders">
                                    <VInput class="is-curved-select" v-model="selectedSourceAS" autocomplete="off"
                                        placeholder="Source AS" :searchable="true" />
                                </VControl>
                            </VField>
                        </div>
                        <div class="column py-0">
                            <VField v-slot="{ id }" class="is-autocomplete-select">
                                <VControl class="px-0" icon="feather:sliders">
                                    <VInput class="is-curved-select" v-model="selectedDestAS" autocomplete="off"
                                        placeholder="Destination AS" :searchable="true" />
                                </VControl>
                            </VField>
                        </div>
                    </div>
                    <div class="columns my-2">
                        <div class="column py-0">
                            <VField v-slot="{ id }" class="is-autocomplete-select">
                                <VControl class="px-0" icon="feather:hard-drive" @click="toggleSelect('open', id)">
                                    <Multiselect @select="toggleSelect('close', id)" class="is-curved-select"
                                        v-model="selectedSourceISP" autocomplete="off" :attrs="{ id }" :ref="id"
                                        :options="srcISPs" placeholder="Source ISP" :searchable="true" />
                                </VControl>
                            </VField>
                        </div>
                        <div class="column py-0">
                            <VField v-slot="{ id }" class="is-autocomplete-select">
                                <VControl class="px-0" icon="feather:hard-drive" @click="toggleSelect('open', id)">
                                    <Multiselect @select="toggleSelect('close', id)" class="is-curved-select"
                                        v-model="selectedDestISP" autocomplete="off" :attrs="{ id }" :ref="id"
                                        :options="destISPs" placeholder="Destination ISP" :searchable="true" />
                                </VControl>
                            </VField>
                        </div>
                    </div>
                    <div class="columns my-2">
                        <div v-if="false" class="column py-0">
                            <VField v-slot="{ id }" class="is-autocomplete-select">
                                <VControl class="px-0" icon="feather:layers" @click="toggleSelect('open', id)">
                                    <Multiselect @select="toggleSelect('close', id)" class="is-curved-select"
                                        v-model="selectedProtocol" autocomplete="off" :attrs="{ id }" :ref="id"
                                        :options="['TCP', 'UDP', 'ICMP']" placeholder="Protocol" :searchable="true" />
                                </VControl>
                            </VField>
                        </div>
                        <div v-if="type == 'TCP'" class="column py-0">
                            <VField v-slot="{ id }" class="is-autocomplete-select">
                                <VControl class="px-0" icon="fa fa-flag" @click="toggleSelect('open', id)">
                                    <Multiselect class="is-curved-select" v-model="selectedTCPFlags" autocomplete="off"
                                        :attrs="{ id }" :ref="id" :options="['SYN', 'ACK', 'FIN', 'RST', 'PSH', 'URG']"
                                        placeholder="TCP Flags" :searchable="true" mode="tags" :hideSelected="false" />
                                </VControl>
                            </VField>
                        </div>
                    </div>
                    <div class="columns my-2">
                        <div class="column py-0">
                            <VField v-slot="{ id }" class="has-rounded-tooltip">
                                <VLabel class="has-text-left mb-6">Packet Size
                                    <Transition name="from-bottom" mode="in-out">
                                        <VAction v-if="selectedPacketSize?.[0] != 0 && selectedPacketSize?.[1] != 0"
                                            @click="selectedPacketSize = [0, 0]"
                                            v-tooltip.right.rounded="`Clear Packet Size Filter`" rounded active
                                            class="py-0 px-4" style="margin-top:-5px">
                                            <i style="position:absolute" class="fa fa-times"></i>
                                        </VAction>
                                    </Transition>
                                </VLabel>

                                <VControl>
                                    <Slider :id="id" v-model="selectedPacketSize" :min="60" :max="1500" />
                                </VControl>
                            </VField>
                        </div>
                        <div v-if="type == 'Application Visibility'" class="column py-0">
                            <VField v-slot="{ id }" class="is-autocomplete-select">
                                <VControl class="px-0" icon="feather:git-pull-request" @click="toggleSelect('open', id)">
                                    <Multiselect @select="toggleSelect('close', id)" class="is-curved-select"
                                        track-by="name" label="name" v-model="selectedSourcePort" autocomplete="off"
                                        :attrs="{ id }" :ref="id" :options="getServicePorts" placeholder="Application Layer"
                                        :searchable="true" :filter-results="false" :min-chars="0" :resolve-on-load="true"
                                        :delay="500" />
                                </VControl>
                            </VField>
                        </div>
                    </div>
                    <div class="mr is-12 py-0 px-0 is-flex buttonHolder">
                        <VField addons>
                            <VControl v-if="!filterFieldsAreEmpty">
                                <VButton class="px-4" v-tooltip.bottom.left="'Filter'" @click="setFilters()" rounded
                                    elevated color="warning">
                                    <i class="iconify" data-icon="feather:search"></i>{{ filterFieldsAreEmpty
                                        ? 'Filter' : '' }}
                                </VButton>
                            </VControl>
                            <VControl v-if="hasFilter">
                                <VButton v-tooltip.bottom.left="'Clear Filters'" class="px-4" @click="removeFilters()"
                                    elevated color="danger" rounded><i class="iconify" data-icon="feather:x"></i>
                                    {{ hasFilter &&
                                        filterFieldsAreEmpty ? 'Clear' : '' }}
                                </VButton>
                            </VControl>
                        </VField>
                    </div>
                </div>
            </div>
        </Transition>
    </div>
</template>

<style scoped lang="scss">
.actionButton {
    position: absolute;
    // top: 0;
    // margin-top: -10px;
    left: 10px;
    z-index: 9;
    width: 35px;
    height: 35px;
    padding: 0;


    &.right {
        left: auto;
        right: 0
    }
}

.filterPane {
    padding: 20px;
    background: #00000084;
    // direction: rtl;
    text-align: right;
    display: flex;
    position: fixed;
    max-width: 400px;
    width: 600px;
    right: 310px;
    border-radius: var(--radius-large);

    &:after {
        content: "";
        position: absolute;
        top: 10px;
        right: -10px;
        bottom: 0;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #00000084;
        z-index: 999;
    }
}

.multiselect.is-active.is-open {
    z-index: 9999;
}

.buttonHolder {
    position: absolute;
    top: 10px;
    left: 10px;
}

.multiselect-tags {
    padding-left: 40px;
}
</style>