<script lang="ts">
import { PropType } from 'vue';
import RadialProgress from "vue3-radial-progress";
export default {
    data() {
        return {
            show: false,
            finalPercentage: 0
        }
    },
    mounted() {
        if (this.animate) {
            setTimeout(() => {
                this.show = true
                setTimeout(() => {
                    this.finalPercentage = this.percentage
                }, 100)
            }, Math.random() * 500)
        } else {
            this.show = true
            this.finalPercentage = this.percentage
        }
    },
    components: { RadialProgress },
    props: {
        color: {
            type: String as PropType<string>,
            default: 'primary',
        },
        percentage: {
            type: Number as PropType<number>,
            default: 0,
        },
        diameter: {
            type: Number as PropType<number>,
            default: 200,
        },
        text: {
            type: String as PropType<string>,
            default: '',
        },
        animate: {
            type: Boolean as PropType<Boolean>,
            default: true,
        },
    }
}
</script>


<template>
    <Transition name="fade-slow" mode="in-out">
        <RadialProgress v-if="show" :diameter="parseInt(diameter.toString())" :startColor="`var(--${color})`"
            :stopColor="`var(--${color}-dark-20)`" :strokeWidth="(diameter / 20)" :innerStrokeWidth="0"
            :completedSteps="parseInt(finalPercentage.toString())" :totalSteps="100"
            innerStrokeColor="hsla(hsl(var(--${color}-h), var(--${color}-s), calc(var(--${color}-l) + 20%)),1)"
            :style="`box-shadow:0 0 10px hsla(var(--${color}-h), var(--${color}-s), var(--${color}-l), .3),inset 0 0px 20px hsla(var(--${color}-h), var(--${color}-s), var(--${color}-l), .3);border-radius: var(--radius-rounded);`">
            <h6 class="title is-6 my-0 mt-3"
                :style="`color:hsl(var(--${color}-h) var(--${color}-s) calc(var(--${color}-l) + 35%))`">
                {{ text }}
            </h6>
            <span class="my-0 mb-2"
                :style="`font-size:${diameter / 5}px;font-weight:900;background: -webkit-linear-gradient(45deg,hsl(var(--${color}-h) var(--${color}-s) calc(var(--${color}-l) + 20%)), hsl(var(--${color}-h) var(--${color}-s) calc(var(--${color}-l) - 10%)));-webkit-background-clip: text;-webkit-text-fill-color: transparent;`">
                {{ percentage }}%
            </span>
        </RadialProgress>
    </Transition>
    <div v-if="!show" :style="`height: ${diameter}px;`"></div>
</template>
<style lang="scss">
.vrp__wrapper svg {
    overflow: visible;
}
</style>