<script lang="ts">
import { PropType } from 'vue';
import { Statistic } from '/@src/data/mapTypes';
import { statisticMapChart, barChartOptions, miniRadialChart, radarChart, donotocharte, radialChartOptions } from '/@src/data/mapCharts'
import ApexChart from 'vue3-apexcharts'

export default {
    setup(props, { slots }) {
        let hasChildren = false;
        if (slots.default) {
            hasChildren = slots.default().length >= 1;
        }
        return { hasChildren };
    },
    data() {
        return {
            statisticMapChart: statisticMapChart,
            barChartOptions: barChartOptions,
            miniRadialChart: miniRadialChart,
            radarChart: radarChart,
            donutChart: donotocharte,
            radialChartOptions: radialChartOptions,
        }
    },
    components: { ApexChart },
    methods: {
        setFilters(filters: any) {
            this.$emit('setFilters', filters, true)
        },
        rgbFromPercentage(percent: number, opacity = false) {
            percent /= 10
            if (percent > 99) {
                percent = 99
            }
            var r, g, b

            if (percent < 2) {
                // white to yellow
                percent *= 100
                r = 255
                g = 255
                b = Math.floor(255 * ((20 - percent) / 20))
            } else {
                // yellow to red
                r = 255
                g = Math.floor(255 * ((15 - percent) / 20))
                b = 0
            }

            return `rgb(${r},${g},${b}${opacity ? ',0.2' : ''})`
        }
    },
    props: {
        inCard: {
            type: Boolean as PropType<boolean>,
            default: false,
        },
        dataArray: {
            type: [Object, String] as PropType<Statistic[] | any[]>,
            default: [],
        },
        dataLabel: {
            type: String as PropType<string>,
            default: '',
        },
        dataSubLabel: {
            type: String as PropType<string>,
            default: '',
        },
        icon: {
            type: String as PropType<string>,
            default: '',
        },
        filterKey: {
            type: String as PropType<string>,
            default: '',
        },
        type: {
            type: String as PropType<string>,
            default: 'progress',
        },
    }
}
</script>
<template>
    <VCard v-if="hasChildren || dataArray.length > 0" class="dataCardHolder has-text-centered my-3"
        :class="[type == 'heroCard' && 'is-flex-direction-column', inCard && 'inCard']">
        <VCard class="dataCard p-0">
            <div v-if="dataLabel != ''" class="p-0">
                <div class="cardTitle">
                    <span v-if="icon != ''">
                        <img :src="`/images/illustrations/dashboards/map/${icon}.svg`">
                    </span>
                    <span v-html="dataLabel.replaceAll('\\n', '<br>')"></span>
                </div>
                <div v-if="dataSubLabel != ''" class="p-0">
                    <div class="cardTitle subTitle">
                        {{ dataSubLabel }}
                    </div>
                </div>
            </div>

            <div v-if="type == 'progress'">
                <div v-if="dataArray.length > 0" v-for="(data, key) in dataArray"
                    class="is-flex is-flex-direction-column my-5">
                    <div v-if="data.count !== 0 && data.percentage !== 0">
                        <FilterButtons v-if="filterKey" :show="dataArray.length > 1"
                            @added="setFilters({ [filterKey]: data.key })"
                            @removed="setFilters({ [filterKey]: undefined })" />
                        <div class="is-flex is-flex-direction-column">
                            <div class="is-flex is-align-items-center">
                                <h5 class="title is-5 has-text-warning is-bold my-0">
                                    {{ data.percentage.toFixed(2) }}%
                                </h5>
                                <span class="ml-2 has-text-weight-normal has-text-success">{{ data.key }}</span>
                            </div>
                        </div>
                        <VProgress :value="data.percentage" size="small" />
                    </div>
                </div>
            </div>
            <div v-else-if="type == 'packetSize'">
                <ApexChart :id="`packetSize${Math.random()}`" type="radialBar" :height="300" :series="dataArray"
                    :style="`max-height: ${300 * 0.66}px;min-height:inherit !important;`" :options="radialChartOptions">
                </ApexChart>
            </div>
            <div v-else-if="type == 'radial'">
                <!-- <FilterButtons :show="false" @added="setFilters({ [filterKey]: data.key })" @removed="setFilters({ [filterKey]: undefined })" /> -->
                <!-- {{ data.key }} {{ data.percentage.toFixed(2) }}% -->
                <ApexChart :id="`radialChart${Math.random()}`" :type="statisticMapChart.chart.type" :height="300"
                    :series="dataArray.map(e => e.percentage.toFixed(2))"
                    :options="{ ...statisticMapChart, ...{ labels: dataArray.map(e => e.key) } }">
                </ApexChart>
                <!-- <VProgress :value="data.percentage" size="tiny" /> -->
            </div>
            <div v-else-if="type == 'radialIndividual'" class="is-flex" style="flex-wrap:wrap;">
                <!-- <FilterButtons :show="false" @added="setFilters({ [filterKey]: data.key })" @removed="setFilters({ [filterKey]: undefined })" /> -->
                <!-- {{ data.key }} {{ data.percentage.toFixed(2) }}% -->
                <div class="column p-0 is-4 mx-auto" v-for="(data, k) in dataArray">

                    <div v-if="data.count !== 0 && data.percentage !== 0">
                        <ApexChart :id="`radialIndividualChart${Math.random()}`" :type="miniRadialChart.chart.type"
                            :height="150" :series="[data.percentage.toFixed(2)]" :options="{
                                ...miniRadialChart,
                                ...{
                                    labels: [data.key],
                                    colors: [miniRadialChart.colors[k]],
                                    fill: {
                                        ...miniRadialChart.fill,
                                        ...{
                                            gradient: {
                                                ...miniRadialChart.fill.gradient,
                                                ...{ gradientToColors: [miniRadialChart.fill.gradient.gradientToColors[k]] }
                                            }
                                        }
                                    }
                                }
                            }">
                        </ApexChart>
                    </div>
                </div>
                <!-- <VProgress :value="data.percentage" size="tiny" /> -->
            </div>
            <div v-else-if="type == 'text'" class="textWidgetHolder">
                <!-- <FilterButtons :show="false" @added="setFilters({ [filterKey]: data.key })" @removed="setFilters({ [filterKey]: undefined })" /> -->
                <!-- {{ data.key }} {{ data.percentage.toFixed(2) }}% -->
                <div class="column text py-3" v-for="(data, k) in dataArray">
                    <h6 class="m-0 title is-7 has-text-light">{{ data.key }}</h6>
                    <h6 class="m-0 title is-7 has-text-warning">{{ data.percentage.toFixed(2) }}%</h6>
                </div>
                <!-- <VProgress :value="data.percentage" size="tiny" /> -->
            </div>
            <div v-else-if="type == 'textWrap'" class="textWidgetHolder wrap">
                <!-- <FilterButtons :show="false" @added="setFilters({ [filterKey]: data.key })" @removed="setFilters({ [filterKey]: undefined })" /> -->
                <!-- {{ data.key }} {{ data.percentage.toFixed(2) }}% -->
                <div class="column text py-5" v-for="(data, k) in dataArray">
                    <div v-if="data.count !== 0 && data.percentage !== 0">
                        <h6 class="m-0 is-bold title is-6 has-text-light">{{ data.key }}</h6>
                        <h5 class="m-0 is-bold title is-5 has-text-success">{{ data.percentage.toFixed(2) }}%</h5>
                    </div>
                </div>
                <!-- <VProgress :value="data.percentage" size="tiny" /> -->
            </div>
            <div v-else-if="type == 'textCard'" class="my-2 px-2 columns is-flex-wrap-wrap">
                <!-- <FilterButtons :show="false" @added="setFilters({ [filterKey]: data.key })" @removed="setFilters({ [filterKey]: undefined })" /> -->
                <!-- {{ data.key }} {{ data.percentage.toFixed(2) }}% -->
                <div v-for="(data, k) in dataArray" class="column is-6 py-1 px-0">
                    <VCard class="px-5 py-3 textCard" radius="rounded"
                        :style="`box-shadow: 0 0 1.5rem ${'rgb(249, 153, 26)'.replace(')', `,${0.01 * data.percentage})`)};`">
                        <span class="has-text-white has-text-center has-text-center">
                            <h5 class="m-0 is-bold title is-5">{{ data.key }}</h5>
                            <hr class="my-2">
                            <h5 class="m-0 is-bold title is-5">{{ data.percentage.toFixed(2)
                            }}%
                            </h5>
                        </span>
                    </VCard>
                </div>
                <!-- <VProgress :value="data.percentage" size="tiny" /> -->
            </div>
            <div v-else-if="type == 'textLabels'" class="my-2 px-2 columns is-flex-wrap-wrap">
                <!-- <FilterButtons :show="false" @added="setFilters({ [filterKey]: data.key })" @removed="setFilters({ [filterKey]: undefined })" /> -->
                <!-- {{ data.key }} {{ data.percentage.toFixed(2) }}% -->
                <div style="font-size: 0.8rem;font-weight: 500;"
                    class="column p-1 is-6 is-flex is-align-items-center is-justify-content-space-between is-flex"
                    v-for="(data, k) in dataArray">
                    <small class="has-text-white py-1">{{ data.key }}</small>
                    <small style="width:50%;" class="p-1 has-text-white is-rounded ml-1"
                        :style="`background-color: ${rgbFromPercentage(data.percentage)};`">{{
                            data.percentage.toFixed(2) }}%</small>
                </div>
                <!-- <VProgress :value="data.percentage" size="tiny" /> -->
            </div>
            <div v-else-if="type == 'bar'">
                <!-- <FilterButtons :show="false" @added="setFilters({ [filterKey]: data.key })" @removed="setFilters({ [filterKey]: undefined })" /> -->
                <!-- {{ data.key }} {{ data.percentage.toFixed(2) }}% -->
                <ApexChart :id="`radialChart${Math.random()}`" :type="barChartOptions.chart.type"
                    :height="barChartOptions.chart.height" :series="[{
                        data: dataArray.map((e) => { return { y: e.percentage.toFixed(2), x: e.key } })
                    }]"
                    :options="{ ...barChartOptions, ...{ xaxis: { ...barChartOptions.xaxis, ...{ categories: dataArray.map(e => e.key) } } } }">
                </ApexChart>
                <!-- <VProgress :value="data.percentage" size="tiny" /> -->
            </div>
            <div v-else-if="type == 'radar'">
                <!-- <FilterButtons :show="false" @added="setFilters({ [filterKey]: data.key })" @removed="setFilters({ [filterKey]: undefined })" /> -->
                <!-- {{ data.key }} {{ data.percentage.toFixed(2) }}% -->
                <ApexChart :id="`radarChart${Math.random()}`"
                    :series="dataArray.map((p) => parseFloat((p.percentage + 10).toFixed(2)))" :type="radarChart.chart.type"
                    :height="radarChart.chart.height"
                    :options="{ ...radarChart, ...{ labels: dataArray.map((p) => p.key) } }">
                </ApexChart>
                <!-- <VProgress :value="data.percentage" size="tiny" /> -->
            </div>
            <div v-else-if="type == 'donut'">
                <!-- <FilterButtons :show="false" @added="setFilters({ [filterKey]: data.key })" @removed="setFilters({ [filterKey]: undefined })" /> -->
                <!-- {{ data.key }} {{ data.percentage.toFixed(2) }}% -->
                <ApexChart :id="`donutChart${Math.random()}`"
                    :series="dataArray.map((p) => parseFloat((p.percentage + 10.0).toFixed(2)))" type="donut"
                    :options="{ ...donutChart, ...{ labels: dataArray.map((p) => p.key) } }"
                    :height="donutChart.chart.height">
                </ApexChart>
                <!-- <VProgress :value="data.percentage" size="tiny" /> -->
            </div>
            <div v-if="type == 'heroCard'">
                <div class="is-flex is-justify-content-center my-4" style="width:100%;height:180px">
                    <RadialProgressText :diameter="180" :text="dataArray[0].key"
                        :percentage="parseFloat(dataArray[0].percentage.toFixed(dataArray[0].percentage.toString().includes('0.00') ? 4 : 2))"
                        color="warning">
                    </RadialProgressText>
                </div>
                <div v-if="false" class="is-flex is-justify-content-center has-text-weight-bold">
                    <span style="width: 10px;height: 10px;" class="mt-1 is-rounded  mx-1"></span>{{
                        dataArray[0].key }}
                </div>
                <small class="is-capitalized">The most traffic {{ dataLabel.split(' ')[dataLabel.split(' ').length -
                    1].slice(0, -1) }}</small>
            </div>
            <div v-else="dataArray.length < 1">
                <slot></slot>
            </div>

        </VCard>
        <div v-if="type == 'heroCard'" class="my-2 px-2 columns is-flex-wrap-wrap is-flex-direction-column">
            <div class="column columns mx-0 mt-2 p-0 mb-1">
                <div class="is-flex-direction-column" style="width: 100%;">
                    <div v-for="(data, k) in dataArray">
                        <div v-if="data.count !== 0 && data.percentage !== 0">
                            <div v-if="k > 0" class="columns m-0 mt-4 is-flex-direction-column">
                                <div class="is-relative">
                                    <FilterButtons v-if="filterKey" :show="dataArray.length > 1"
                                        @added="setFilters({ [filterKey]: data.key })"
                                        @removed="setFilters({ [filterKey]: undefined })" />
                                </div>
                                <div class="is-flex is-flex-direction-column">
                                    <div class="is-flex is-align-items-end">
                                        <h5 class="title is-5 has-text-primary is-normal my-0">
                                            {{ data.percentage.toFixed(data.percentage.toString().includes('0.00') ? 4 : 2)
                                            }}%
                                        </h5>
                                        <span style="line-height: 1rem;"
                                            class="ml-2 has-text-weight-normal has-text-warning">{{
                                                data.key }}</span>
                                    </div>
                                </div>
                                <VProgress class="mt-1" color="warning" :value="data.percentage" size="small" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </VCard>
</template>
<style scoped lang="scss">
.textWidgetHolder {
    display: flex;
    justify-content: center;

    .text {
        font-family: var(--font-alt);
        border-color: #9191911a !important;
        font-size: .7rem;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0;


    }

    &.wrap {
        flex-wrap: wrap;
        // gap: 10px;

        .text {
            flex: 45%;
            font-size: 1rem;
            font-weight: 700;
            border-bottom: 1px solid;
            border-left: 1px solid;

            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(5) {
                border-left: none !important;
            }

            &:nth-child(5),
            &:nth-child(6) {
                border-bottom: none !important;
            }

        }
    }

}

.dataCardHolder {
    border-radius: 15px;
    box-shadow: none;
    display: flex;
    padding: .5rem;
    width: 100%;

    &.inCard {
        background-color: #cfd5de0a;
        padding: 1rem;
        margin-top: -0.5rem;
        margin-left: -0.5rem;
        width: calc(100% + 1rem);

        .dataCard {
            width: 100%;
            background: #cfd5de0a !important;

            .cardTitle {
                margin-top: .5rem;
                padding: 0 .5rem;
            }
        }
    }

    .dataCard {
        border-radius: 15px;
        padding: 10px;
        box-shadow: none;
        transition: background-color 1s, left 0.5s ease-in-out, opacity 0.5s, position 1s,
            height 1s;
        left: 0;
        position: relative;
        z-index: 3;

        .cardTitle {
            color: var(--white);
            font-weight: 800;
            box-shadow: none;
            text-transform: uppercase;
            border-radius: 10px;
            width: calc(100% - 10px);
            text-align: left;
            display: flex;
            align-items: center;
            gap: 5px;

            &.subTitle {
                font-weight: 500;
                font-size: 0.7em;
            }

            // margin-left: 1rem;
            img {
                width: 25px;
                height: 25px;
                filter: invert(1);
            }
        }
    }

}

.textCard {
    position: relative;
    overflow: hidden;
    // background-color: var(--warning);
    background-color: transparent;
    // border-color: var(--primary);

    &::before {
        content: '';
        position: absolute;
        width: 15rem;
        height: 15rem;
        border-radius: 99999px;
        left: -7rem;
        top: -11rem;
        background-color: rgb(255, 255, 255, 0.03);
        filter: blur(20px);
    }

    hr {
        background-color: var(--warning);
    }
}
</style>