<!-- <route lang="yaml">
meta:
  neededAccess: 'dashboard'
</route> -->
<script lang="ts">
import ApexChart from 'vue3-apexcharts'
import mapboxgl from 'mapbox-gl'
import { radialChartOptions, protocolChartOptions } from '/@src/data/mapCharts'
import { useViewWrapper } from '/@src/stores/viewWrapper'
import { useHead } from '@vueuse/head'
import { type Map } from 'mapbox-gl'
import { env } from 'process'
import {
  type FeatureCollection,
  type GeoJsonProperties,
  type Geometry,
  Position,
} from 'geojson'
import { line, zoom } from 'billboard.js'
import { appendFile } from 'fs'
import { useApi } from '/@src/composable/useApi'
import { type CountryCoords, countryLocations } from '/@src/data/countriesLocations'
import { servicePorts } from '/@src/data/servicePorts'
import { useDarkmode } from '/@src/stores/darkmode'
import { random } from 'cypress/types/lodash'
import sleep from '/@src/utils/sleep'
import { count } from 'console'
import { useUserSession } from '/@src/stores/userSession'
import { VTabsItem } from '/@src/components/base/tabs/VTabs.vue'
import * as mapCharts from '/@src/data/mapCharts'

useHead({
  title: 'سامانه هوشمند تحلیل ترافیک سیوان',
})
export default {
  components: { ApexChart },
  data() {
    return {
      charts: mapCharts
    }
  },
  computed: {
  },
  watch: {},
  async mounted() {
    useViewWrapper().setPageTitle('Dashboard')
  },
  beforeUnmount() {
  },
  methods: {
  },
}
</script>
    
<template>
  <div>
    Hola, This gon be our dashboward
    <div class="columns py-5">
      <div class="column is-3">
        <div class="is-flex is-align-items-center is-flex-direction-column">
          <RadialProgressText text="Inbound Traffic" :percentage="5.67" color="primary">
          </RadialProgressText>
        </div>
      </div>
      <div class="column is-3">
        <div class="is-flex is-align-items-center is-flex-direction-column">
          <RadialProgressText text="Inbound Traffic" :percentage="12.20" color="secondary">
          </RadialProgressText>
        </div>
      </div>
      <div class="column is-3">
        <div class="is-flex is-align-items-center is-flex-direction-column">
          <RadialProgressText text="Inbound Traffic" :percentage="20.15" color="purple">
          </RadialProgressText>
        </div>
      </div>
      <div class="column is-3">
        <div class="is-flex is-align-items-center is-flex-direction-column">
          <RadialProgressText text="Inbound Traffic" :percentage="25.50" color="danger">
          </RadialProgressText>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3">
        <VCard class="is-flex is-align-items-center is-flex-direction-column">
          <Transition name="fade-slow" mode="in-out">
            <RadialProgressText text="Oonbound Traffic" :percentage="31.53" color="primary">
            </RadialProgressText>
          </Transition>
        </VCard>
      </div>
      <div class="column is-3">
        <VCard class="is-flex is-align-items-center is-flex-direction-column">
          <Transition name="fade-slow" mode="in-out">
            <RadialProgressText text="Oonbound Traffic" :percentage="37.20" color="secondary">
            </RadialProgressText>
          </Transition>
        </VCard>
      </div>
      <div class="column is-3">
        <VCard class="is-flex is-align-items-center is-flex-direction-column">
          <RadialProgressText text="Oonbound Traffic" :percentage="43.60" color="warning">
          </RadialProgressText>
        </VCard>
      </div>
      <div class="column is-3">
        <VCard class="is-flex is-align-items-center is-flex-direction-column">
          <RadialProgressText text="Oonbound Traffic" :percentage="83.30" color="danger">
          </RadialProgressText>
        </VCard>
      </div>
    </div>
  </div>
</template>
<style lang="scss"></style>