<script lang="ts">
</script>
<template>
    <VLoader class="test" size="xl" :active="true" translucent>
        <VButton color="dark" dark-outlined class="has-text-centered dataCard collapseButton title is-6 mb-3">
            <VIcon :icon="true ? 'feather:chevron-left' : 'feather:chevron-right'">
            </VIcon>
            <!-- Total: {{ totalAtts.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") }} -->
        </VButton>
    </VLoader>
</template>
<style lang="scss">
.test {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>