<script lang="ts">
import UserForm from "/@src/components/pages/forms/profile/UserForm.vue"
import { useHead } from '@vueuse/head'
import { useViewWrapper } from '/@src/stores/viewWrapper'
import { useUserSession } from "/@src/stores/userSession";
export default {
    components: { UserForm },
    data() {
        return { user: { ...useUserSession().user } }
    },
    mounted() {
        const viewWrapper = useViewWrapper()
        viewWrapper.setPageTitle('Profile')
        useHead({
            title: '',
        })
    }
}

</script>


<template>
    <!--Edit Profile-->
    <div class="column mx-auto is-7 my-6">

        <VCard class="form-body mt-6" autocomplete="off">
            <div class="has-text-centered my-2">
                <VCard style="margin-top:-5rem;">
                    <VAvatar size="xl" color="primary"
                        v-bind:initials="`${user?.first_name?.slice(0, 1)} ${user?.last_name?.slice(0, 1)}`" />
                </VCard>
                <div class="fieldset-heading">
                    <h4>{{ user?.first_name }} {{ user?.last_name }}</h4>
                    <p>{{ user?.position }}</p>
                </div>
            </div>
            <!--Fieldset-->
            <div class="fieldset">

                <div class="fieldset-heading mb-3">
                    <h4>Personal Info</h4>
                </div>

                <div class="columns is-multiline">
                    <!--Field-->
                    <div class="column is-12">
                        <VField>
                            <i class="fad fa-at"></i>
                            Username:
                            {{ user.username }}
                        </VField>
                    </div>
                    <!--Field-->
                    <div class="column is-6">
                        <i class="fad fa-user-crown"></i>
                        {{ user.first_name }}
                        {{ user.last_name }}
                    </div>
                    <!--Field-->
                    <div class="column is-12">
                        <i class="fad fa-briefcase"></i>
                        Position:
                        {{ user.position }}
                    </div>
                    <!--Field-->
                </div>
            </div>

        </VCard>
    </div>
</template>