<script lang="ts">
import { User } from './models/users'
import { useUserSession } from './stores/userSession'
import { initDarkmode } from '/@src/stores/darkmode'

// This is the global app setup function

/**
 * Initialize the darkmode watcher
 *
 * @see /@src/stores/darkmode
 */
export default {
  created() {
    initDarkmode()
    this.$socket.on('userUpdated', (user: User) => {
      if (useUserSession().user?._id == user._id)
        useUserSession().setUser(user)
    })
  },
}
</script>

<template>
  <div>
    <Suspense>
      <RouterView v-slot="{ Component }">
        <Transition name="fade-slow" mode="out-in">
          <component :is="Component" />
        </Transition>
      </RouterView>
    </Suspense>
    <ClientOnly>
      <VReloadPrompt app-name="Razhman" />
    </ClientOnly>
  </div>
</template>
