@charset "UTF-8";

/*! main.scss | Vuero | Css ninja 2020-2022 */

/* ==========================================================================
SCSS Imports
========================================================================== */

@import './bulma-generated/generated-vars.sass';
@import './css-variables/all';

@import './abstracts/all';

// Here we import bulma-css-vars instead of bulma
// because we want to use the variables defined in the file
@import '../../node_modules/@cssninja/bulma-css-vars/bulma-cv-lib.sass';

@import './layout/all';

@import './components/cards';
@import './components/content';
@import './components/forms-general';
@import './components/forms-checkboxes';
@import './components/forms-slider';
@import './components/forms-multiselect';
@import './components/steps';
@import './components/links';
@import './components/lists';
@import './components/nprogress';
@import './components/datepicker';
@import './components/divider';
@import './components/editors';
@import './components/charts';
@import './components/toggles';
@import './components/placeload';
@import './components/popovers';
@import './components/stay-focus';
@import './components/theme-switch';
@import './components/tabs';
@import './components/table';
@import './components/toasts';
@import './components/toolbar';
@import './components/tooltips';
@import './components/ckeditor';
@import './components/color-picker';
@import './components/credit-card';
@import './components/widgets';
@import './components/layout-selector';
@import '/node_modules/jsvectormap/dist/css/jsvectormap.min.css';

* {
    outline: none;
}

:not(.scroll)::-webkit-scrollbar {
    display: none;
}

@mixin scroll-style($size: 5px,
    $thumb: none,
    $thumb-color: grey,
    $thumb-radius: 10px,
    $track-color: transparent,
    $track-radius: 10px) {

    // Respaldo para Firefox
    scrollbar-color: $thumb-color $track-color;
    scrollbar-width: thin;

    // Navegadores basados en webkit
    &::-webkit-scrollbar {
        width: $size;
        height: $size;

        &-track {
            background-color: $track-color;
            border-radius: $track-radius;
        }

        &-thumb {
            background-color: $thumb-color;
            background-image: $thumb;
            border-radius: $thumb-radius;
        }
    }
}

.scroll {
    @include scroll-style($size: var(--scroll-size, 10px),

        $thumb: var(--scroll-thumb, none),
        $thumb-color: var(--scroll-thumb-color, grey),
        $thumb-radius: var(--scroll-thumb-radius, var(--scroll-radius)),

        $track-color: var(--scroll-track, transparent),
        $track-radius: var(--scroll-track-radius, var(--scroll-radius)),
    );

    // Ejemplo 1
    &-1 {
        --scroll-size: 10px;
        --scroll-radius: 10px;
        --scroll-track: rgb(0 0 0 / 40%);
        --scroll-thumb-color: #dfdfdf;
    }

    // Ejemplo 2
    &-2 {
        --scroll-size: 8px;
        --scroll-radius: 10px;
        --scroll-track: rgb(255 255 255 / 10%);
        --scroll-thumb-color: rgb(0 0 0 / 80%);
    }

    // Ejemplo 3
    &-3 {
        --scroll-size: 5px;
        --scroll-radius: 10px;
        --scroll-track: rgb(255 255 255 / 10%);
        --scroll-thumb-color: #fff;
    }

    // Ejemplo 4
    &-4 {
        $bg-mask: rgba(0, 0, 0, 0.45);
        --scroll-size: 0;
        --scroll-radius: 20px;
        --scroll-track: rgb(0 0 0 / 40%);
        --scroll-thumb: linear-gradient(70deg,
            #{$bg-mask} 5%, transparent 5%,
            transparent 10%, #{$bg-mask} 10%,
            #{$bg-mask} 15%, transparent 15%,
            transparent 20%, #{$bg-mask} 20%,
            #{$bg-mask} 25%, transparent 25%,
            transparent 30%, #{$bg-mask} 30%,
            #{$bg-mask} 35%, transparent 35%,
            transparent 40%, #{$bg-mask} 40%,
            #{$bg-mask} 45%, transparent 45%,
            transparent 50%, #{$bg-mask} 50%,
            #{$bg-mask} 55%, transparent 55%,
            transparent 60%, #{$bg-mask} 60%,
            #{$bg-mask} 65%, transparent 65%,
            transparent 70%, #{$bg-mask} 70%,
            #{$bg-mask} 75%, transparent 75%,
            transparent 80%, #{$bg-mask} 80%,
            #{$bg-mask} 85%, transparent 85%,
            transparent 90%, #{$bg-mask} 90%,
            #{$bg-mask} 95%, transparent 95%,
            transparent 100%, #{$bg-mask} 100%);
        --scroll-thumb-color: var(--secondary-dark-20);
    }

    // Ejemplo 5
    &-5 {
        --scroll-size: 15px;
        --scroll-radius: 20px;
        --scroll-track: rgb(255 255 255 / 10%);
        --scroll-thumb: linear-gradient(45deg, #00aeff, #a68eff);
    }

    // Ejemplo 6
    &-6 {
        $bg-mask: rgb(255 255 255 / 30%);
        --scroll-size: 12px;
        --scroll-radius: 20px;
        --scroll-track: rgb(0 0 0 / 40%);
        --scroll-thumb: linear-gradient(#{$bg-mask} 20%, transparent 20%,
            transparent 40%, #{$bg-mask} 40%,
            #{$bg-mask} 60%, transparent 60%,
            transparent 80%, #{$bg-mask} 80%);
        --scroll-thumb-color: #10b981;
    }
}