<script setup lang="ts">
import type { SidebarTheme } from '/@src/components/navigation/desktop/Sidebar.vue'
import { usePanels } from '/@src/stores/panels'
import { useViewWrapper } from '/@src/stores/viewWrapper'
import { useUserSession } from '/@src/stores/userSession';
import { AccessRoles } from '/@src/models/users'

const props = withDefaults(
  defineProps<{
    theme?: SidebarTheme
    defaultSidebar?: string
    closeOnChange?: boolean
    openOnMounted?: boolean
    nowrap?: boolean
  }>(),
  {
    defaultSidebar: 'map',
    theme: 'labels-hover',
  }
)
const userSession = useUserSession()
const viewWrapper = useViewWrapper()
const panels = usePanels()
const route = useRoute()
const isMobileSidebarOpen = ref(false)
const isDesktopSidebarOpen = ref(props.openOnMounted)
const activeMobileSubsidebar = ref(props.defaultSidebar)

function switchSidebar(id: string) {
  if (id === activeMobileSubsidebar.value) {
    isDesktopSidebarOpen.value = !isDesktopSidebarOpen.value
  } else {
    isDesktopSidebarOpen.value = true
    activeMobileSubsidebar.value = id
  }
}

/**
 * watchPostEffect callback will be executed each time dependent reactive values has changed
 */
watchPostEffect(() => {
  viewWrapper.setPushed(isDesktopSidebarOpen.value ?? false)
})
watch(
  () => route.fullPath,
  () => {
    isMobileSidebarOpen.value = false

    if (props.closeOnChange && isDesktopSidebarOpen.value) {
      isDesktopSidebarOpen.value = false
    }
  }
)
</script>

<template>
  <div class="sidebar-layout">
    <div class="app-overlay"></div>

    <!-- Mobile navigation -->
    <MobileNavbar :is-open="isMobileSidebarOpen" @toggle="isMobileSidebarOpen = !isMobileSidebarOpen">
      <template #brand>
        <RouterLink to="/" class="navbar-item is-brand">
          <AnimatedLogo width="38px" height="38px" />
        </RouterLink>

        <div class="brand-end">
          <!-- <NotificationsMobileDropdown /> -->
          <UserProfileDropdown />
        </div>
      </template>
    </MobileNavbar>

    <!-- Mobile sidebar links -->
    <MobileSidebar :is-open="isMobileSidebarOpen" @toggle="isMobileSidebarOpen = !isMobileSidebarOpen">
      <template #links>
        <li>
          <a v-tooltip.bottom.bubble="`Display dashboard`" :class="[activeMobileSubsidebar === 'map' && 'is-active']"
            tabindex="0" @keydown.space.prevent="activeMobileSubsidebar = 'dashboard'"
            @click="activeMobileSubsidebar = 'dashboard'">
            <i aria-hidden="true" class="iconify" data-icon="feather:map"></i>
          </a>
        </li>
        <li>
          <a v-tooltip.bottom.bubble="`layout`" :class="[activeMobileSubsidebar === 'layout' && 'is-active']" tabindex="0"
            @keydown.space.prevent="activeMobileSubsidebar = 'layout'" @click="activeMobileSubsidebar = 'layout'">
            <i aria-hidden="true" class="iconify" data-icon="feather:grid"></i>
          </a>
        </li>
        <li>
          <a v-tooltip.bottom.bubble="`element`" :class="[activeMobileSubsidebar === 'elements' && 'is-active']"
            tabindex="0" @keydown.space.prevent="activeMobileSubsidebar = 'elements'"
            @click="activeMobileSubsidebar = 'elements'">
            <i aria-hidden="true" class="iconify" data-icon="feather:box"></i>
          </a>
        </li>
        <li>
          <a v-tooltip.bottom.bubble="`components`" :class="[activeMobileSubsidebar === 'components' && 'is-active']"
            tabindex="0" @keydown.space.prevent="activeMobileSubsidebar = 'components'"
            @click="activeMobileSubsidebar = 'components'">
            <i aria-hidden="true" class="iconify" data-icon="feather:cpu"></i>
          </a>
        </li>
        <li>
          <RouterLink to="/messaging-v1">
            <i aria-hidden="true" class="iconify" data-icon="feather:message-circle"></i>
          </RouterLink>
        </li>
      </template>

      <template #bottom-links>
        <li>
          <a v-tooltip.bottom.bubble="`search`" tabindex="0" @keydown.space.prevent="panels.setActive('search')"
            @click="panels.setActive('search')">
            <i aria-hidden="true" class="iconify" data-icon="fad fa-search"></i>
          </a>
        </li>
        <li>
          <a v-tooltip.bottom.bubble="`Settings`" href="#">
            <i aria-hidden="true" class="iconify" data-icon="fad fa-cogs"></i>
          </a>
        </li>
      </template>
    </MobileSidebar>

    <!-- Desktop navigation -->
    <Sidebar :theme="props.theme" :is-open="isDesktopSidebarOpen">
      <template #links>
        <!-- Dashboards -->
        <li v-if="userSession.user?.roles?.includes(AccessRoles.General)">
          <RouterLink tabindex="0" to="/app">
            <i aria-hidden="true" class="mb-2 fad fa-dashboard sidebar-svg"></i>
            <small>Dashboard</small>
          </RouterLink>
        </li>
        <li v-if="userSession.user?.roles?.includes(AccessRoles.NetworkVisibility)">
          <RouterLink tabindex="0" to="/map/network">
            <i aria-hidden="true" class="mb-2 fad fa-sliders sidebar-svg"></i>
            <small>Network Visibility</small>
          </RouterLink>
        </li>
        <li v-if="userSession.user?.roles?.includes(AccessRoles.ApplicationVisibility)">
          <RouterLink tabindex="0" to="/map/application">
            <i aria-hidden="true" class="mb-2 fad fa-pie-chart sidebar-svg"></i>
            <small>Application Visibility</small>
          </RouterLink>
        </li>
      </template>

      <template #bottom-links>
        <!-- Settings -->
        <li v-if="userSession.user?.roles?.includes(AccessRoles.UserControl)" class="is-hidden-touch">
          <RouterLink id="open-settings" to="/app/settings">
            <i aria-hidden="true" class="mb-2 fad fa-cogs sidebar-svg"></i>
            <small>Settings</small>
          </RouterLink>
        </li>

        <!-- Profile Dropdown -->
        <li class="">
          <UserProfileDropdown up />
        </li>
      </template>
    </Sidebar>

    <VViewWrapper>
      <VPageContentWrapper>
        <template v-if="props.nowrap">
          <slot></slot>
        </template>
        <VPageContent v-else class="is-relative">
          <div v-if="!$route.fullPath.includes('/map')" class="page-title has-text-centered">
            <!-- Sidebar Trigger -->
            <div class="nav-trigger push-resize" tabindex="0">
              <span class="menu-toggle has-chevron">
                <span :class="[isDesktopSidebarOpen && 'active']" class="icon-box-toggle">
                  <span class="rotate">
                    <i aria-hidden="true" class="icon-line-top"></i>
                    <i aria-hidden="true" class="icon-line-center"></i>
                    <i aria-hidden="true" class="icon-line-bottom"></i>
                  </span>
                </span>
              </span>
            </div>

            <div class="title-wrap">
              <h1 class="title is-4">{{ viewWrapper.pageTitle }}</h1>
            </div>
          </div>

          <slot></slot>
        </VPageContent>
      </VPageContentWrapper>
    </VViewWrapper>
  </div>
</template>
